<!--resetTableMaxHeight.html start-->
<script>
   resetTableMaxHeight = (height) => {
    const tables = document.getElementsByClassName('fixed-table-height');
    if (_.isEmpty(tables)) {
      window.requestAnimationFrame(() => {
        resetTableMaxHeight(height);
      })
    } else {
      for (const table of tables) {
        table.style.height = window.innerHeight - table.offsetTop - (height ? height : 145) + 'px';
      }
    }
  }
  window.onresize = () => {
    resetTableMaxHeight();
  }
  resetTableMaxHeight();
</script>
<!--resetTableMaxHeight.html end-->
