{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-15">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-8">
      <div class="pt-3 text-h7 font-weight-bold">薪资档案
        <!-- 帮助页按钮 -->
        <!-- <v-icon @click="isHelpPageDrawerShown = true" color="success" small>mdi-help-circle-outline</v-icon> -->
      </div>
      <v-breadcrumbs class="pb-3 pt-0 px-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->

    <div class="jh-page-body-container px-8">
      <!-- 页面内容 >>>>>>>>>>>>> -->
      <v-card class="rounded-lg">
        <v-row class="ma-0 pa-4">

          <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pa-0">
            <v-btn color="success" dark small class="elevation-0 mr-2" @click="doUiAction('startCreateItem')">批量调薪</v-btn>
            <v-btn class="elevation-0 mr-2" small @click="showChangeTmpDrawer">管理调薪模板</v-btn>
            <span class="body-2">共{{ tableData.length }}条记录</span>
          </v-col>

          <v-spacer></v-spacer>

          <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pa-0">
            <v-text-field v-model="searchInput" label="表格过滤" class="jh-v-input" dense filled single-line></v-text-field>
          </v-col>
        </v-row>
        <v-data-table fixed-header
                      :headers="headers"
                      :items="tableData"
                      :search="searchInput"
                      :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                      :items-per-page="20"
                      mobile-breakpoint="0"
                      :loading="isTableLoading"
                      checkbox-color="success"
                      class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
          <template v-slot:item.status="{item}">
            {{getConstText('status', item.status)}}
          </template>
          <template v-slot:item.action="{ item }">
            <span role="button":disabled="!isEdit" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('showEmployeeDetail', {item})">
              <v-icon size="16" class="success--text">mdi-file-document-outline</v-icon>薪资明细
            </span>
            <span role="button" :disabled="!isEdit" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('startUpdateItem', {item})">
              <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>{{ item.changeType && item.changeType != '未调薪' ? '调薪' : '定薪'}}
            </span>
            <span role="button" v-if="['已定薪', '已调薪'].includes(item.changeType)" :disabled="!isEdit" class="success--text font-weight-medium font-size-2" @click="doUiAction('showEmployeeChangeRecord', {item})">
              <v-icon size="16" class="success--text">mdi-file-document-outline</v-icon>调薪记录
            </span>
          </template>
                
          <!-- 没有数据 -->
          <template v-slot:loading>
            <div class="jh-no-data">数据加载中</div>
          </template>
          <template v-slot:no-data>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <template v-slot:no-results>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <!-- 表格分页 -->
          <template v-slot:footer.page-text="pagination">
            <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
            <span class="ml-1">共{{pagination.itemsLength}}条</span>
          </template>
        </v-data-table>
      </v-card>
    </div>

<!-- 调薪记录抽屉 -->
<v-navigation-drawer v-model="isEmployeeChangeRecordShow" :permanent="isEmployeeChangeRecordShow" fixed temporary right width="80%" class="elevation-24">
  <v-card v-if="isEmployeeChangeRecordShow">
    <!-- 抽屉标题 -->
    <v-row>
      <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">{{editItem.employeeName}}-调薪记录</span>
    </v-row>
    <v-row class="mt-0 px-4">
      <v-col cols="12" sm="12" md="12" xl="12" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <change-record :employeeId="editItem.employeeId" :changeReasonList="constantObj.changeReason" :employeeName="editItem.employeeName"></change-record>
      </v-col>
    </v-row>
  </v-card>
  <!-- 抽屉关闭按钮 -->
  <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isEmployeeChangeRecordShow = false">
    <v-icon>mdi-close</v-icon>
  </v-btn>
</v-navigation-drawer>

<!-- 个人详情抽屉 -->
<v-navigation-drawer v-model="isEmployeeDetailShow" :permanent="isEmployeeDetailShow" fixed temporary right width="80%" class="elevation-24">
  <v-card>
    <!-- 抽屉标题 -->
    <v-row>
      <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">{{editItem.employeeName}}</span>
    </v-row>
    <v-row class="mt-0 px-4">
      <v-col cols="12" sm="12" md="12" xl="12" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">薪资信息合计</span>
        <div>{{newSalarySum}}</div>
      </v-col>
      <v-col v-for="(item, index) in editItem.salaryList" cols="6" sm="6" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">{{item.name}}</span>
        <v-text-field class="jh-v-input " readonly dense filled single-line v-model="item.value"></v-text-field>
      </v-col>
    </v-row>
  </v-card>
  <!-- 抽屉关闭按钮 -->
  <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isEmployeeDetailShow = false">
    <v-icon>mdi-close</v-icon>
  </v-btn>
</v-navigation-drawer>

<!-- 新增 -->
<v-navigation-drawer v-model="isCreateDrawerShown" :permanent="isCreateDrawerShown" fixed temporary right width="80%" class="elevation-24">
  <v-form v-model="isFormValid" v-if="isCreateDrawerShown" ref="form" lazy-validation>
    <!-- 抽屉标题 -->
    <v-row>
      <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">新增信息</span>
    </v-row>
    <v-row class="mt-0 px-4">
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">调薪原因 1 入职核定 2 转正 3 晋升 4 调动 5 年中调薪 6 年度调薪 7 特别调薪 8 其他</span>
        <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['changeReason']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">最近调整日期</span>
        <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['changeDate']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">员工id</span>
        <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['employeeId']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">0 未定薪 1 已定薪 2 已调薪</span>
        <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['changeType']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">备注</span>
        <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['remarks']"></v-text-field>
      </v-col>
       
    </v-row>
    <v-row class="justify-end pr-6">
      <v-btn color="success" @click="doUiAction('createItem')">新增</v-btn>
      <v-btn class="ml-2" @click="isCreateDrawerShown = false">取消</v-btn>
    </v-row>
  </v-form>
  <!-- 抽屉关闭按钮 -->
  <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isCreateDrawerShown = false">
    <v-icon>mdi-close</v-icon>
  </v-btn>
</v-navigation-drawer>

<!-- 定薪模板 -->
<v-navigation-drawer v-model="isChangeTmpDrawerShow" :permanent="isChangeTmpDrawerShow" fixed temporary right width="80%" class="elevation-24">
  <v-form v-model="isFormValid" ref="form" lazy-validation>
    <!-- 抽屉标题 -->
    <v-row>
      <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">管理定薪模板</span>
    </v-row>
    <v-row class="mt-0 px-4">
      <change-template ref="changeTmp" :options="constantObj.salaryOption" @refresh-change-tmp-list="setChangeTmpList"></change-template>
    </v-row>
    <v-row class="justify-end pr-6">
      <v-btn color="success" @click="doUiAction('createItem')">新增</v-btn>
      <v-btn class="ml-2" @click="isChangeTmpDrawerShow = false">取消</v-btn>
    </v-row>
  </v-form>
  <!-- 抽屉关闭按钮 -->
  <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isChangeTmpDrawerShow = false">
    <v-icon>mdi-close</v-icon>
  </v-btn>
</v-navigation-drawer>


<!-- 定薪、调薪抽屉 -->
<v-navigation-drawer v-model="isUpdateDrawerShown" :permanent="isUpdateDrawerShown" fixed temporary right width="80%" class="elevation-24">
  <v-form v-model="isFormValid" v-if="isUpdateDrawerShown" ref="form" lazy-validation>
    <!-- 抽屉标题 -->
    <v-row>
      <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">单个调薪</span>
    </v-row>
    <v-row class="mt-0 px-4">
       
      <v-col cols="12" sm="12" md="6" xl="6" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">定薪模板</span>
        <v-select @change="buildEditItem" class="jh-v-input " dense filled single-line label="班级ID" v-model="editItem.templateId"
        :items="constantObj.changeTmpList" item-text="templateName" item-value="templateId"></v-select>
      </v-col>
       
      <v-col v-if="editItem.recordType == 1" cols="12" sm="12" md="12" xl="12" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">定薪细则</span>
        <!-- 定薪 -->
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">
                  定薪项
                </th>
                <th class="text-left">
                  试用期工资
                </th>
                <th class="text-left">
                  转正后工资
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in defaultChangeTmp.value"
                :key="item.name"
              >
                <td>{{ item.name }}</td>
                <td>
                  <v-text-field v-if="editItem.proSalary.newSalary[index]" class="jh-v-input " :readonly="editItem.employeeStatus == 1" type="number" dense filled single-line v-model="editItem.proSalary.newSalary[index].value"></v-text-field>
                </td>
                <td>
                  <v-text-field v-if="editItem.salary.newSalary[index]" class="jh-v-input " type="number" dense filled single-line v-model="editItem.salary.newSalary[index].value"></v-text-field>
                </td>
              </tr>
              <tr>
                <td>合计</td>
                <td>{{ newProSalarySum }}</td>
                <td>{{ newSalarySum }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
       
      <v-col v-else cols="12" sm="12" md="12" xl="12" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">调薪细则</span>
        <span v-if="editItem.employeeStatus > 1" class="inputLabel">试用期工资</span>
        <!-- 定薪 -->
        <v-simple-table v-if="editItem.employeeStatus > 1" >
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">
                  调薪项
                </th>
                <th class="text-left">
                  调薪前
                </th>
                <th class="text-left">
                  调薪后
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in defaultChangeTmp.value"
                :key="item.name"
              >
                <td>{{ item.name }}</td>
                <td>
                  <v-text-field v-if="editItem.proSalary.oldSalary[index]" class="jh-v-input " :readonly="editItem.employeeStatus == 1" type="number" dense filled single-line v-model="editItem.proSalary.oldSalary[index].value"></v-text-field>
                </td>
                <td>
                  <v-text-field v-if="editItem.proSalary.newSalary[index]" class="jh-v-input " type="number" dense filled single-line v-model="editItem.proSalary.newSalary[index].value"></v-text-field>
                </td>
              </tr>
              <tr>
                <td>合计</td>
                <td>{{ oldProSalarySum }}</td>
                <td>{{ newProSalarySum }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
        <span class="inputLabel">转正后工资</span>
        <!-- 定薪 -->
        <v-simple-table >
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">
                  调薪项
                </th>
                <th class="text-left">
                  调薪前
                </th>
                <th class="text-left">
                  调薪后
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in defaultChangeTmp.value"
                :key="item.name"
              >
                <td>{{ item.name }}</td>
                <td>
                  <v-text-field v-if="editItem.salary.oldSalary[index]" class="jh-v-input " :readonly="editItem.employeeStatus == 1" type="number" dense filled single-line v-model="editItem.salary.oldSalary[index].value"></v-text-field>
                </td>
                <td>
                  <v-text-field v-if="editItem.salary.newSalary[index]" class="jh-v-input " type="number" dense filled single-line v-model="editItem.salary.newSalary[index].value"></v-text-field>
                </td>
              </tr>
              <tr>
                <td>合计</td>
                <td>{{ oldSalarySum }}</td>
                <td>{{ newSalarySum }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
       
      <v-col v-if="editItem.recordType > 1" cols="6" sm="12" md="6" xl="6" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">调薪原因</span>
        <v-select class="jh-v-input " dense filled single-line label="班级ID" v-model="editItem.changeReason"
        :items="constantObj.changeReason" item-text="text" item-value="value"></v-select>
      </v-col>
      <v-col v-if="editItem.recordType > 1" cols="6" sm="12" md="6" xl="6" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">调薪生效日期</span>
        <v-menu class="jh-v-input " offset-y max-width="290">
          <template v-slot:activator="{ on, attrs }">
            <v-text-field class="jh-v-input " dense filled single-line v-on="on" label="调薪生效日期" v-model="editItem.enableDate"></v-text-field>
          </template>
          <v-date-picker color="success" elevation="20" v-model="editItem.enableDate"></v-date-picker>
       </v-menu>
      </v-col>
      <v-col cols="12" sm="12" md="12" xl="12" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">备注</span>
        <v-textarea class="jh-v-input " dense filled single-line v-model="editItem['remarks']" filled single-line auto-grow rows="4"></v-textarea>
      </v-col>
    </v-row>
    <v-row class="justify-end mx-0 mt-8 px-6">
      <v-btn v-if="editItem.recordType == 1" color="success" @click="doUiAction('updateItem', {type: 'makeEmployeeArchives'})">定薪提交</v-btn>
      <v-btn v-else color="success" @click="doUiAction('updateItem', {type: 'updateEmployeeArchives'})">调薪提交</v-btn>
      <v-btn class="ml-2" @click="isUpdateDrawerShown = false">取消</v-btn>
    </v-row>
  </v-form>
  <!-- 抽屉关闭按钮 -->
  <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isUpdateDrawerShown = false">
    <v-icon>mdi-close</v-icon>
  </v-btn>
</v-navigation-drawer>

    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-model="isHelpPageDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
      <iframe
        style="border: 0" :src="`/${appInfo.appId}/pageDoc#3.doUiAction.md`" width="100%"
        height="100%"></iframe>

      <v-btn
        elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
        @click="isHelpPageDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

  </v-main>
</v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />

</div>
</script>

<div id="app">
</div>
{% endblock %}

{% block vueScript %}

<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->
{% include 'component/salary/changeTmp.html' %}
{% include 'component/salary/changeRecord.html' %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    // 面包屑
    breadcrumbs: [
      {
        text: '首页',
        disabled: true,
      },
      {
        text: '薪资档案',
        disabled: true,
      }
    ],
    isHelpPageDrawerShown: false,
    // 表格相关数据
    isTableZebraLineShown: true,
    // 表格相关数据
    isFormValid: true,
    requireRules: [
      v => !!v || 'This is required',
    ],
    constantObj: {
      // changeReason 1 入职核定 2 转正 3 晋升 4 调动 5 年中调薪 6 年度调薪 7 特别调薪 8 其他
      changeReason: [
        { text: '入职定薪', value: 0 },
        { text: '入职核定', value: 1 },
        { text: '转正', value: 2 },
        { text: '晋升', value: 3 },
        { text: '调动', value: 4 },
        { text: '年中调薪', value: 5 },
        { text: '年度调薪', value: 6 },
        { text: '特别调薪', value: 7 },
        { text: '其他', value: 8 },
      ],
      // status 员工状态 1正式 2试用  3实习 4兼职 5劳务 6顾问 7返聘 8外包
      status: [
        { text: '正式', value: 1 },
        { text: '试用', value: 2 },
        { text: '实习', value: 3 },
        { text: '兼职', value: 4 },
        { text: '劳务', value: 5 },
        { text: '顾问', value: 6 },
        { text: '返聘', value: 7 },
        { text: '外包', value: 8 },
      ],
      // changeType 0 未定薪 1 已定薪 2 已调薪
      changeType: [
        { text: '未定薪', value: '未定薪' },
        { text: '已定薪', value: '已定薪' },
        { text: '已调薪', value: '已调薪' },
      ],
      salaryOption: [],
      changeTmpList: [],
    },

    serverSearchInput: {
      studentId: null,
      classId: null
    },
    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    headers: [
      {text: '操作', value: 'action', sortable: false, width: 250, class: 'fixed', cellClass: 'fixed'},
      {text: "姓名", value: "employeeName", width: 120, class: 'fixed', cellClass: 'fixed'}, 
      {text: "工号", value: "jobNumber", width: 120}, 
      {text: "部门", value: "deptName", width: 120}, 
      {text: "员工状态", value: "status", width: 120}, 
      {text: "入职时间", value: "entryTime", width: 120}, 
      {text: "转正时间", value: "becomeTime", width: 120}, 
      {text: "最近调整日期", value: "changeDate", width: 120}, 
      {text: "调薪原因", value: "changeReason", width: 120}, 
      {text: "工资合计", value: "totalSalary", width: 120}, 
      // {text: "0 未定薪 1 已定薪 2 已调薪", value: "changeType", width: 120}, 
      // {text: "备注", value: "remarks", width: 120}, 
    ],
    isUpdateDrawerShown: false,
    editItem: {
      templateId: '',
    },
    isCreateDrawerShown: false,
    addItem: {},
    isChangeTmpDrawerShow: false,
    isEdit: false,
    defaultChangeTmp: {},
    newProSalarySum: 0,
    newSalarySum: 0,
    oldProSalarySum: 0,
    oldSalarySum: 0,
    isEmployeeDetailShow: false,
    isEmployeeChangeRecordShow: false,
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataFromBackend;
    }
  },
  watch: {
    'editItem.proSalary.newSalary': {
      deep: true,
      handler(newVal, oldVal) {
        this.newProSalarySum = parseFloat(newVal.reduce((total, item) => {
          return +total + +item.value;
        }, 0));
      }
    },
    'editItem.proSalary.oldSalary': {
      deep: true,
      handler(newVal, oldVal) {
        this.oldProSalarySum = parseFloat(newVal.reduce((total, item) => {
          return +total + +item.value;
        }, 0));
      }
    },
    'editItem.salary.newSalary': {
      deep: true,
      handler(newVal, oldVal) {
        this.newSalarySum = parseFloat(newVal.reduce((total, item) => {
          return +total + +item.value;
        }, 0));
      }
    },
    'editItem.salary.oldSalary': {
      deep: true,
      handler(newVal, oldVal) {
        this.oldSalarySum = parseFloat(newVal.reduce((total, item) => {
          return +total + +item.value;
        }, 0));
      }
    },
  },
  async created() {+
    this.getSalaryOption();
    await this.doUiAction('refreshTableData');
  },
  mounted() {},
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshTableData':
          await this.refreshTableData();
          break;
        case 'startCreateItem':
          await this.clearItemData();
          await this.openCreateItemDialog();
          break;
        case 'createItem':
          await this.prepareValidate();
          await this.confirmCreateItemDialog();
          await this.doCreateItem();
          await this.closeDrawerShow();
          await this.refreshTableData();
          break;
        case 'startUpdateItem':
          await this.prepareItemData(uiActionData);
          await this.openUpdateDialog();
          break;
        case 'showEmployeeDetail':
          await this.prepareItemData(uiActionData);
          await this.buildEmployeeDetail(uiActionData);
          await this.openEmployeeDetailDialog();
          break;
        case 'showEmployeeChangeRecord':
          await this.prepareItemData(uiActionData);
          this.isEmployeeChangeRecordShow = true;
          break;
        case 'updateItem':
          await this.prepareValidate();
          await this.confirmUpdateItemDialog();
          await this.doUpdateItem(uiActionData);
          await this.closeDrawerShow();
          await this.refreshTableData();
          break;
        case 'deleteItem':
          await this.confirmDeleteItemDialog();
          await this.doDeleteItem(uiActionData);
          await this.refreshTableData();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", { uiActionId });
          break;
      }
    },
    // =================================uiAction 公共方法 start ======================================
    
    async openEmployeeDetailDialog () {
      this.isEmployeeDetailShow = true;
    },
    // 获取
    async getSalaryOption() {
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'archivesManagement',
            actionId: 'getSalaryOption',
            actionData: {},
            where: {constantKey: 'salaryOption'},
          }
        }
      });
      const { rows } = result.data.appData.resultData;
      if (rows.length) {
        this.constantObj.salaryOption = JSON.parse(rows[0].constantValue);
      }
    },
    setChangeTmpList(rows) {
      this.constantObj.changeTmpList = rows.map(item => {
        return {
          templateId: item.id,
          templateName: item.templateName,
          code: item.code,
          value: item.value,
          isDefault: item.isDefault
        }
      })
      this.isEdit = true;
    },
    /**
     * uiActionId:  prepareValidate
     * description: ✅表单校验
    */
    async prepareValidate() {
      if (this.$refs.form.validate() === false) {
        window.vtoast.fail({ message: "输入有误, 请检查!" });
        throw new Error("[prepareValidate] false");
      }
    },

    showChangeTmpDrawer() {
      this.isChangeTmpDrawerShow = true;
      this.$refs['changeTmp'].refreshTableData();
    },
    /**
     * uiActionId:  refreshTableData
     * description: ✅获取表格数据
    */
    async refreshTableData() {
      this.isTableLoading = true;
      const serverSearchInput = _.pickBy(this.serverSearchInput, value=> !!value);
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'archivesManagement',
            actionId: 'selectItemList',
            actionData: {},
            where: {},
            whereLike: serverSearchInput
          }
        }
      });
      const { rows } = result.data.appData.resultData;

      rows.forEach(item => {
        item.entryTime = item.entryTime ? dayjs(item.entryTime).format('YYYY-MM-DD') : '';
        item.becomeTime = item.becomeTime ? dayjs(item.becomeTime).format('YYYY-MM-DD') : '';
        item.changeDate = item.changeDate ? dayjs(item.changeDate).format('YYYY-MM-DD') : '';
      });
      this.tableDataFromBackend = rows;
      this.isTableLoading = false;
    },
    // =================================uiAction 公共方法 end ======================================


    /**
     * uiActionId:  startCreateItem
     * description: ✅获取表格数据
    */
    async clearItemData() {
      this.addItem = {};
    },
    async openCreateItemDialog() {
      this.isCreateDrawerShown = true;
    },

    /**
     * uiActionId:  createItem
     * description: ✅获取表格数据
    */
    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doCreateItem() {
      const { id, ...data } = this.addItem;
      await window.vtoast.loading("新增数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'archivesManagement',
            actionId: 'insertItem',
            actionData: data
          }
        }
      })
      await window.vtoast.success("新增数据成功");
    },
    async closeDrawerShow() {
      this.isUpdateDrawerShown = false;
      this.isCreateDrawerShown = false;
    },

    /**
     * uiActionId:  startUpdateItem
     * description: ✅获取表格数据
    */
    async prepareItemData({item}) {
      this.defaultChangeTmp = this.constantObj.changeTmpList.find(item => item.isDefault == 1);
      const { employeeId, changeType, status, changeRecordList } = item;
      this.editItem = {
        employeeId,
        recordType: changeType != '未定薪' ? '已调薪' : '已定薪',
        templateId: this.defaultChangeTmp.templateId,
        proSalary: {oldSalary: [], newSalary: []},
        salary: {oldSalary: [], newSalary: []},
        remarks: '',
        changeReason: 0,
        enableDate: null,
        employeeStatus: status,
        changeRecordList,
        employeeName: item.employeeName
      };
      this.buildEditItem();
    },
    async openUpdateDialog() {
      this.isUpdateDrawerShown = true;
    },
    /**
     * uiActionId:  updateItem
     * description: ✅获取表格数据
    */
    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doUpdateItem({type}) {
      const { recordType, proSalary, salary, templateId, remarks, changeReason, enableDate, employeeId } = this.editItem;
      await window.vtoast.loading("提交调薪");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'archivesManagement',
            actionId: type,
            actionData: {recordType, proSalary, salary, templateId, remarks, changeReason, enableDate, employeeId}
          }
        }
      })
      await window.vtoast.success("提交成功");
    },

    /**
     * uiActionId:  deleteItem
     * description: ✅获取表格数据
    */
    async confirmDeleteItemDialog() {
      if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doDeleteItem({item}) {
      const { id } = item;
      await window.vtoast.loading("删除数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'archivesManagement',
            actionId: 'deleteItem',
            actionData: {},
            where: { id: id }
          }
        }
      });
      await window.vtoast.success("删除数据成功");
    },
    getConstText(constName, constValue) {
      const constData = this.constantObj[constName];
      if (!constData) {
        return constValue;
      }
      const constItem = constData.find(item => item.value === constValue);
      if (!constItem) {
        return constValue;
      }
      return constItem.text;
    },
    buildEditItem() {
      const { templateId } = this.editItem;
      const changeTmp = this.constantObj.changeTmpList.find(item => item.templateId == templateId);
      this.defaultChangeTmp = changeTmp;
      const codeList = changeTmp.code || [];
      // 定薪默认
      if (this.editItem.recordType == 1) {
        // 定薪
        this.setDefaultNewSalary(changeTmp);
        console.log('定薪', this.editItem);
      } else {
        const { changeRecordList } = this.editItem;
        // 查找薪资历史中 status = 1 和 id 最大的一条
        console.log('test', _.orderBy(changeRecordList.filter(item => item.status == 1), ['id'], ['desc']))
        const changeRecord = _.orderBy(changeRecordList.filter(item => item.status == 1), ['id'], ['desc'])[0];
        const { proSalary, salary, changeReason } = changeRecord;
        this.editItem.changeReason = +changeReason;
        if (Array.isArray(proSalary)) {
          // 调薪
          console.log('调薪', proSalary.filter(item => codeList.includes(item.code)));
          const proSalaryArr = proSalary.filter(item => codeList.includes(item.code))
          const salaryArr = salary.filter(item => codeList.includes(item.code))
          this.editItem.proSalary.oldSalary = _.cloneDeep(proSalaryArr);
          this.editItem.proSalary.newSalary = _.cloneDeep(proSalaryArr);
          this.editItem.salary.oldSalary = _.cloneDeep(salaryArr);
          this.editItem.salary.newSalary = _.cloneDeep(salaryArr);
        } else {
          // 调薪
          this.editItem.proSalary = proSalary;
          this.editItem.salary = salary;
        }
      }
    },
    setDefaultNewSalary(changeTmp) {
      this.editItem['proSalary']['newSalary'] = changeTmp.value.map(item => {
        return {
          code: item.code,
          name: item.name,
          value: 0
        }
      })
      this.editItem['salary']['newSalary'] = changeTmp.value.map(item => {
        return {
          code: item.code,
          name: item.name,
          value: 0
        }
      })
    },
    buildEmployeeDetail({item}) {
      // 组装信息详情显示
      this.editItem.employeeName = item.employeeName;
      const salaryList = this.constantObj.salaryOption.filter(e => e.parentCode < 100);
      salaryList.forEach(e => {
        const salaryItem = this.editItem.salary.newSalary.find(s => s.code == e.code);
        if (salaryItem) {
          e.value = salaryItem.value;
        } else {
          e.value = 0;
        }
      });   
      this.editItem.salaryList = salaryList;
    }
  }
})
</script>

<style scoped>
</style>
{% endblock %}
