{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-15">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-8">
      <div class="pt-3 text-h7 font-weight-bold">计薪周期 - {{ lastYear ? lastYear + '年' + lastMonth + '月' : '暂无记录' }}
        <!-- 帮助页按钮 -->
        <v-icon @click="isHelpPageDrawerShown = true" color="success" small>mdi-help-circle-outline</v-icon>
      </div>
      <v-breadcrumbs class="pb-3 pt-0 px-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->

    <div class="jh-page-body-container px-8">
      <!-- 页面内容 >>>>>>>>>>>>> -->
      <v-card class="rounded-lg">
        <v-row class="ma-0 pa-4">

          <v-col cols="12" xs="8" sm="8" md="8" xl="8" class="pl-0">
            <v-btn color="success" dark small class="elevation-0 mr-2" @click="doUiAction('createMonthRecord', {next: false})">核算工资</v-btn>
            <v-btn color="success" dark small class="elevation-0 mr-2" @click="doUiAction('createSlipRecord')">发送工资条</v-btn>
            <v-btn color="success" dark small class="elevation-0 mr-2" @click="doUiAction('createMonthRecord', {next: true})">创建下月工资表</v-btn>
            <v-btn color="success" dark small class="elevation-0 mr-2" @click="doUiAction('editOnline')">在线编辑</v-btn>
            <span class="body-2">共{{ tableData.length }}条记录</span>
          </v-col>

          <v-spacer></v-spacer>

          <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pa-0">
            <v-text-field v-model="searchInput" label="表格过滤" class="jh-v-input" dense filled single-line></v-text-field>
          </v-col>
        </v-row>
        <v-data-table fixed-header
                      :headers="headers"
                      :items="tableData"
                      :search="searchInput"
                      :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                      :items-per-page="20"
                      mobile-breakpoint="0"
                      :loading="isTableLoading"
                      checkbox-color="success"
                      class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
          <template v-slot:item.action="{ item }">
            <span role="button" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('startUpdateItem', {item})">
              <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>修改
            </span>
            <span role="button" class="success--text font-weight-medium font-size-2" @click="doUiAction('deleteItem', {item})">
              <v-icon size="16" class="success--text">mdi-trash-can-outline</v-icon>删除
            </span>
          </template>
                
          <!-- 没有数据 -->
          <template v-slot:loading>
            <div class="jh-no-data">数据加载中</div>
          </template>
          <template v-slot:no-data>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <template v-slot:no-results>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <!-- 表格分页 -->
          <template v-slot:footer.page-text="pagination">
            <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
            <span class="ml-1">共{{pagination.itemsLength}}条</span>
          </template>
        </v-data-table>
      </v-card>


      <!-- 新增 -->
      <v-navigation-drawer v-model="isCreateDrawerShown" :permanent="isCreateDrawerShown" fixed temporary right width="80%" class="elevation-24">
        <v-form v-model="isFormValid" v-if="isCreateDrawerShown" ref="form" lazy-validation>
          <!-- 抽屉标题 -->
          <v-row>
            <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">新增信息</span>
          </v-row>
          <v-row class="mt-0 px-4">
            
            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel">sEmpRecordId</span>
              <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['sEmpRecordId']"></v-text-field>
            </v-col>
            
            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel">每月生成薪资id</span>
              <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['sRecordId']"></v-text-field>
            </v-col>
            
            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel">员工id</span>
              <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['employeeId']"></v-text-field>
            </v-col>
            
            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel">实际计薪时长</span>
              <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['actualWorkDay']"></v-text-field>
            </v-col>
            
            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel">月计薪时长</span>
              <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['needWorkDay']"></v-text-field>
            </v-col>
            
            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel">年</span>
              <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['year']"></v-text-field>
            </v-col>
            
            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel">月</span>
              <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['month']"></v-text-field>
            </v-col>
            
            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel">createTime</span>
              <v-text-field class="jh-v-input " dense filled single-line v-model="addItem['createTime']"></v-text-field>
            </v-col>
            
          </v-row>
          <v-row class="justify-end pr-6">
            <v-btn color="success" @click="doUiAction('createItem')">新增</v-btn>
            <v-btn class="ml-2" @click="isCreateDrawerShown = false">取消</v-btn>
          </v-row>
        </v-form>
        <!-- 抽屉关闭按钮 -->
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isCreateDrawerShown = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>

      <!-- 编辑抽屉 -->
      <v-navigation-drawer v-model="isUpdateDrawerShown" :permanent="isUpdateDrawerShown" fixed temporary right width="80%" class="elevation-24">
        <v-form v-model="isFormValid" v-if="isUpdateDrawerShown" ref="form" lazy-validation>
          <!-- 抽屉标题 -->
          <v-row>
            <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">编辑信息</span>
          </v-row>
          <v-row class="mt-0 px-4">
            
            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel">sEmpRecordId</span>
              <v-text-field class="jh-v-input " dense filled single-line v-model="editItem['sEmpRecordId']"></v-text-field>
            </v-col>
            
            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel">每月生成薪资id</span>
              <v-text-field class="jh-v-input " dense filled single-line v-model="editItem['sRecordId']"></v-text-field>
            </v-col>
            
            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel">员工id</span>
              <v-text-field class="jh-v-input " dense filled single-line v-model="editItem['employeeId']"></v-text-field>
            </v-col>
            
            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel">实际计薪时长</span>
              <v-text-field class="jh-v-input " dense filled single-line v-model="editItem['actualWorkDay']"></v-text-field>
            </v-col>
            
            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel">月计薪时长</span>
              <v-text-field class="jh-v-input " dense filled single-line v-model="editItem['needWorkDay']"></v-text-field>
            </v-col>
            
            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel">年</span>
              <v-text-field class="jh-v-input " dense filled single-line v-model="editItem['year']"></v-text-field>
            </v-col>
            
            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel">月</span>
              <v-text-field class="jh-v-input " dense filled single-line v-model="editItem['month']"></v-text-field>
            </v-col>
            
            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel">createTime</span>
              <v-text-field class="jh-v-input " dense filled single-line v-model="editItem['createTime']"></v-text-field>
            </v-col>
            
          </v-row>
          <v-row class="justify-end mx-0 mt-8 px-6">
            <v-btn color="success" @click="doUiAction('updateItem')">保存</v-btn>
            <v-btn class="ml-2" @click="isUpdateDrawerShown = false">取消</v-btn>
          </v-row>
        </v-form>
        <!-- 抽屉关闭按钮 -->
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isUpdateDrawerShown = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>

      <v-navigation-drawer v-model="isEditOnlineDrawerShow" :permanent="isEditOnlineDrawerShow" fixed temporary right width="100%" class="elevation-24">
        <!-- 抽屉标题 -->
        <v-row>
          <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">在线编辑</span>
        </v-row>
        <v-row class="px-6">
          <v-data-table fixed-header
          :headers="headers.filter(item => !['action', 'id', 'actualWorkDay', 'needWorkDay', 'year', 'month'].includes(item.value))"
          :items="tableData"
          :search="searchInput"
          :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
          :items-per-page="20"
          mobile-breakpoint="0"
          :loading="isTableLoading"
          checkbox-color="success"
          class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
          <template :slot="'item.' + key" slot-scope="{item}" v-for="(key, index) in constantObj.salaryCodeList" >
            <v-text-field v-model="item[key]" filled single-line hide-details></v-text-field>
          </template>
          
          <template v-slot:item.100101="{item}">
            <v-text-field v-model="item[100101]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.100102="{item}">
            <v-text-field v-model="item[100102]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.110101="{item}">
            <v-text-field v-model="item[110101]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.120101="{item}">
            <v-text-field v-model="item[120101]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.130101="{item}">
            <v-text-field v-model="item[130101]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.140101="{item}">
            <v-text-field v-model="item[140101]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.150101="{item}">
            <v-text-field v-model="item[150101]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.160101="{item}">
            <v-text-field v-model="item[160101]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.160102="{item}">
            <v-text-field v-model="item[160102]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.160103="{item}">
            <v-text-field v-model="item[160103]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.170101="{item}">
            <v-text-field v-model="item[170101]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.180101="{item}">
            <v-text-field v-model="item[180101]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.190101="{item}">
            <v-text-field v-model="item[190101]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.190102="{item}">
            <v-text-field v-model="item[190102]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.190103="{item}">
            <v-text-field v-model="item[190103]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.190104="{item}">
            <v-text-field v-model="item[190104]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.190105="{item}">
            <v-text-field v-model="item[190105]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.190106="{item}">
            <v-text-field v-model="item[190106]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.200101="{item}">
            <v-text-field v-model="item[200101]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.210101="{item}">
            <v-text-field v-model="item[210101]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.220101="{item}">
            <v-text-field v-model="item[220101]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.230101="{item}">
            <v-text-field v-model="item[230101]" filled single-line hide-details></v-text-field>
          </template>
          <template v-slot:item.240101="{item}">
            <v-text-field v-model="item[240101]" filled single-line hide-details></v-text-field>
          </template>
                
          <!-- 没有数据 -->
          <template v-slot:loading>
            <div class="jh-no-data">数据加载中</div>
          </template>
          <template v-slot:no-data>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <template v-slot:no-results>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <!-- 表格分页 -->
          <template v-slot:footer.page-text="pagination">
            <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
            <span class="ml-1">共{{pagination.itemsLength}}条</span>
          </template>
        </v-data-table>
        </v-row>
        <v-row class="justify-end mx-0 mt-8 px-6">
          <v-btn color="success" @click="">保存</v-btn>
          <v-btn class="ml-2" @click="isEditOnlineDrawerShow = false">取消</v-btn>
        </v-row>
        <!-- 抽屉关闭按钮 -->
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isEditOnlineDrawerShow = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
    </div>


    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-model="isHelpPageDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
      <iframe
        style="border: 0" :src="`/${appInfo.appId}/pageDoc#3.doUiAction.md`" width="100%"
        height="100%"></iframe>

      <v-btn
        elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
        @click="isHelpPageDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

  </v-main>
</v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />

</div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    // 面包屑
    breadcrumbs: [
      {
        text: '首页',
        disabled: true,
      },
      {
        text: '薪资管理',
        disabled: true,
      }
    ],
    isHelpPageDrawerShown: false,
    // 表格相关数据
    isTableZebraLineShown: true,
    validationRules: {
      requireRules: [
        v => !!v || 'This is required',
      ],
    },
    // 表格相关数据
    isFormValid: true,
    requireRules: [
      v => !!v || 'This is required',
    ],
    constantObj: {
      // table data 动态列
      salaryCodeList: [
      10101, 10102, 10103, 20101, 20102, 20103, 20104, 30101, 40101, 40102, 40103, 50101, 60101, 70101, 80101, 80102, 90101, 90102, 90103, 100101, 100102, 110101, 120101, 130101, 140101, 150101, 160101, 160102, 160103, 170101, 180101, 190101, 190102, 190103, 190104, 190105, 190106, 200101, 210101, 220101, 230101, 240101
      ]
    },

    serverSearchInput: {
      studentId: null,
      classId: null
    },
    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    headers: [
      {text: '操作', value: 'action', align: 'center', sortable: false, width: 120, class: 'fixed', cellClass: 'fixed'},
      {text: "ID", value: "id", width: 80, class: 'fixed', cellClass: 'fixed'},
      {text: "员工", value: "employeeName"}, 
      {text: "实际计薪时长", value: "actualWorkDay", width: 120}, 
      {text: "月计薪时长", value: "needWorkDay", width: 120}, 
      {text: "年", value: "year", width: 120}, 
      {text: "月", value: "month", width: 120}, 
    ],
    isUpdateDrawerShown: false,
    editItem: {},
    isCreateDrawerShown: false,
    addItem: {},
    lastYear: '',
    lastMonth: '',
    isEditOnlineDrawerShow: false,
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataFromBackend;
    }
  },
  watch: {},
  async created() {
    this.doUiAction('getLastConfig');
    await this.doUiAction('refreshTableData');
  },
  mounted() {},
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshTableData':
          await this.refreshTableData();
          break;
        case 'getLastConfig':
          await this.getLastConfig();
          break;
        case 'startCreateItem':
          await this.clearItemData();
          await this.openCreateItemDialog();
          break;
        case 'createItem':
          await this.prepareValidate();
          await this.confirmCreateItemDialog();
          await this.doCreateItem();
          await this.closeDrawerShow();
          await this.refreshTableData();
          break;
        case 'startUpdateItem':
          await this.prepareItemData(uiActionData);
          await this.openUpdateDialog();
          break;
        case 'updateItem':
          await this.prepareValidate();
          await this.confirmUpdateItemDialog();
          await this.doUpdateItem();
          await this.closeDrawerShow();
          await this.refreshTableData();
          break;
        case 'createMonthRecord':
          await this.confirmCreateMonthRecordDialog(uiActionData);
          await this.doCreateMonthRecord(uiActionData);
          await this.getLastConfig();
          await this.refreshTableData();
          break;
        case 'editOnline':
          await this.openEditOnlineDialog();
          break;
        case 'createSlipRecord':
          await this.doCreateSlipRecord(uiActionData);
          break;
        case 'deleteItem':
          await this.confirmDeleteItemDialog();
          await this.doDeleteItem(uiActionData);
          await this.refreshTableData();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", { uiActionId });
          break;
      }
    },
    // =================================uiAction 公共方法 start ======================================
    /**
     * uiActionId:  prepareValidate
     * description: ✅表单校验
    */
    async prepareValidate() {
      if (this.$refs.form.validate() === false) {
        window.vtoast.fail({ message: "输入有误, 请检查!" });
        throw new Error("[prepareValidate] false");
      }
    },

    /**
     * uiActionId:  refreshTableData
     * description: ✅获取表格数据
    */
    async refreshTableData() {
      this.isTableLoading = true;
      const serverSearchInput = _.pickBy(this.serverSearchInput, value=> !!value);
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'monthEmpRecord',
            actionId: 'selectItemList',
            actionData: {},
            where: {},
            whereLike: serverSearchInput,
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      const { rows } = result.data.appData.resultData;

      this.tableDataFromBackend = rows;
      this.isTableLoading = false;
    },

    async getLastConfig() {
      const serverSearchInput = _.pickBy(this.serverSearchInput, value=> !!value);
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'monthEmpRecord',
            actionId: 'getLastConfig',
            actionData: {},
            limit: 1,
            orderBy: [{column: 'year', order: 'desc'},{column: 'month', order: 'desc'}]
          }
        }
      });
      const { year, month, salaryOption } = result.data.appData.resultData;
      
      this.lastYear = year;
      this.lastMonth = month;
      salaryOption.forEach(item => {
        this.headers.push({text: item.name, value: item.code + '', width: 120});
      });
    },
    // =================================uiAction 公共方法 end ======================================


    async openEditOnlineDialog() {
      this.isEditOnlineDrawerShow = true;
    },
    /**
     * uiActionId:  startCreateItem
     * description: ✅获取表格数据
    */
    async clearItemData() {
      this.addItem = {};
    },
    async openCreateItemDialog() {
      this.isCreateDrawerShown = true;
    },

    /**
     * uiActionId:  createItem
     * description: ✅获取表格数据
    */
    async confirmCreateMonthRecordDialog({next}) {
      if (next && await window.confirmDialog({title: "提示", content: "新建下月工资表，当前的工资表将归入历史工资表中，且历史工资表数据不可修改。请确认现在就开始做下月工资吗？"}) === false) {
        throw new Error("取消");
      }
    },

    /**
     * uiActionId:  createItem
     * description: ✅获取表格数据
    */
    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doCreateItem() {
      const { id, ...data } = this.addItem;
      await window.vtoast.loading("新增数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'monthEmpRecord',
            actionId: 'insertItem',
            actionData: data
          }
        }
      })
      await window.vtoast.success("新增数据成功");
    },
    async doCreateMonthRecord({next}) {
      await window.vtoast.loading("核算工资");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'monthEmpRecord',
            actionId: 'createMonthRecord',
            actionData: { year: this.lastYear, month: next ? this.lastMonth + 1 : this.lastMonth }
          }
        }
      })
      await window.vtoast.success("操作成功");
    },
    async doCreateSlipRecord() {
      await window.vtoast.loading("生成工资条");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'monthEmpRecord',
            actionId: 'createSlipRecord',
            actionData: { year: this.lastYear, month: this.lastMonth }
          }
        }
      })
      await window.vtoast.success("操作成功");
    },
    async closeDrawerShow() {
      this.isUpdateDrawerShown = false;
      this.isCreateDrawerShown = false;
    },

    /**
     * uiActionId:  startUpdateItem
     * description: ✅获取表格数据
    */
    async prepareItemData({item}) {
      this.editItem = {...item};
    },
    async openUpdateDialog() {
      this.isUpdateDrawerShown = true;
    },
    /**
     * uiActionId:  updateItem
     * description: ✅获取表格数据
    */
    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doUpdateItem() {
      const { id, ...data } = this.editItem;
      await window.vtoast.loading("修改数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'monthEmpRecord',
            actionId: 'updateItem',
            actionData: data,
            where: {id}
          }
        }
      })
      await window.vtoast.success("修改数据成功");
    },

    /**
     * uiActionId:  deleteItem
     * description: ✅获取表格数据
    */
    async confirmDeleteItemDialog() {
      if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doDeleteItem({item}) {
      const { id } = item;
      await window.vtoast.loading("删除数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'monthEmpRecord',
            actionId: 'deleteItem',
            actionData: {},
            where: { id: id }
          }
        }
      });
      await window.vtoast.success("删除数据成功");
    },
  }
})
</script>

<style scoped>
  .v-text-field--filled>.v-input__control>.v-input__slot {
    align-items: stretch;
    min-height: unset;
  }
</style>
{% endblock %}
