{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-15">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-8">
      <div class="pt-3 text-h7 font-weight-bold">doUiAction
        <!-- 帮助页按钮 -->
        <v-icon @click="isHelpPageDrawerShown = true" color="success" small>mdi-help-circle-outline</v-icon>
      </div>
      <v-breadcrumbs class="pb-3 pt-0 px-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->

    <div class="jh-page-body-container px-8">
      <!-- 页面内容 >>>>>>>>>>>>> -->
      <v-card class="rounded-lg">
  <v-row class="ma-0 pa-4">

      <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pa-0">
        <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem')">新增</v-btn>
        <span class="body-2">共{{ tableData.length }}条记录</span>
      </v-col>

      <v-spacer></v-spacer>

      <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pa-0">
        <v-text-field v-model="searchInput" label="表格过滤" class="cus-v-input" dense filled single-line></v-text-field>
      </v-col>
    </v-row>
    <v-data-table fixed-header
                  :headers="headers"
                  :items="tableData"
                  :search="searchInput"
                  :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                  :items-per-page="20"
                  mobile-breakpoint="0"
                  :loading="isTableLoading"
                  checkbox-color="success"
                  class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
      <template v-slot:item.action="{ item }">
        <v-btn small class=" success" @click="doUiAction('startUpdateItem', {item})">修改</v-btn>
        <v-btn small class=" error" @click="doUiAction('deleteItem', {item})">删除</v-btn>
      </template>
    </v-data-table>
  </v-card>
</div>

<!-- 新增 -->
<v-navigation-drawer v-model="isCreateDrawerShown" :permanent="isCreateDrawerShown" fixed temporary right width="80%" class="elevation-24">
  <v-form v-model="isFormValid" v-if="isCreateDrawerShown" ref="form" lazy-validation>
    <!-- 抽屉标题 -->
    <v-row>
      <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">新增信息</span>
    </v-row>
    <v-row class="mt-0 px-4">
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">工资条发放记录id</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['recordId']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">sEmpRecordId</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['sEmpRecordId']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">员工id</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['employeeId']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">year</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['year']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">month</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['month']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">查看状态 0 未读 1 已读</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['readStatus']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">实发工资</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['realSalary']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">备注</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['remarks']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">发放时间</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['create_time']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">createUserId</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['createUserId']"></v-text-field>
      </v-col>
       
    </v-row>
    <v-row class="justify-end pr-6">
      <v-btn color="success" @click="doUiAction('createItem')" :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}" :class="{'mb-2': isMobile, 'mr-4': isMobile}">新增</v-btn>
      <v-btn class="ml-2" @click="isCreateDrawerShown = false" :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}" :class="{'mr-4': isMobile}">取消</v-btn>
    </v-row>
  </v-form>
  <!-- 抽屉关闭按钮 -->
  <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isCreateDrawerShown = false">
    <v-icon>mdi-close</v-icon>
  </v-btn>
</v-navigation-drawer>


<!-- 编辑抽屉 -->
<v-navigation-drawer v-model="isUpdateDrawerShown" :permanent="isUpdateDrawerShown" fixed temporary right width="80%" class="elevation-24">
  <v-form v-model="isFormValid" v-if="isUpdateDrawerShown" ref="form" lazy-validation>
    <!-- 抽屉标题 -->
    <v-row>
      <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">编辑信息</span>
    </v-row>
    <v-row class="mt-0 px-4">
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">工资条发放记录id</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['recordId']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">sEmpRecordId</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['sEmpRecordId']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">员工id</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['employeeId']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">year</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['year']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">month</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['month']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">查看状态 0 未读 1 已读</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['readStatus']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">实发工资</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['realSalary']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">备注</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['remarks']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">发放时间</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['create_time']"></v-text-field>
      </v-col>
       
      <v-col cols="12" sm="12" md="4">
        <span class="inputLabel">createUserId</span>
        <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['createUserId']"></v-text-field>
      </v-col>
       
<!--      <v-col cols="12" sm="12" md="4">-->
<!--        &lt;!&ndash; 必填字段样式 demo :rules="requireRules" &ndash;&gt;-->
<!--            <span class="inputLabel">学生ID</span>-->
<!--        <v-text-field class="cus-v-input " dense filled single-line label="学生ID" v-model="editItem.studentId" :rules="requireRules"></v-text-field>-->
<!--      </v-col>-->
<!--      &lt;!&ndash; select 字段 demo &ndash;&gt;-->
<!--      <v-col cols="12" sm="12" md="4">-->
<!--            <span class="inputLabel">班级ID</span>-->
<!--        <v-select class="cus-v-input " dense filled single-line clearable label="班级ID" v-model="editItem.classId" :items="constantObj.classId"></v-select>-->
<!--      </v-col>-->
<!--      &lt;!&ndash; 日期选择 demo &ndash;&gt;-->
<!--      <v-col cols="12" sm="12" md="4">-->
<!--        <span class="inputLabel">出生日期</span>-->
<!--        <v-menu class="cus-v-input " offset-y max-width="290">-->
<!--          <template v-slot:activator="{ on, attrs }">-->
<!--            <v-text-field class="cus-v-input " dense filled single-line v-on="on" label="出生日期" v-model="editItem.dateOfBirth"></v-text-field>-->
<!--          </template>-->
<!--          <v-date-picker color="success" elevation="20" v-model="editItem.dateOfBirth"></v-date-picker>-->
<!--        </v-menu>-->
<!--      </v-col>-->
    </v-row>
    <v-row class="justify-end mx-0 mt-8 px-6">
      <v-btn color="success" @click="doUiAction('updateItem')">保存</v-btn>
      <v-btn class="ml-2" @click="isUpdateDrawerShown = false">取消</v-btn>
    </v-row>
  </v-form>
  <!-- 抽屉关闭按钮 -->
  <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isUpdateDrawerShown = false">
    <v-icon>mdi-close</v-icon>
  </v-btn>
</v-navigation-drawer>

    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-model="isHelpPageDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
      <iframe
        style="border: 0" :src="`/${appInfo.appId}/pageDoc#3.doUiAction.md`" width="100%"
        height="100%"></iframe>

      <v-btn
        elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
        @click="isHelpPageDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

  </v-main>
</v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />

</div>
</script>

<div id="app">
</div>
{% endblock %}

{% block vueScript %}

<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    // 面包屑
    breadcrumbs: [
      {
        text: '首页',
        disabled: true,
      },
      {
        text: 'doUiAction',
        disabled: true,
      }
    ],
    isHelpPageDrawerShown: false,
    // 表格相关数据
    isTableZebraLineShown: true,
    // 表格相关数据
    isFormValid: true,
    requireRules: [
      v => !!v || 'This is required',
    ],
    constantObj: {
    },

    serverSearchInput: {
      studentId: null,
      classId: null
    },
    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    headers: [
      {text: "ID", value: "id", width: 120, class: 'fixed', cellClass: 'fixed'},
       
      {text: "工资条发放记录id", value: "recordId", width: 120}, 
      {text: "sEmpRecordId", value: "sEmpRecordId", width: 120}, 
      {text: "员工id", value: "employeeId", width: 120}, 
      {text: "year", value: "year", width: 120}, 
      {text: "month", value: "month", width: 120}, 
      {text: "查看状态 0 未读 1 已读", value: "readStatus", width: 120}, 
      {text: "实发工资", value: "realSalary", width: 120}, 
      {text: "备注", value: "remarks", width: 120}, 
      {text: "发放时间", value: "create_time", width: 120}, 
      {text: "createUserId", value: "createUserId", width: 120}, 
      {text: "操作者", value: "operationByUser", width: 120},
      {text: "操作时间", value: "operationAt", width: 250},
      {text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed'},
    ],
    isUpdateDrawerShown: false,
    editItem: {},
    isCreateDrawerShown: false,
    addItem: {}
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataFromBackend;
    }
  },
  watch: {},
  async created() {
    await this.doUiAction('refreshTableData');
  },
  mounted() {},
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshTableData':
          await this.refreshTableData();
          break;
        case 'startCreateItem':
          await this.clearItemData();
          await this.openCreateItemDialog();
          break;
        case 'createItem':
          await this.prepareValidate();
          await this.confirmCreateItemDialog();
          await this.doCreateItem();
          await this.closeDrawerShow();
          await this.refreshTableData();
          break;
        case 'startUpdateItem':
          await this.prepareItemData(uiActionData);
          await this.openUpdateDialog();
          break;
        case 'updateItem':
          await this.prepareValidate();
          await this.confirmUpdateItemDialog();
          await this.doUpdateItem();
          await this.closeDrawerShow();
          await this.refreshTableData();
          break;
        case 'deleteItem':
          await this.confirmDeleteItemDialog();
          await this.doDeleteItem(uiActionData);
          await this.refreshTableData();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", { uiActionId });
          break;
      }
    },
    // =================================uiAction 公共方法 start ======================================
    /**
     * uiActionId:  prepareValidate
     * description: ✅表单校验
    */
    async prepareValidate() {
      if (this.$refs.form.validate() === false) {
        window.vtoast.fail({ message: "输入有误, 请检查!" });
        throw new Error("[prepareValidate] false");
      }
    },

    /**
     * uiActionId:  refreshTableData
     * description: ✅获取表格数据
    */
    async refreshTableData() {
      this.isTableLoading = true;
      const serverSearchInput = _.pickBy(this.serverSearchInput, value=> !!value);
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'salarySlipManagement',
            actionId: 'selectItemList',
            actionData: {},
            where: {},
            whereLike: serverSearchInput,
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      });
      const { rows } = result.data.appData.resultData;

      this.tableDataFromBackend = rows;
      this.isTableLoading = false;
    },
    // =================================uiAction 公共方法 end ======================================


    /**
     * uiActionId:  startCreateItem
     * description: ✅获取表格数据
    */
    async clearItemData() {
      this.addItem = {};
    },
    async openCreateItemDialog() {
      this.isCreateDrawerShown = true;
    },

    /**
     * uiActionId:  createItem
     * description: ✅获取表格数据
    */
    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doCreateItem() {
      const { id, ...data } = this.addItem;
      await window.vtoast.loading("新增数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'salarySlipManagement',
            actionId: 'insertItem',
            actionData: data
          }
        }
      })
      await window.vtoast.success("新增数据成功");
    },
    async closeDrawerShow() {
      this.isUpdateDrawerShown = false;
      this.isCreateDrawerShown = false;
    },

    /**
     * uiActionId:  startUpdateItem
     * description: ✅获取表格数据
    */
    async prepareItemData({item}) {
      this.editItem = {...item};
    },
    async openUpdateDialog() {
      this.isUpdateDrawerShown = true;
    },
    /**
     * uiActionId:  updateItem
     * description: ✅获取表格数据
    */
    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doUpdateItem() {
      const { id, ...data } = this.editItem;
      await window.vtoast.loading("修改数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'salarySlipManagement',
            actionId: 'updateItem',
            actionData: data,
            where: {id}
          }
        }
      })
      await window.vtoast.success("修改数据成功");
    },

    /**
     * uiActionId:  deleteItem
     * description: ✅获取表格数据
    */
    async confirmDeleteItemDialog() {
      if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doDeleteItem({item}) {
      const { id } = item;
      await window.vtoast.loading("删除数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'salarySlipManagement',
            actionId: 'deleteItem',
            actionData: {},
            where: { id: id }
          }
        }
      });
      await window.vtoast.success("删除数据成功");
    },
  }
})
</script>

<style scoped>
</style>
{% endblock %}
