{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}
<script type="text/html" id="app-template">
  <div>
    <v-app mobile-breakpoint="sm">
      <jh-menu />
      <v-main class="d-flex flex-column" style="margin-top: 60px">
        <!-- 头部内容 >>>>>>>>>>>>> -->
          <div class="jh-page-second-bar px-8">
            <v-row>
              <v-col cols="12" xs="12" sm="12" md="4" xl="3">
                <div class="pt-3 text-h7 font-weight-bold">绩效档案
                  <!-- 帮助页按钮 -->
                  <v-icon @click="isHelpPageDrawerShown = true" color="success" small>mdi-help-circle-outline
                  </v-icon>
                </div>
                <v-breadcrumbs class="pb-3 pt-0 pl-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
              </v-col>
            </v-row>
          </div>

          <template slot="serverSearch">
            <v-row class="ma-0 align-center" :class="{'pa-0': isMobile, 'pa-2': !isMobile}" style="justify-content: end">
              <v-col cols="12" sm="12" xs="5" md="2" xl="2" class="pb-3" :class="{'px-0': isMobile, 'pt-0': isMobile}">
                <v-text-field v-model="serverSearchForm.employeeId" prefix="员工姓名：" color="success" class="cus-v-input"
                              :class="{'mr-2': !isMobile}" dense filled single-line></v-text-field>
              </v-col>      
              <v-col class="pl-0" :class="{'pr-0': isMobile, 'pt-0': isMobile}" style="max-width: 77px">
                <v-btn
                    class="elevation-0"
                    color="success"
                    dark
                    @click="getTableData">
                  查询
                </v-btn>
              </v-col>
            </v-row>
          </template>

          <!-- 页面主要内容 -->
          <div class="pageBodyContainer px-8">
            <v-card :class="{'px-2': isMobile}">
              <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 "
                    :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">
                <span style="margin-right: 10px;">{{ serverSearchForm.searchSummary }}</span>
                <v-spacer></v-spacer>
                <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pa-xs-0 pa-xs-2 col-sm-8-flex">
                  <v-text-field v-model="tableFilterKeyword" color="success" prefix="表格过滤：" class="cus-v-input" dense filled
                                single-line></v-text-field>
                </v-col>
              </v-row>
              <v-data-table fixed-header :headers="headers" :items="tableData" :search="tableFilterKeyword"
                            mobile-breakpoint="0"
                            :loading="isTableLoading " checkbox-color="success" class="jh-fixed-table-height elevation-0"
                            :options="{
                        itemsPerPage: -1
                    }">
                    <template v-slot:item.action="{ item }">
                      <v-btn small class="mr-2 success" @click.stop="doUiAction('handleTableButton', { title: '详情', action: 'detail', item })">绩效</v-btn>
                    </template>
              </v-data-table>
            </v-card>

            <!-- 员工详情 -->
            <v-navigation-drawer v-if="isDetailDrawerShow" v-model="isDetailDrawerShow" :permanent="isDetailDrawerShow" fixed temporary right width="80%" class="elevation-24">
              <v-row class="pt-8">
                <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">【{{editItem.employeeId}}】详情</span>
                <v-spacer></v-spacer>
                <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small @click="isDetailDrawerShow = false">
                  <v-icon dark>mdi-close</v-icon>
                </v-btn>
              </v-row>
              <div class="mt-4 mb-10">
                <div class="mx-10 mt-2">
                  <v-data-table 
                    :headers="detailHeaders" 
                    :items="tableData" 
                    :search="tableFilterKeyword"
                        mobile-breakpoint="0"
                        :loading="isTableLoading " checkbox-color="success" class="elevation-0"
                        :options="{
                    itemsPerPage: 15
                  }">
                  </v-data-table>
                </div>
              </div>
            </v-navigation-drawer>
          </div>

          <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
          <v-navigation-drawer v-model="isHelpPageDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
            <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#waitting.md`" width="100%" height="100%"></iframe>
            <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-navigation-drawer>
          <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

      </v-main>

    </v-app>
<jh-toast />
<jh-mask />
<jh-confirm-dialog />
  </div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}

{% include 'component/drawerForm.html' %}
{% include 'component/editForm.html' %}
{% include 'component/globalHandler.html' %}
<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    breadcrumbs: [
      {
        text: '首页',
        disabled: true,
      },
      {
        text: '绩效档案',
        disabled: true,
      }
    ],
    isHelpPageDrawerShown: false,
    globalHandler: new GlobalHandler(),
    statusFilter: [],
    searchText: null,
    tableFilterKeyword: null,
    isFormValid: true,
    requireRules: [
      v => !!v || '此项为必填项',
    ],
    constantCollection: {

    },
    serverSearchForm: {
      employeeId: null,
      select: {},
      searchSummary: null,
    },
    isTableLoading: true,
    tableDataBackups: [],
    headers: [],
    editItem: {},
    isEditDrawerShow: false,
    currentClickButton: {},
    actionTab: 0,
    isDetailDrawerShow: false,
    headers: [
      { text: "姓名", value: "employeeId" },
      { text: "手机", value: "applyQuitTime" },
      { text: "部门", value: "salarySettlementTime" },
      { text: "员工状态", value: "quitType", type: 'select' },
      { text: "入职时间", value: "quitReason" },
      { text: "已归档绩效", value: "quitReason" },
      { text: "进行中绩效", value: "remarks" },
      { text: "最近考核计划", value: "planQuitTime" },
      { text: "最忌绩效等级及评分", value: "applyQuitTime" },
      { text: '操作', value: 'action', align: 'center', sortable: false, width: 150, class: 'fixed', cellClass: 'fixed', edit: false, }
    ],
    detailHeaders: [
      { text: "序号", value: "employeeId" },
      { text: "考核名称", value: "employeeId" },
      { text: "考核时间", value: "salarySettlementTime" },
      { text: "考核状态", value: "planQuitTime" },
      { text: "评分", value: "applyQuitTime" },
      { text: "等级", value: "planQuitTime" },
    ],
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataBackups;
    },
    getEditItem() {
      return this.editItem;
    },
  },
  watch: {
    searchText(value) {
      value = value && value.toLowerCase();
      const {constantCollection: {status = []}} = this;
      if (value) {
        this.statusFilter = status.slice()
            .filter((v) => v.text && (v.text.toLowerCase().includes(value) || v.text.includes(value)))
        return false;
      }
      this.statusFilter = status.slice();
    },
  },
  async created() {
    await this.doUiAction('getTableData');
  },
  async mounted() {
  },
  methods: {
    dayjs,
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'getTableData':
          await this.getTableData()
          break;
        case 'handleTableButton':
          await this.globalHandler.handleTableButton(uiActionData, this)
          break;
        case 'saveInfo':
          await this.saveInfo();
          break;
      }
    },
    /**
     * 获取表格数据
     */
    async getTableData() {
      this.isTableLoading = true;
      const where = _.omitBy(this.serverSearchForm.select, _.isNull);
      const {rows, count} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'archivesManagement',
            actionId: 'selectItemList',
            where,
            whereLike: {
              employeeId: this.serverSearchForm.employeeId,
            },
            limit: _.size(where) === 0 ? 200 : 99999999,
            orderBy: [
              {column: 'createTime', order: 'desc'}
            ]
          }
        }
      })).data.appData.resultData;
      this.tableDataBackups = rows;
      this.isTableLoading = false;  
    },
    /**
     * 保存数据
     */
    async saveInfo() {
      await this.doUiAction(`${this.currentClickButton.action}Save`);
    },
  }
})
</script>

<style scoped>

</style>
{% endblock %}
