{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<!-- 3 table 下  的单表 crud 页面 -->

<!--SQL START
-- 以下为 jianghu init 工具生成的参考 SQL，使用后删除
-- 创建 page
INSERT INTO `_page` (`pageId`,`pageName`,`pageType`,`sort`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT 'employeeManagementV2','页面','showInMenu','5','jhInsert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_page` WHERE `pageId`='employeeManagement');

-- 创建 resource
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'employeeManagement','selectItemList','✅查询-查询列表','sql','{}','{ \"table\": \"employee\", \"operation\": \"select\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='employeeManagement' AND `actionId`='selectItemList');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'employeeManagement','insertItem','✅查询-添加成员','sql','{}','{ \"table\": \"employee\", \"operation\": \"insert\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='employeeManagement' AND `actionId`='insertItem');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'employeeManagement','updateItem','✅查询-更新成员','sql','{}','{ \"table\": \"employee\", \"operation\": \"update\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='employeeManagement' AND `actionId`='updateItem');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'employeeManagement','deleteItem','✅查询-删除信息','sql','{}','{ \"table\": \"employee\", \"operation\": \"delete\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='employeeManagement' AND `actionId`='deleteItem');
SQL END!-->

<script type="text/html" id="app-template">
  <div>
    <v-app mobile-breakpoint="sm">
      <jh-menu />
      <v-main class="d-flex flex-column" style="margin-top: 60px">
        <!-- 头部内容 >>>>>>>>>>>>> -->
        <div class="jh-page-second-bar px-8">
          <v-row>
            <v-col cols="12" xs="12" sm="12" md="4" xl="3">
              <div class="pt-3 text-h7 font-weight-bold">员工管理
                <!-- 帮助页按钮 -->
                <v-icon @click="isHelpPageDrawerShown = true" color="success" small>mdi-help-circle-outline
                </v-icon>
              </div>
              <v-breadcrumbs class="pb-3 pt-0 pl-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
            </v-col>
          </v-row>
        </div>
        <!-- <<<<<<<<<<<<< 头部内容 -->

        <!-- 页面主要内容 -->
        <div class="pageBodyContainer px-8">
          <v-row class="mb-2">
            <v-col cols="7" class="mt-1 py-0 pr-0 pl-0">
              <v-card class="d-flex flex-row flex-wrap ml-3" outlined
                style="border: thin solid #F4F5F6;border-radius: inherit;">
                <template v-for="(status, index) in constantCollection.status" :key="index">
                  <v-card class="pa-2 text-center"
                    :style="{ borderRight: index ===  constantCollection.status.length - 1 ? 'none' : '1px solid #F4F5F6'}"
                    style="flex: 1;border-radius: 0;" @click="changeStatus('status', status.value)">
                    <div class="mb-1">{{status.text}}</div>
                    <div>{{status.num || 0}}</div>
                  </v-card>
                </template>
              </v-card>
            </v-col>
            <v-col cols="2" class="mt-1 py-0 pr-0">
              <v-card class="d-flex flex-row flex-wrap" outlined style="border: thin solid #F4F5F6;border-radius: inherit;">
                <template v-for="(status, index) in constantCollection.employmentForms" :key="index">
                  <v-card class="pa-2 text-center"
                    :style="{ borderRight: index ===  constantCollection.employmentForms.length - 1 ? 'none' : '1px solid #F4F5F6'}"
                    style="flex: 1;border-radius: 0;" @click="changeStatus('employmentForms', status.value)">
                    <div class="mb-1">{{status.text}}</div>
                    <div>{{status.num || 0}}</div>
                  </v-card>
                </template>
              </v-card>
            </v-col>
            <v-col cols="3" class="mt-1 py-0 pr-0">
              <v-card class="d-flex flex-row flex-wrap mr-3" outlined
                style="border: thin solid #F4F5F6;border-radius: inherit;">
                <template v-for="(status, index) in constantCollection.entryStatus" :key="index" v-if="">
                  <v-card class="pa-2 text-center"
                    :style="{ borderRight: index ===  constantCollection.entryStatus.length - 1 ? 'none' : '1px solid #F4F5F6'}"
                    style="flex: 1;border-radius: 0;" @click="changeStatus('entryStatus', status.value)">
                    <div class="mb-1">{{status.text}}</div>
                    <div>{{status.num || 0}}</div>
                  </v-card>
                </template>
              </v-card>
            </v-col>
          </v-row>

          <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
            <v-card>
              <v-row class="ma-0 pa-4">
                <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pa-0">
                  <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem')">新增</v-btn>
                  <span class="body-2">共{{ tableData.length }}条记录</span>
                </v-col>
                <v-spacer></v-spacer>
                <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pa-0">
                  <v-text-field v-model="searchInput" label="表格过滤" class="cus-v-input" dense filled single-line></v-text-field>
                </v-col>
              </v-row>
              <v-data-table fixed-header :headers="headers" :items="tableData" :search="searchInput"
                :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }" :items-per-page="-1" mobile-breakpoint="0"
                :loading="isTableLoading" checkbox-color="success" class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column"
                :class="{'zebraLine': showTableZebraLine }">
                <template v-slot:item.status="{ item }">
                  {{ globalHandler.parseConstantValue('status', item.status, constantCollection) }}
                </template>
                <template v-slot:item.action="{ item }">
                  <span role="button" class="success--text mr-2" style="font-size: 12px;font-weight: 500;"
                    @click.stop="doUiAction('startUpdateItem', {item })">详情</span>
                  <span role="button" class="success--text mr-2" style="font-size: 12px;font-weight: 500;"
                    @click.stop="doUiAction('leaveItem', {item })">离职</span>
                </template>
              </v-data-table>
            </v-card>
          </v-container>

          <!-- 新增 -->
          <v-navigation-drawer v-model="isCreateDrawerShown" :permanent="isCreateDrawerShown" fixed temporary right width="80%"
            class="elevation-24">
            <v-form v-model="isFormValid" v-if="isCreateDrawerShown" ref="form" lazy-validation>
              <v-row>
                <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">新增信息</span>
                <v-spacer></v-spacer>
                <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small
                  @click="isCreateDrawerShown = false">
                  <v-icon dark>mdi-close</v-icon>
                </v-btn>
              </v-row>
              <v-row class="mt-0 px-4">

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">员工姓名</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['employeeName']" :rules="requireRules"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">员工性别</span>
                  <v-select class="cus-v-input mr-2" dense filled single-line v-model="addItem['sex']"
                    :items="constantCollection.sex"></v-select>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">员工年龄</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['age']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">联系电话</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['contactNumber']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">紧急联系电话</span>
                  <v-text-field class="cus-v-input " dense filled single-line
                    v-model="addItem['emergencyContactNumber']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">员工岗位</span>
                  <v-select class="cus-v-input mr-2" dense filled single-line v-model="addItem['post']"
                    :items="constantCollection.post"></v-select>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">身份证号</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['icNumber']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">出生日期</span>
                  <v-menu class="cus-v-input" offset-y max-width="290">
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field class="cus-v-input" dense filled single-line v-on="on"
                        :value="addItem['dateOfBirth']"></v-text-field>
                    </template>
                    <v-date-picker color="success" elevation="20" v-model="addItem['dateOfBirth']"></v-date-picker>
                  </v-menu>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">毕业学校</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['institution']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">专业</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['major']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">最高学历</span>
                  <v-text-field class="cus-v-input " dense filled single-line
                    v-model="addItem['highestEducation']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">家庭住址</span>
                  <v-text-field class="cus-v-input " dense filled single-line
                    v-model="addItem['residentialAddress']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">建设银行卡</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['cardNumber']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">车牌号</span>
                  <v-text-field class="cus-v-input " dense filled single-line
                    v-model="addItem['licensePlateNumber']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">备注</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['remarks']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">员工状态</span>
                  <v-select class="cus-v-input mr-2" dense filled single-line v-model="addItem['status']" :rules="requireRules"
                  :items="constantCollection.status"></v-select>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">聘用形式</span>
                  <v-select class="cus-v-input mr-2" dense filled single-line v-model="addItem['employmentForms']" :rules="requireRules"
                  :items="constantCollection.employmentForms"></v-select>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">入职状态</span>
                  <v-select class="cus-v-input mr-2" dense filled single-line v-model="addItem['entryStatus']" :rules="requireRules"
                  :items="constantCollection.entryStatus"></v-select>
                </v-col>
              </v-row>
              <v-row class="justify-end mx-0 mt-8 px-6">
                <v-btn color="success" @click="doUiAction('createItem')"
                  :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}"
                  :class="{'mb-2': isMobile, 'mr-4': isMobile}">新增</v-btn>
                <v-btn class="ml-2" @click="isCreateDrawerShown = false" :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}"
                  :class="{'mr-4': isMobile}">取消</v-btn>
              </v-row>
            </v-form>
          </v-navigation-drawer>
          
          <!-- 编辑抽屉 -->
          <v-navigation-drawer v-model="isUpdateDrawerShown" :permanent="isUpdateDrawerShown" fixed temporary right width="80%"
            class="elevation-24">
            <v-row>
              <span class="title pa-6 pb-4" :class="{'pl-9': !isMobile, 'pl-6': isMobile}">{{editItem.employeeName}}</span>
              <v-spacer></v-spacer>
              <v-btn class="mt-6 elevation-0 mr-8" fab x-small @click="isUpdateDrawerShown = false">
                <v-icon dark>mdi-close</v-icon>
              </v-btn>
            </v-row>

            <v-row class="ma-0 mb-2" :class="{'px-6': !isMobile, 'px-4': isMobile}">
              <v-tabs dense v-model="actionTab" class="custom-tabs">
                <v-tab v-for="(tab, index) in tabs" :key="index" style="font-weight: 400;">{{tab.title}}</v-tab>
              </v-tabs>
            </v-row>
            <v-form v-model="isFormValid" v-if="actionTab===0" ref="form" lazy-validation>
              <v-row>
                <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">基本信息</span>
                <v-spacer></v-spacer>
              </v-row>
              <v-row class="mt-0 px-4">

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">员工姓名</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['employeeName']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">员工性别</span>
                  <v-select class="cus-v-input mr-2" dense filled single-line v-model="editItem['sex']"
                  :items="constantCollection.sex"></v-select>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">员工年龄</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['age']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">联系电话</span>
                  <v-text-field class="cus-v-input " dense filled single-line
                    v-model="editItem['contactNumber']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">紧急联系电话</span>
                  <v-text-field class="cus-v-input " dense filled single-line
                    v-model="editItem['emergencyContactNumber']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">身份证号</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['icNumber']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">出生日期</span>
                  <v-menu class="cus-v-input" offset-y max-width="290">
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field class="cus-v-input" dense filled single-line v-on="on"
                        :value="editItem['dateOfBirth']"></v-text-field>
                    </template>
                    <v-date-picker color="success" elevation="20" v-model="editItem['dateOfBirth']"></v-date-picker>
                  </v-menu>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">毕业学校</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['institution']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">专业</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['major']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">最高学历</span>
                  <v-text-field class="cus-v-input " dense filled single-line
                    v-model="editItem['highestEducation']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">教师资格证类别</span>
                  <v-text-field class="cus-v-input " dense filled single-line
                    v-model="editItem['teacherQualification']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">教师资格证学段</span>
                  <v-select class="cus-v-input mr-2" dense filled single-line v-model="editItem['teacherQualificationLeaver']"
                  :items="constantCollection.level"></v-select>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">教师资格证学科</span>
                  <v-select class="cus-v-input mr-2" dense filled single-line v-model="editItem['teacherQualificationSubject']"
                  :items="constantCollection.subject"></v-select>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">教师资格证编号</span>
                  <v-text-field class="cus-v-input " dense filled single-line
                    v-model="editItem['teacherCertificationNumber']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">家庭住址</span>
                  <v-text-field class="cus-v-input " dense filled single-line
                    v-model="editItem['residentialAddress']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">建设银行卡</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['cardNumber']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">车牌号</span>
                  <v-text-field class="cus-v-input " dense filled single-line
                    v-model="editItem['licensePlateNumber']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">备注</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['remarks']"></v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">岗位信息</span>
                <v-spacer></v-spacer>
              </v-row>

              <v-row class="mt-0 px-4">
                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">员工岗位</span>
                  <v-select class="cus-v-input mr-2" dense filled single-line v-model="editItem['post']"
                  :items="constantCollection.post"></v-select>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">任教学段</span>
                  <v-select class="cus-v-input mr-2" dense filled single-line v-model="editItem['teachingLevel']"
                  :items="constantCollection.level"></v-select>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">任教学科</span>
                  <v-select class="cus-v-input mr-2" dense filled single-line v-model="editItem['teachingSubject']"
                  :items="constantCollection.subject"></v-select>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">员工状态</span>
                  <v-select class="cus-v-input mr-2" dense filled single-line v-model="editItem['status']"
                  :items="constantCollection.status"></v-select>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">聘用形式</span>
                  <v-select class="cus-v-input mr-2" dense filled single-line v-model="editItem['employmentForms']"
                  :items="constantCollection.employmentForms"></v-select>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">入职状态</span>
                  <v-select class="cus-v-input mr-2" dense filled single-line v-model="editItem['entryStatus']"
                  :items="constantCollection.entryStatus"></v-select>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">入职日期</span>
                  <v-menu class="cus-v-input" offset-y max-width="290">
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field class="cus-v-input" dense filled single-line v-on="on"
                        :value="editItem['dateOfEntry']"></v-text-field>
                    </template>
                    <v-date-picker color="success" elevation="20" v-model="editItem['dateOfEntry']"></v-date-picker>
                  </v-menu>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">到期日期</span>
                  <v-menu class="cus-v-input" offset-y max-width="290">
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field class="cus-v-input" dense filled single-line v-on="on"
                        :value="editItem['dateOfContractExpiration']"></v-text-field>
                    </template>
                    <v-date-picker color="success" elevation="20" v-model="editItem['dateOfContractExpiration']"></v-date-picker>
                  </v-menu>
                </v-col>
                <!--      <v-col cols="12" sm="12" md="4">-->
                <!--        &lt;!&ndash; 必填字段样式 demo :rules="requireRules" &ndash;&gt;-->
                <!--            <span class="inputLabel">学生ID</span>-->
                <!--        <v-text-field class="cus-v-input " dense filled single-line label="学生ID" v-model="editItem.studentId" :rules="requireRules"></v-text-field>-->
                <!--      </v-col>-->
                <!--      &lt;!&ndash; select 字段 demo &ndash;&gt;-->
                <!--      <v-col cols="12" sm="12" md="4">-->
                <!--            <span class="inputLabel">班级ID</span>-->
                <!--        <v-select class="cus-v-input " dense filled single-line clearable label="班级ID" v-model="editItem.classId" :items="constantCollection.classId"></v-select>-->
                <!--      </v-col>-->
                <!--      &lt;!&ndash; 日期选择 demo &ndash;&gt;-->
                <!--      <v-col cols="12" sm="12" md="4">-->
                <!--        <span class="inputLabel">出生日期</span>-->
                <!--        <v-menu class="cus-v-input " offset-y max-width="290">-->
                <!--          <template v-slot:activator="{ on, attrs }">-->
                <!--            <v-text-field class="cus-v-input " dense filled single-line v-on="on" label="出生日期" v-model="editItem.dateOfBirth"></v-text-field>-->
                <!--          </template>-->
                <!--          <v-date-picker color="success" elevation="20" v-model="editItem.dateOfBirth"></v-date-picker>-->
                <!--        </v-menu>-->
                <!--      </v-col>-->
              </v-row>
              <v-row class="justify-end mx-0 mt-8 px-6">
                <v-btn color="success" @click="doUiAction('updateItem')">保存</v-btn>
                <v-btn class="ml-2" @click="isUpdateDrawerShown = false">取消</v-btn>
              </v-row>
            </v-form>
            <v-form v-model="isFormValid" v-if="actionTab===1" ref="form" lazy-validation>
              <div class="mx-6 py-5">
                <v-row>
                  <v-col cols="3">
                    <v-hover>
                      <template v-slot:default="{ hover }">
                        <v-card class="mx-auto" style="box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);">
                          <v-card-text class="text-center">
                            <v-icon dark right small color="primary">mdi-file-document-multiple-outline</v-icon>
                            <p style="font-size: 13px;" class="mt-1">员工合同</p>
                          </v-card-text>
                          <v-fade-transition>
                            <v-overlay v-if="hover" absolute>
                              <v-icon dark right>mdi-file-multiple</v-icon>
                            </v-overlay>
                          </v-fade-transition>
                        </v-card>
                      </template>
                    </v-hover>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="3">
                    <v-hover>
                      <template v-slot:default="{ hover }">
                        <v-card class="mx-auto" style="box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);">
                          <v-card-text class="text-center">
                            <v-icon dark right small color="primary">mdi-file-document-multiple-outline</v-icon>
                            <p style="font-size: 13px;" class="mt-1">员工合同</p>
                          </v-card-text>
                          <v-fade-transition>
                            <v-overlay v-if="hover" absolute>
                              <v-icon dark right>mdi-file-multiple</v-icon>
                            </v-overlay>
                          </v-fade-transition>
                        </v-card>
                      </template>
                    </v-hover>
                  </v-col>
                </v-row>
              </div>
            </v-form>
          </v-navigation-drawer>   
        </div>

        <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
        <v-navigation-drawer v-model="isHelpPageDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
          <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#employee.md`" width="100%" height="100%"></iframe>
          <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>
        <!-- <<<<<<<<<<<<< 帮助页抽屉 -->
      </v-main>
    </v-app>
<jh-toast />
<jh-mask />
<jh-confirm-dialog />
  </div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}

{% include 'common/constant.html' %}
{% include 'component/globalHandler.html' %}


<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      breadcrumbs: [
        {
          text: '首页',
          disabled: true,
        },
        {
          text: '员工管理',
          disabled: true,
        }
      ],
      isHelpPageDrawerShown: false,
      globalHandler: new GlobalHandler(),
      isHelpPageDrawerShown: false,
      // 表格相关数据
      searchText: null,
      isFormValid: true,
      requireRules: [
        v => !!v || '此项为必填项',
      ],
      constantCollection: {
        // 员工状态
        status: [
          { text: "全职", value: "全职" },
          { text: "兼职", value: "兼职" },
          { text: "实习", value: "实习" },
        ],
        // 聘用形式
        employmentForms: [
          { text: "正式", value: "正式" },
          { text: "试用", value: "试用" },
        ],
        // 在职状态
        entryStatus: [
          { text: "在职", value: "在职" },
          { text: "待入职", value: "待入职" },
          { text: "待离职", value: "待离职" },
          { text: "已离职", value: "已离职" }
        ],
        sex: [
          { text: '男', value: '男' },
          { text: '女', value: '女' }
        ],
        post: [
          { text: "董事长", value: "董事长" },
          { text: "校长", value: "校长" },
          { text: "高中部副校长", value: "高中部副校长" },
          { text: "小学部老师", value: "小学部老师" },
          { text: "初中部老师", value: "初中部老师" },
          { text: "高中部老师", value: "高中部老师" },
          { text: "生活老师", value: "生活老师" },
          { text: "电教处", value: "电教处" },
          { text: "会计", value: "会计" },
          { text: "行政", value: "行政" },
          { text: "文员", value: "文员" },
          { text: "教官", value: "教官" },
          { text: "保安", value: "保安" },
          { text: "厨师", value: "厨师" },
          { text: "帮厨", value: "帮厨" },
          { text: "面点", value: "面点" },
          { text: "保洁", value: "保洁" }
        ],
        level: [
          { text: "小学", value: "小学" },
          { text: "初中", value: "初中" },
          { text: "高中", value: "高中" }
        ],
        subject: [
          { text: "数学", value: "数学" },
          { text: "化学", value: "化学" },
          { text: "物理", value: "物理" },
          { text: "生物", value: "生物" },
          { text: "历史", value: "历史" },
          { text: "政治", value: "政治" },
          { text: "地理", value: "地理" },
          { text: "语文", value: "语文" },
          { text: "英语", value: "英语" },
          { text: "日语", value: "日语" },
          { text: "信息", value: "信息" },
          { text: "编程", value: "编程" },
          { text: "体育", value: "体育" },
          { text: "美术", value: "美术" },
          { text: "书法", value: "书法" },
          { text: "舞蹈", value: "舞蹈" },
          { text: "音乐", value: "音乐" },
        ],
      },
      serverSearchForm: {
        employeeName: null,
        select: {
          status: null,
          employmentForms: null,
          entryStatus: null,
        },
        searchSummary: null,
      },
      serverSearchInput: {
        studentId: null,
        classId: null
      },
      searchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      showTableZebraLine: true,
      actionTab: 0,
      headers: [
        { text: "员工ID", value: "employeeId", width: 120, class: 'fixed', cellClass: 'fixed' },
        { text: "员工姓名", value: "employeeName", width: 120, class: 'fixed', cellClass: 'fixed' },
        { text: "性别", value: "sex", width: 120 },
        { text: "年龄", value: "age", width: 120 },
        { text: "联系电话", value: "contactNumber", width: 120 },
        { text: "岗位", value: "post", width: 200 },
        { text: "身份证", value: "icNumber", width: 120 },
        { text: "毕业学校", value: "institution", width: 120 },
        { text: "最高学历", value: "highestEducation", width: 120 },
        { text: "家庭地址", value: "residentialAddress", width: 120 },
        { text: "入职日期", value: "dateOfEntry", width: 120 },
        { text: "合同到期", value: "dateOfContractExpiration", width: 120 },
        { text: "建设银行卡", value: "cardNumber", width: 120 },
        { text: "员工状态", value: "status", width: 120 },
        { text: "聘用形式", value: "employmentForms", width: 120 },
        { text: "入职状态", value: "entryStatus", width: 120 },

        { text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed' },
      ],
      tabs: [
        // { title: '岗位信息', action: 'post' },
        // { title: '基本信息', action: 'basic' },
        { title: '信息详细', action: 'basic' },
        // { title: '员工合同', action: 'contract' },
        // { title: '工资社保', action: 'insurance' },
        { title: '材料附件', action: 'material' },
        // { title: '操作记录', action: 'record' },
      ],
      memberFile: {
        basicFile: [
          { title: '身份证原件照片', action: 'IDCard', icon: 'mdi-file-document-multiple-outline' },
          { title: '学历证明', action: 'educationalBackground', icon: 'mdi-file-document-multiple-outline' },
          { title: '个人证件照', action: 'documents', icon: 'mdi-file-document-multiple-outline' },
          { title: '身份证复印件', action: 'IDCard', icon: 'mdi-file-document-multiple-outline' },
          { title: '工资银行卡', action: 'educationalBackground', icon: 'mdi-file-document-multiple-outline' },
          { title: '社保卡', action: 'documents', icon: 'mdi-file-document-multiple-outline' },
          { title: '公积金', action: 'IDCard', icon: 'mdi-file-document-multiple-outline' },
          { title: '获奖证书', action: 'educationalBackground', icon: 'mdi-file-document-multiple-outline' },
          { title: '其他', action: 'documents', icon: 'mdi-file-document-multiple-outline' },
        ],
        archivesFile: [
          { title: '劳动合同', action: 'IDCard', icon: 'mdi-file-document-multiple-outline' },
          { title: '入职简历', action: 'educationalBackground', icon: 'mdi-file-document-multiple-outline' },
          { title: '入职登记表', action: 'documents', icon: 'mdi-file-document-multiple-outline' },
          { title: '入职体检单', action: 'IDCard', icon: 'mdi-file-document-multiple-outline' },
          { title: '上家公司离职证明', action: 'educationalBackground', icon: 'mdi-file-document-multiple-outline' },
          { title: '转正申请表', action: 'documents', icon: 'mdi-file-document-multiple-outline' },
          { title: '其他', action: 'IDCard', icon: 'mdi-file-document-multiple-outline' },
        ],
        resignFile: [
          { title: '离职审批', action: 'IDCard', icon: 'mdi-file-document-multiple-outline' },
          { title: '离职证明', action: 'educationalBackground', icon: 'mdi-file-document-multiple-outline' },
          { title: '其他', action: 'documents', icon: 'mdi-file-document-multiple-outline' },
        ]
      },
      isUpdateDrawerShown: false,
      editItem: {},
      isCreateDrawerShown: false,
      addItem: {}
    }),
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
      tableData() {
        return this.tableDataFromBackend;
      }
    },
    watch: {
    },
    async created() {
      await this.doUiAction('refreshTableData');
    },
    mounted() { },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData();
            await this.getStatusCount();
            break;
          case 'startCreateItem':
            await this.clearItemData();
            await this.openCreateItemDialog();
            break;
          case 'createItem':
            await this.prepareValidate();
            await this.confirmCreateItemDialog();
            await this.doCreateItem();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          case 'startUpdateItem':
            await this.prepareItemData(uiActionData);
            await this.openUpdateDialog();
            break;
          case 'updateItem':
            //   await this.prepareValidate();
            await this.confirmUpdateItemDialog();
            await this.doUpdateItem();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          case 'leaveItem':
            await this.confirmDeleteItemDialog();
            await this.doLeaveItem(uiActionData);
            await this.refreshTableData();
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },

      getHeaders(content) {
        return this[`${content.action}Headers`] || []
      },

      // 状态筛选
      changeStatus(filed, value) {
        console.log(filed)
        console.log(value)
        this.serverSearchForm.select = {};
        this.serverSearchForm.select[filed] = value;
        this.refreshTableData();
      },

      /**
       * 状态统计
       */
      async getStatusCount() {
        const { rows } = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'employeeManagement',
              actionId: 'getStatusCount'
            }
          }
        })).data.appData.resultData;
        this.setSelectOptionList(rows)
      },

      /**
       * 设置下拉框的选项列表
       */
      setSelectOptionList(rows) {
        _.forIn(rows, (value, key) => {
          const obj = _.keyBy(value, key)
          _.forEach(this.constantCollection[key], o => {
            o.num = obj[o.value] ? obj[o.value].count : 0
          })
        });
        this.$forceUpdate();
      },
      // =================================uiAction 公共方法 start ======================================
      /**
       * uiActionId:  prepareValidate
       * description: ✅表单校验
      */
      async prepareValidate() {
        if (this.$refs.form.validate() === false) {
          window.vtoast.fail({ message: "输入有误, 请检查!" });
          throw new Error("[prepareValidate] false");
        }
      },
      /**
       * uiActionId:  refreshTableData
       * description: ✅获取表格数据
      */
      async refreshTableData() {
        this.isTableLoading = true;
        const where = _.omitBy(this.serverSearchForm.select, _.isNull);
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'employeeManagementV2',
              actionId: 'selectItemList',
              actionData: {},
              where,
              whereLike: {
                employeeName: this.serverSearchForm.employeeName,
              },
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        });
        const { rows, count } = result.data.appData.resultData;
        this.tableDataFromBackend = rows;
        this.isTableLoading = false;
        // this.setSearchConditions(rows, count);
      },

      // =================================uiAction 公共方法 end ======================================

      /**
       * uiActionId:  startCreateItem
       * description: ✅获取表格数据
      */
      async clearItemData() {
        this.addItem = {};
      },
      async openCreateItemDialog() {
        this.isCreateDrawerShown = true;
      },

      /**
       * uiActionId:  createItem
       * description: ✅获取表格数据
      */
      async confirmCreateItemDialog() {
        if (await window.confirmDialog({ title: "新增", content: "确定新增吗？" }) === false) {
          throw new Error("取消");
        }
      },
      async doCreateItem() {
        const { orgId, ...data } = this.addItem;
        await window.vtoast.loading('新建员工');
        const { rows, count } = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'employeeManagementV2',
              actionId: 'insertItem',
              actionData: data,
            }
          }
        })).data.appData.resultData;
        await window.vtoast.success("新建员工成功");
        if (orgId) {
          const member = (await window.jianghuAxios({
            data: {
              appData: {
                pageId: 'employeeManagementV2',
                actionId: 'getEmployee',
                where: { id: rows[0] }
              }
            }
          })).data.appData.resultData.rows[0];
          await this.doCreateOrg({ orgId, memberId: member.employeeId })
        }
      },
      async closeDrawerShow() {
        this.isUpdateDrawerShown = false;
        this.isCreateDrawerShown = false;
      },

      /**
       * uiActionId:  startUpdateItem
       * description: ✅获取表格数据
      */
      async prepareItemData({ item }) {
        console.log({ item })
        this.editItem = { ...item };
      },
      async openUpdateDialog() {
        this.isUpdateDrawerShown = true;
      },
      /**
       * uiActionId:  updateItem
       * description: ✅获取表格数据
      */
      async confirmUpdateItemDialog() {
        if (await window.confirmDialog({ title: "修改", content: "确定修改吗？" }) === false) {
          throw new Error("取消");
        }
      },
      async doUpdateItem() {
        const { id, ...data } = this.editItem;
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'employeeManagementV2',
              actionId: 'updateItem',
              actionData: data,
              where: { id }
            }
          }
        })
        await window.vtoast.success("修改数据成功");
      },

      /**
       * uiActionId:  deleteItem
       * description: ✅获取表格数据
      */
      async confirmDeleteItemDialog() {
        if (await window.confirmDialog({ title: "离职", content: "确定离职吗？" }) === false) {
          throw new Error("取消");
        }
      },
      async doLeaveItem({ item }) {
        const { id } = item;
        const data = {
          state: "离职"
        }
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'employeeManagementV2',
              actionId: 'updateItem',
              actionData: data,
              where: { id: id }
            }
          }
        });
        await window.vtoast.success("离职成功");
      },


      // ============================ 部门相关 =========================
      async doCreateOrg(member) {
        const { orgId, memberId } = member;
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'memberOrgRoleManagement',
              actionId: 'insertItem',
              actionData: { orgId, memberId }
            }
          }
        })
      },
      async doUpdateOrg(member) {
        const { orgId, memberId } = member;
        if (!orgId || !memberId) {
          return false;
        }
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'memberOrgRoleManagement',
              actionId: 'updateItem',
              where: { memberId },
              actionData: { orgId }
            }
          }
        })
      },
      async doDeleteOrg(member) {
        const { memberId } = member;
        if (!memberId) {
          return false;
        }
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'memberOrgRoleManagement',
              actionId: 'deleteItem',
              where: { memberId },
            }
          }
        })
      },

    }
  })
</script>

<style scoped>
</style>
{% endblock %}