{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<!--SQL START
-- 以下为 jianghu init 工具生成的参考 SQL，使用后删除
-- 创建 page
INSERT INTO `_page` (`pageId`,`pageName`,`pageType`,`sort`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT 'employeeDepartApproved','页面','showInMenu','5','jhInsert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_page` WHERE `pageId`='employeeDepartApproved');

-- 创建 resource
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'employeeDepartApproved','selectItemList','✅查询-查询列表','sql','{}','{ \"table\": \"employee_request\", \"operation\": \"select\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='employeeDepartApproved' AND `actionId`='selectItemList');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'employeeDepartApproved','insertItem','✅查询-添加成员','sql','{}','{ \"table\": \"employee_request\", \"operation\": \"insert\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='employeeDepartApproved' AND `actionId`='insertItem');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'employeeDepartApproved','updateItem','✅查询-更新成员','sql','{}','{ \"table\": \"employee_request\", \"operation\": \"update\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='employeeDepartApproved' AND `actionId`='updateItem');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'employeeDepartApproved','deleteItem','✅查询-删除信息','sql','{}','{ \"table\": \"employee_request\", \"operation\": \"delete\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='employeeDepartApproved' AND `actionId`='deleteItem');
SQL END!-->

<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-15">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-8">
      <v-row>
        <v-col cols="12" xs="12" sm="12" md="4" xl="3">
          <div class="pt-3 text-h7 font-weight-bold">离职批准
            <!-- 帮助页按钮 -->
            <v-icon @click="isHelpPageDrawerShown = true" color="success" small>mdi-help-circle-outline
            </v-icon>
          </div>
          <v-breadcrumbs class="pb-3 pt-0 pl-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
        </v-col>
        <!-- 搜索条件表单 >>>>>>>> -->
        <!-- <v-col cols="12" xs="12" sm="12" md="8" xl="9">
          <v-row class="jh-backend-form-container justify-end ma-0 py-1 pb-xs-2">
            <v-col cols="12" xs="6" sm="6" md="4" xl="3" class="pa-xs-0 pb-2 pl-1 pl-xs-1">
              <v-select v-model="serverSearchInput.gender" color="success" prefix="性别：" class="jh-v-input bg-white" :items="constantObj.gender" dense filled single-line></v-select>
            </v-col>
            <v-btn class="jh-backend-search-btn elevation-0 ml-0 mt-3" color="success" small @click="doUiAction('getTableData')">
              查询
            </v-btn>
          </v-row>
        </v-col> -->
        <!-- <<<<<<<< 搜索条件表单 -->
      </v-row>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->

    <div class="jh-page-body-container px-8">
      <!-- 页面内容 >>>>>>>>>>>>> -->
      <v-card class="rounded-lg">
        <v-row class="ma-0 pa-4">
          <v-spacer></v-spacer>
          <!-- 搜索过滤 -->
          <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
            <v-select class="jh-v-input mr-2" v-model="currentRequestStatusType" :items="requestStatusType" :label="requestStatusType.label"
                      prefix="审核状态：" item-text="label" item-value="value" dense filled single-line></v-select>
          </v-col>
    
          <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
            <v-text-field color="success" v-model="searchInput" prefix="搜索：" class="jh-v-input" dense filled single-line></v-text-field>
          </v-col>
        </v-row>
        <!-- 表格 -->
        <v-data-table
          :headers="headers"
          :items="tableData"
          :search="searchInput"
          :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页', itemsPerPageAllText: '所有'}"
          :items-per-page="-1"
          mobile-breakpoint="0"
          :loading="isTableLoading"
          checkbox-color="success"
          :class="{'zebraLine': isTableZebraLineShown }"
          fixed-header
          class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
          <!-- 表格操作按钮 -->
          <template v-slot:item.action="{ item }">
            <v-btn  x-small class="success mr-2" @click="doUiAction('startUpdateItem', item)" >查看员工信息</v-btn>
          </template>
          <!-- 没有数据 -->
          <template v-slot:loading>
            <div class="jh-no-data">数据加载中</div>
          </template>
          <template v-slot:no-data>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <template v-slot:no-results>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <!-- 表格分页 -->
          <template v-slot:footer.page-text="pagination">
            <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
            <span class="ml-1">共{{pagination.itemsLength}}条</span>
          </template>
        </v-data-table>
      </v-card>
      <!-- 编辑抽屉 -->
      <v-navigation-drawer v-if="isUpdateDrawerShown" v-model="isUpdateDrawerShown" :permanent="isUpdateDrawerShown" fixed temporary right width="80%" class="elevation-24">
        <v-form ref="updateForm" lazy-validation>
          <!-- 抽屉标题 -->
          <v-row>
            <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">员工信息</span>
          </v-row>
          <!-- 抽屉表单 -->
          <v-row class="mt-0 px-4">

            <v-col cols="12" sm="12" md="4">
              <span class="inputLabel">员工编号</span>
              <v-text-field class="jh-v-input" dense filled single-line v-model="updateItem['employeeId']" readonly></v-text-field>
            </v-col>

             <v-col cols="12" sm="12" md="4">
               <span class="inputLabel">员工姓名</span>
               <v-text-field class="jh-v-input" dense filled single-line v-model="updateItem['employeeName']" readonly></v-text-field>
             </v-col>

             <v-col cols="12" sm="12" md="4">
               <span class="inputLabel">员工性别</span>
               <v-text-field class="jh-v-input" dense filled single-line v-model="updateItem['sex']" readonly></v-text-field>
             </v-col>

             <v-col cols="12" sm="12" md="4">
               <span class="inputLabel">员工年龄</span>
               <v-text-field class="jh-v-input " dense filled single-line v-model="updateItem['age']" readonly></v-text-field>
             </v-col>

             <v-col cols="12" sm="12" md="4">
               <span class="inputLabel">联系电话</span>
               <v-text-field class="jh-v-input " dense filled single-line v-model="updateItem['contactNumber']" readonly></v-text-field>
             </v-col>

             <v-col cols="12" sm="12" md="4">
               <span class="inputLabel">身份证号</span>
               <v-text-field class="jh-v-input " dense filled single-line v-model="updateItem['icNumber']" readonly></v-text-field>
             </v-col>

             <v-col cols="12" sm="12" md="4">
               <span class="inputLabel">历史备注</span>
               <v-textarea class="jh-v-input " rows="2" dense filled single-line v-model="updateItem['remarks']" readonly></v-textarea>
             </v-col>

             <v-col cols="12" sm="12" md="4">
              <span class="inputLabel">添加备注</span>
              <v-textarea class="jh-v-input " rows="2" dense filled single-line v-model="newRemarks"></v-textarea>
            </v-col>
      
           </v-row>

           <v-row>
             <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">岗位信息</span>
             <v-spacer></v-spacer>
           </v-row>

           <v-row class="mt-0 px-4">
             <v-col cols="12" sm="12" md="4">
               <span class="inputLabel">员工岗位</span>
               <v-text-field class="jh-v-input " dense filled single-line v-model="updateItem['post']" readonly></v-text-field>
             </v-col>

             <v-col cols="12" sm="12" md="4">
               <span class="inputLabel">任教学段</span>
               <v-text-field class="jh-v-input " dense filled single-line v-model="updateItem['teachingLevel']" readonly></v-text-field>
             </v-col>

             <v-col cols="12" sm="12" md="4">
               <span class="inputLabel">任教学科</span>
               <v-text-field class="jh-v-input " dense filled single-line v-model="updateItem['teachingSubject']" readonly></v-text-field>
             </v-col>

             <v-col cols="12" sm="12" md="4">
               <span class="inputLabel">员工状态</span>
               <v-text-field class="jh-v-input " dense filled single-line v-model="updateItem['status']" readonly></v-text-field>
             </v-col>

             <v-col cols="12" sm="12" md="4">
               <span class="inputLabel">聘用形式</span>
               <v-text-field class="jh-v-input " dense filled single-line v-model="updateItem['employmentForms']" readonly></v-text-field>
             </v-col>

             <v-col cols="12" sm="12" md="4">
               <span class="inputLabel">入职状态</span>
               <v-text-field class="jh-v-input " dense filled single-line v-model="updateItem['entryStatus']" readonly></v-text-field>
             </v-col>

             <v-col cols="12" sm="12" md="4">
               <span class="inputLabel">入职日期</span>
               <v-text-field class="jh-v-input " dense filled single-line v-model="updateItem['dateOfEntry']" readonly></v-text-field>
             </v-col>

             <v-col cols="12" sm="12" md="4">
               <span class="inputLabel">到期日期</span>
               <v-text-field class="jh-v-input " dense filled single-line v-model="updateItem['dateOfContractExpiration']" readonly></v-text-field>
             </v-col>
           </v-row>
          <!-- 抽屉操作按钮 -->
          <v-row class="justify-end mx-0 mt-8 px-6">
            <v-btn color="success ml-2" @click="doUiAction('departApproved')" :disabled="updateItem.departRequestStatus === '已批准'" small>批准申请</v-btn>
            <v-btn color="warning ml-2" @click="doUiAction('departRejected')" small>拒绝申请</v-btn>
            <v-btn class="elevation-0 ml-2" @click="isUpdateDrawerShown = false" small>取消</v-btn>
          </v-row>
        </v-form>
        <!-- 抽屉关闭按钮 -->
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isUpdateDrawerShown = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
      <!-- <<<<<<<<<<<<< 页面内容 -->
    </div>

    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-if="isHelpPageDrawerLoaded" v-model="isHelpPageDrawerShown" :permanent="isHelpPageDrawerShown" fixed temporary right width="80%" class="elevation-24">
      <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#404.md`" width="100%" height="100%"></iframe>
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

  </v-main>
</v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />
</div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    // 面包屑
    breadcrumbs: [
      {
        text: '首页',
        disabled: true,
      },
      {
        text: '离职批准',
        disabled: true,
      }
    ],
    isHelpPageDrawerShown: false,
    isHelpPageDrawerLoaded: false,
    isMobile: window.innerWidth < 500,
    // 表格相关数据
    isTableZebraLineShown: true,
    validationRules: {
      requireRules: [
        v => !!v || 'This is required',
      ],
    },
    // 下拉选项
    requestStatusType: [
      { label: '审核中', value: '审核中' },
      { label: '已批准', value: '已批准' },
      { label: '已拒绝', value: '已拒绝' }
    ],
    currentRequestStatusType: '审核中',
    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    headers: [
      {text: '操作', value: 'action', align: 'center', sortable: false, width: 120, class: 'fixed', cellClass: 'fixed'},
      {text: "ID", value: "id", width: 120},
       
      {text: "员工编号", value: "employeeId", width: 120}, 
      {text: "员工姓名", value: "employeeName", width: 120}, 
      {text: "员工性别", value: "sex", width: 120}, 
      {text: "员工年龄", value: "age", width: 120}, 
      {text: "联系电话", value: "contactNumber", width: 120}, 
      {text: "身份证号", value: "icNumber", width: 120}, 
      {text: "员工岗位", value: "post", width: 120}, 
      {text: "任教学段", value: "teachingLevel", width: 120}, 
      {text: "任教学科", value: "teachingSubject", width: 120}, 
      {text: "员工状态", value: "status", width: 120}, 
      {text: "聘用形式", value: "employmentForms", width: 120}, 
      {text: "入职状态", value: "entryStatus", width: 120}, 
      {text: "入职日期", value: "dateOfEntry", width: 120}, 
      {text: "到期日期", value: "dateOfContractExpiration", width: 120}, 
      {text: "申请离职状态", value: "departRequestStatus", width: 120}, 
      {text: "操作者", value: "operationByUser", width: 120},
      {text: "操作时间", value: "operationAt", width: 250},
    ],
    isUpdateDrawerShown: false,
    updateItem: {},
    updateItemId: null,
    updateActionData: {},
    newRemarks:'',
    userId: '',
    username: ''

  }),
  computed: {
    tableData() {
      if (!this.currentRequestStatusType || this.currentRequestStatusType  === 'all') {
      return this.tableDataFromBackend;
    }
    return this.tableDataFromBackend.filter(({ departRequestStatus }) => departRequestStatus === this.currentRequestStatusType);
    },
  },
  watch: {
    isHelpPageDrawerShown(val) {
      if (val && !this.isHelpPageDrawerLoaded) {
        this.isHelpPageDrawerLoaded = true;
      }
    },
  },
  async created() {
    await this.getUserInfo();
  },
  mounted() {
    this.doUiAction('getTableData');
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'getTableData':
          await this.getTableData();
          break;
        case 'startUpdateItem':
          await this.prepareUpdateFormData(uiActionData);
          await this.openUpdateDrawer();
          break;
        case 'departApproved':
          await this.confirmDepartApprovedDialog();
          await this.prepareDoUpdateItem();
          await this.doUpdateApprovedItem();
          await this.closeUpdateDrawer();
          await this.getTableData();
          break;
        case 'departRejected':
          await this.confirmDepartRejectedDialog();
          await this.prepareDoUpdateItem();
          await this.doUpdateRejectedItem();
          await this.closeUpdateDrawer();
          await this.getTableData();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", {uiActionId});
          break;
      }
    },
    /**
     * 获取表格数据
     */
    async getTableData() {
      this.isTableLoading = true;
      const backendSearchData = _.pickBy(this.serverSearchInput, ( fieldValue, fieldKey ) => {
        if(fieldValue !== null && fieldValue !== '') {
          return true;
        }
      });
      const rows = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'employeeDepartApproved',
            actionId: 'selectItemList',
            actionData: {},
            where: backendSearchData,
            orderBy: [{column: 'operationAt', order: 'desc'}]
          }
        }
      })).data.appData.resultData.rows;
      this.tableDataFromBackend = rows;
      this.isTableLoading = false;
    },


    async getUserInfo() {
        const { data: { appData: { resultData: { userId, username } } } } = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'allPage',
              actionId: 'userInfo',
              actionData: {},
              where: {},
            }
          }
        });
        this.userId = userId;
        this.username = username;
      },
    // ---------- 批准离职数据 uiAction >>>>>>>>>>>> --------
    async prepareUpdateFormData(funObj) {
      this.updateItem = _.cloneDeep(funObj);
    },

    async openUpdateDrawer() {
      this.isUpdateDrawerShown = true;
    },

    async confirmDepartApprovedDialog() {
      if (await window.confirmDialog({title: "批准", content: "确定批准吗？"}) === false) {
        throw new Error("[confirmUpdateItemDialog] 否");
      }
    },

    async prepareDoUpdateItem() {
      const {id, ...data} = this.updateItem;
      if (this.updateItem.remarks === null) {
          this.updateItem.remarks = '';
      }
      this.updateItemId = id;
      this.updateActionData = data;
    },

    async doUpdateApprovedItem() {
      const status = {
          entryStatus: "已离职",
          departRequestStatus:"已批准"
      }
      if (this.newRemarks) {
        status.remarks = this.newRemarks + '【' + this.userId + this.username + '】' + dayjs().format() + `\n` + this.updateItem.remarks;
      };
      await window.jhMask.show();
      await window.vtoast.loading("批准离职");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'employeeDepartApproved',
            actionId: 'updateItem',
            actionData: status,
            where: { employeeId: this.updateItem.employeeId }
          }
        }
      })

      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'employeeDepartApproved',
            actionId: 'updateEntryStatus',
            actionData: status,
            where: { employeeId: this.updateItem.employeeId }
          }
        }
      })
      this.newRemarks  = '';
      await window.jhMask.hide();
      await window.vtoast.success("批准离职成功");
    },

    async closeUpdateDrawer() {
      this.isUpdateDrawerShown = false;
      this.updateItem = {};
      this.updateActionData = null;
      this.updateItemId = null;
    },
    // ---------- <<<<<<<<<<< 结束批准离职数据 uiAction ---------

     // ---------- 拒绝离职数据 uiAction >>>>>>>>>>>> --------

     async confirmDepartRejectedDialog() {
      if (await window.confirmDialog({title: "拒绝", content: "确定拒绝吗？"}) === false) {
        throw new Error("[confirmUpdateItemDialog] 否");
      }
    },

    async doUpdateRejectedItem() {
      const status = {
        entryStatus: "在职",
        departRequestStatus:"已拒绝"
      };
      if (this.newRemarks) {
        status.remarks = this.newRemarks + '【' + this.userId + this.username + '】' + dayjs().format() + `\n` + this.updateItem.remarks;
      };
      await window.jhMask.show();
      await window.vtoast.loading("拒绝离职");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'employeeDepartApproved',
            actionId: 'updateItem',
            actionData: status,
            where:{ employeeId: this.updateItem.employeeId }
          }
        }
      })

      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'employeeDepartApproved',
            actionId: 'updateEntryStatus',
            actionData: status,
            where: { employeeId: this.updateItem.employeeId }
          }
        }
      })
      this.newRemarks  = '';
      await window.jhMask.hide();
      await window.vtoast.success("拒绝离职成功");
    },
  }
})
</script>

<style scoped>
</style>{% endblock %}
