{% extends 'template/template.html' %}
{% block title %}填写简历{% endblock %}

{% block css %}
<style>

[v-cloak]{ display: none; }
</style>
{% endblock %}

{% block content %}
<div id="app" v-cloak>
  <main class="page-container mb-2 mb-md-3 mx-auto" id="app">

    <div class="row g-0 justify-content-center">
      <div class="col-md-9" data-mdb-spy="scroll"
      data-mdb-target="#scrollspy1"
      data-mdb-offset="0"
      class="scrollspy-example">
        <!-- 标题 -->
        <div class="card shadow-0 mt-4 mt-lg-0 text-center text-md-left">
          <h4>{{jobData.jobTitle || ''}}</h4>
        </div>
        <!-- 表单 -->
        <form class="needs-validation mt-4" id="needs-validation" @submit.prevent="submitResume" novalidate style="overflow: hidden;">
          <!-- 个人信息 -->
          <div class="card shadow-0 mt-2 px-3 px-md-0" id="example-1">
            <div class="card-body px-0 pb-0 pb-md-4">
              <h6>个人信息</h6>
              <div class="row mt-2 g-2 g-md-4">
                <div class="col-6 col-md-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example1" v-model="resume.user" class="form-control" required/>
                    <label class="form-label" for="form6Example1">姓名</label>
                  </div>
                </div>
                <div class="col-6 col-md-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.gender" class="form-control" required/>
                    <label class="form-label" for="form6Example2">性别</label>
                  </div>
                </div>
                <div class="col-6 col-md-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.age" class="form-control" required/>
                    <label class="form-label" for="form6Example2">年龄</label>
                  </div>
                </div>
                <div class="col-6 col-md-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.ethnicity" class="form-control" required/>
                    <label class="form-label" for="form6Example2">民族</label>
                  </div>
                </div>
                <div class="col-6 col-md-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.height" class="form-control" required/>
                    <label class="form-label" for="form6Example2">身高</label>
                  </div>
                </div>
                <div class="col-6 col-md-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.weight" class="form-control" required/>
                    <label class="form-label" for="form6Example2">体重</label>
                  </div>
                </div>
                <div class="col-6 col-md-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.bloodType" class="form-control" required/>
                    <label class="form-label" for="form6Example2">血型</label>
                  </div>
                </div>
                <div class="col-6 col-md-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.maritalStatus" class="form-control" required/>
                    <label class="form-label" for="form6Example2">婚姻状况</label>
                  </div>
                </div>
                <div class="col-6 col-md-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.politicalAffiliation" class="form-control" required/>
                    <label class="form-label" for="form6Example2">政治面貌</label>
                  </div>
                </div>
                <div class="col-6 col-md-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.physicalCondition" class="form-control" required/>
                    <label class="form-label" for="form6Example2">身体状况</label>
                  </div>
                </div>
                <div class="col-6 col-md-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.religiousBeliefs" class="form-control" required/>
                    <label class="form-label" for="form6Example2">宗教信仰</label>
                  </div>
                </div>
                <div class="col-6 col-md-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.phoneNumber" class="form-control" required/>
                    <label class="form-label" for="form6Example2">联系电话</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.IDNumber" class="form-control" required/>
                    <label class="form-label" for="form6Example2">身份证号码</label>
                  </div>
                </div>
                <div class="col-6 col-md-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.email" class="form-control" required/>
                    <label class="form-label" for="form6Example2">Email地址</label>
                  </div>
                </div>
                <div class="col-6 col-md-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.highestEducation" class="form-control" required/>
                    <label class="form-label" for="form6Example2">最高学历</label>
                  </div>
                </div>
                <div class="col-6 col-md-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.wechatID" class="form-control" required/>
                    <label class="form-label" for="form6Example2">微信号</label>
                  </div>
                </div>
                <div class="col-6 col-md-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.salaryExpectation" class="form-control" required/>
                    <label class="form-label" for="form6Example2">薪酬期望</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.homeAddress" class="form-control" required/>
                    <label class="form-label" for="form6Example2">家庭住址</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.currentAddress" class="form-control" required/>
                    <label class="form-label" for="form6Example2">现住址</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.academicRanking" class="form-control" required/>
                    <label class="form-label" for="form6Example2">专业成绩排名</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.workplace" class="form-control" required/>
                    <label class="form-label" for="form6Example2">意向工作地</label>
                  </div>
                </div>
                <div class="col-6 col-md-6">
                  <div class="form-outline">
                    <input type="text" id="form6Example2" v-model="resume.earliestAvailability" class="form-control" required/>
                    <label class="form-label" for="form6Example2">最快可到岗日期</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- 教育经历 -->
          <div class="card shadow-0 mt-2 px-3 px-md-0" id="example-2">
            <div class="card-body px-0 pb-0 pb-md-4">
              <div>
                <h6>教育经历</h6>
                <p class="mt-1 text-muted">请从高中/中技阶段开始填写</p>
              </div>
              <div class="form-wrapper item-length-less-than-2" v-for="(item, index) in resume.education">
                <div class="item-wrapper">
                  <div class="row mt-2 g-2 g-md-4">
                    <div class="col-6">
                      <div class="form-outline">
                        <input type="text" id="start-time-index-1" v-model="item.startDate" class="form-control" required/>
                        <label class="form-label" for="start-time-index-1">起始年月</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-outline">
                        <input type="text" id="school-name-index-1" v-model="item.school" class="form-control" required/>
                        <label class="form-label" for="school-name-index-1">学校名称</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-outline">
                        <input type="text" id="end-time-index-1" v-model="item.major" class="form-control" required/>
                        <label class="form-label" for="end-time-index-1">专业</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-outline">
                        <input type="text" id="school-address-index-1" v-model="item.position" class="form-control" required/>
                        <label class="form-label" for="school-address-index-1">担任职务</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-outline">
                        <input type="text" id="end-time-index-1" v-model="item.teacherPhoneNumber" class="form-control" required/>
                        <label class="form-label" for="end-time-index-1">系主任/班主任联系方式</label>
                      </div>
                    </div>
                  </div>
                  <div v-if="resume.education.length > 1" class="d-flex justify-content-end mt-2 pb-2 remove-wrapper">
                    <div role="button" @click="delTemplate('education', index)" class="remove-item">
                      <i class="far fa-trash-alt me-1"></i>
                      删除
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-2 g-2 g-md-4">
                <div class="col-12">
                  <div class="form-outline">
                    <input type="text" id="form6Example1" v-model="resume.educationCertificate" class="form-control" required/>
                    <label class="form-label" for="form6Example1">获得职称/资格证书</label>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-success mt-4 shadow-0" @click="addTemplate('education')">
                <i class="fas fa-plus me-2"></i>
                添加教育经历
              </button>
            </div>
          </div>
  
          <!-- 实习工作经历 -->
          <div class="card shadow-0 mt-2 px-3 px-md-0" id="example-5">
            <div class="card-body px-0 pb-0 pb-md-4">
              <h6>实习工作经历</h6>
              <div class="form-wrapper item-length-less-than-2" v-for="(item, index) in resume.experience">
                <div class="item-wrapper">
                  <div class="row mt-2 g-2 g-md-4">
                    <div class="col-6">
                      <div class="form-outline">
                        <input type="text" id="form6Example1" v-model="item.startDate" class="form-control" required/>
                        <label class="form-label" for="form6Example1">起始年月</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-outline">
                        <input type="text" id="form6Example2" v-model="item.companyContact" class="form-control" required/>
                        <label class="form-label" for="form6Example2">单位联系电话</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-outline">
                        <input type="text" id="form6Example2" v-model="item.company" class="form-control" required/>
                        <label class="form-label" for="form6Example2">任职单位名称</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-outline">
                        <input type="text" id="form6Example2" v-model="item.desc" class="form-control" required/>
                        <label class="form-label" for="form6Example2">工作描述及收获</label>
                      </div>
                    </div>
                  </div>
                  <div v-if="resume.experience.length > 1" class="d-flex justify-content-end mt-2 pb-2 remove-wrapper">
                    <div role="button" @click="delTemplate('experience', index)" class="remove-item">
                      <i class="far fa-trash-alt me-1"></i>
                      删除
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-success mt-4 shadow-0" @click="addTemplate('experience')">
                <i class="fas fa-plus me-2"></i>
                添加工作经历
              </button>
            </div>
          </div>
  
          <!-- 家庭状况 -->
          <div class="card shadow-0 mt-2 px-3 px-md-0" id="example-7">
            <div class="card-body px-0 pb-0 pb-md-4">
              <div>
                <h6>家庭状况</h6>
                <p class="mt-1 text-muted">主要为直系亲属</p>
              </div>
              <div class="form-wrapper item-length-less-than-2" v-for="(item, index) in resume.familyMember">
                <div class="item-wrapper">
                  <div class="row mt-2 g-2 g-md-4">
                    <div class="col-6">
                      <div class="form-outline">
                        <input type="text" id="form6Example1" v-model="item.relationship" class="form-control" required/>
                        <label class="form-label" for="form6Example1">与本人的关系</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-outline">
                        <input type="text" id="form6Example1" v-model="item.name" class="form-control" required/>
                        <label class="form-label" for="form6Example1">姓名</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-outline">
                        <input type="text" id="form6Example2" v-model="item.birthday" class="form-control" required/>
                        <label class="form-label" for="form6Example2">出生年月</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-outline">
                        <input type="text" id="form6Example2" v-model="item.phone" class="form-control" required/>
                        <label class="form-label" for="form6Example2">联系电话</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-outline">
                        <input type="text" id="form6Example2" v-model="item.currentAddress" class="form-control" required/>
                        <label class="form-label" for="form6Example2">现常住地址</label>
                      </div>
                    </div>
                  </div>
                  <div v-if="resume.familyMember.length > 1" class="d-flex justify-content-end mt-2 pb-2 remove-wrapper">
                    <div role="button" @click="delTemplate('familyMember', index)" class="remove-item">
                      <i class="far fa-trash-alt me-1"></i>
                      删除
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-success mt-4 shadow-0" @click="addTemplate('familyMember')">
                <i class="fas fa-plus me-2"></i>
                添加直系亲属
              </button>
            </div>
          </div>

          <!-- 教师证明 -->
          <div class="card shadow-0 mt-2 px-3 px-md-0" id="example-8">
            <div class="card-body px-0 pb-0 pb-md-4">
              <div>
                <h6>教师证明</h6>
                <p class="mt-1 text-muted">请列举能提供有关填表人品性及能力资料的老师</p>
              </div>
              <div class="form-wrapper item-length-less-than-2" v-for="(item, index) in resume.teacherContact">
                <div class="item-wrapper">
                  <div class="row mt-2 g-2 g-md-4">
                    <div class="col-6">
                      <div class="form-outline">
                        <input type="text" id="form6Example1" v-model="item.name" class="form-control" required/>
                        <label class="form-label" for="form6Example1">姓名</label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-outline">
                        <input type="text" id="form6Example1" v-model="item.occupation" class="form-control" required/>
                        <label class="form-label" for="form6Example1">职业</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-outline">
                        <input type="text" id="form6Example2" v-model="item.phoneNumber" class="form-control" required/>
                        <label class="form-label" for="form6Example2">电话</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-outline">
                        <input type="text" id="form6Example2" v-model="item.address" class="form-control" required/>
                        <label class="form-label" for="form6Example2">地址</label>
                      </div>
                    </div>
                  </div>
                  <div v-if="resume.teacherContact.length > 1" class="d-flex justify-content-end mt-2 pb-2 remove-wrapper">
                    <div role="button" @click="delTemplate('teacherContact', index)" class="remove-item">
                      <i class="far fa-trash-alt me-1"></i>
                      删除
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-success mt-4 shadow-0" @click="addTemplate('teacherContact')">
                <i class="fas fa-plus me-2"></i>
                添加朋友
              </button>
            </div>
          </div>
  
          <!-- 获奖情况 -->
          <div class="card shadow-0 mt-2 px-3 px-md-0" id="example-6">
            <div class="card-body px-0 pb-0 pb-md-4">
              <h6>在校社交</h6>
              <div>
                <div class="row mt-2 g-2 g-md-4">
                  <div class="col-md-12">
                    <div class="form-outline">
                      <textarea v-model="resume.studentSocialization" class="form-control" id="form4Example3" rows="4" required></textarea>
                      <label class="form-label" for="form6Example1">在校期间社会活动情况（学生工作、社团、校外项目等）</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- 获奖情况 -->
          <div class="card shadow-0 mt-2 px-3 px-md-0" id="example-6">
            <div class="card-body px-0 pb-0 pb-md-4">
              <h6>获奖情况</h6>
              <div>
                <div class="row mt-2 g-2 g-md-4">
                  <div class="col-md-12">
                    <div class="form-outline">
                      <textarea v-model="resume.achievement" class="form-control" id="form4Example3" rows="4" required></textarea>
                      <label class="form-label" for="form6Example1">在校期间奖励情况（获奖时间、获奖名称、获奖等级等）</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 社交爱好 -->
          <div class="card shadow-0 mt-2 px-3 px-md-0" id="example-9">
            <div class="card-body px-0 pb-0 pb-md-4">
              <h6>社交爱好</h6>
              <div>
                <div class="row mt-2 g-2 g-md-4">
                  <div class="col-md-12">
                    <div class="form-outline">
                      <textarea v-model="resume.socialHobbies" class="form-control" id="form4Example3" rows="4" required></textarea>
                      <label class="form-label" for="form6Example1">谈谈您平时的社交活动或者爱好</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- 个人特点 -->
          <div class="card shadow-0 mt-2 px-3 px-md-0" id="example-10">
            <div class="card-body px-0 pb-0 pb-md-4">
              <h6>个人特点</h6>
              <div>
                <div class="row mt-2 g-2 g-md-4">
                  <div class="col-md-12">
                    <div class="form-outline">
                      <textarea v-model="resume.personality" class="form-control" id="form4Example3" rows="4" required></textarea>
                      <label class="form-label" for="form6Example1">简要说出您的优点和缺点分别是什么</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 职业规划 -->
          <div class="card shadow-0 mt-2 px-3 px-md-0" id="example-10">
            <div class="card-body px-0 pb-0 pb-md-4">
              <h6>职业规划</h6>
              <div>
                <div class="row mt-2 g-2 g-md-4">
                  <div class="col-md-12">
                    <div class="form-outline">
                      <textarea v-model="resume.careerPlanning" class="form-control" id="form4Example3" rows="4" required></textarea>
                      <label class="form-label" for="form6Example1">简要说出您的职业规划是什么</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- 是否有违法违纪、解雇等 -->
          <div class="card shadow-0 mt-2 px-3 px-md-0" id="example-11">
            <div class="card-body px-0 pb-0 pb-md-4">
              <h6>是否有违法违纪、解雇等</h6>
              <div>
                <div class="row mt-2 g-2 g-md-4">
                  <div class="col-md-12">
                    <div class="form-outline">
                      <textarea v-model="resume.offence" class="form-control" id="form4Example3" rows="4" required></textarea>
                      <label class="form-label" for="form6Example1">是否曾因案被捕（如曾因案被捕请说明原因）和是否因违纪受到学校处分或被公司解雇</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- 附加问题 -->
          <div class="card shadow-0 mt-2 px-3 px-md-0" id="example-13">
            <div class="card-body px-0 pb-0 pb-md-4">
              <h6>附加问题</h6>
              <div class="mt-4 text-muted">
                <p class="mt-1">1、本申请表中我所提供的情况是正确的、属实的。如发现虚假信息，贵公司可随时与我解除劳动合同及其他一切书面协议，由此造成一切后果均由本人承担。</p>
                <p class="mt-1">2、本人同意并接受公司对表中内容进行审查。</p>
                <p class="mt-1">3、本人愿意接受公司的培训和试用，如试用期考核不合格或有其他不符合录用条件情形，公司有权解除劳动合同。</p>
                <p class="mt-1">4、本人声明自己与原单位无保密协议或竞业限制协议，或前述协议超过法定有效期限，本人保证自己处理好与原工作单位的工作关系，如因劳动合同等出现劳动纠纷，本人愿意承担一切责任。</p>
              </div>
            </div>
          </div>
  
          <!-- 提交 -->
          <div class=" d-none d-sm-flex justify-content-end mt-2 pb-5">
            <button type="submit" class="btn btn-success mt-4 shadow-0" :disabled="isSubmitLoading">
              <i class="fas fa-check me-2"></i>
              提交
            </button>
          </div>
  
          <div class="d-sm-none p-3 border-top" style="position: fixed; bottom: 0; left: 0; width: 100%;background-color: #fff;z-index: 99;">
            <button type="submit" class="btn btn-success shadow-0 fs-5 to-form-btn" style="width: 100%" :disabled="isSubmitLoading">提交</button>
          </div>
          <div class="d-sm-none p-3" style="height: 70px">
            
          </div>
        </form>
      </div>
      <div class="col-md-2 d-none justify-content-end" >
        <!-- d-md-flex  -->
        <!-- Scrollspy -->
        <div id="scrollspy1" class="sticky-top">
          <ul class="nav flex-column nav-pills menu-sidebar">
            <li class="nav-item">
              <a class="nav-link" href="#example-1">个人信息</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#example-2">教育经历</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#example-3">培训经历</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#example-4">语言技能</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#example-5">工作经历</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#example-6">工作成就</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#example-7">家庭状况</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#example-8">联系人</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#example-9">社交爱好</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#example-10">个人特点</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#example-11">紧急联系人</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#example-12">招聘渠道</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#example-13">附加问题</a>
            </li>
          </ul>
        </div>
        <!-- Scrollspy -->
      </div>
    </div>
  </main>
</div>
{% endblock %}

{% block javascript %}
<script>
  new Vue({
    el: '#app',
    data() {
      return {
        resume: {},
        jobId: null,
        jobData: {},
        isJobLoading: true,
        isSubmitLoading: false,
        form: null
      };
      
    },
    computed: {
    },
    watch: {},
    async created() {
      const urlParams = new URLSearchParams(location.search);
      this.jobId = urlParams.get('jobId');
      this.initResume();
    },
    mounted() {
      this.getJobData();
      this.$nextTick(() => {
        this.form = document.getElementById('needs-validation');
        this.form.addEventListener('submit', (event) => {
          if (!this.form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          this.form.classList.add('was-validated');
        }, false);
      });
    },
    methods: {
      initResume() {
        this.resume = {
          jobId: '',
          jobTitle: '',
          jobResumeId: "00001",
          user: "",
          gender: "",
          age: "",
          ethnicity: "",
          height: "",
          weight: "",
          bloodType: "",
          maritalStatus: null,
          politicalAffiliation: null,
          physicalCondition: null,
          religiousBeliefs: null,
          phoneNumber: null,
          IDNumber: null,
          email: null,
          highestEducation: null,
          wechatID: null,
          homeAddress: null,
          currentAddress: null,
          academicRanking: null,
          workplace: null,
          salaryExpectation: null,
          earliestAvailability: null,
          // 教育经历
          education: [
            {
              startDate: null,
              school: null,
              major: null,
              position: null,
              teacherPhoneNumber: null,
            },
          ],
          educationCertificate: null,
          // 实习工作经历
          experience: [
            {
              startDate: null,
              company: null,
              companyContact: null,
              desc: null,
            },
          ],
          // 家庭状况
          familyMember: [
            {
              name: null,
              relationship: null,
              phoneNumber: null,
              address: null,
              birthday: null,
            },
          ],
          // 教师证明
          teacherContact: [
            {
              name: null,
              occupation: null,
              phoneNumber: null,
              address: null,
            },
          ],
          // 社交活动
          socialActivities: '无',
          // 成就成绩
          achievement: '无',
          // 社交爱好
          socialHobbies: '无',
          // 个人特点
          personality: '无',
          offence: '无',
          resumeStatus: null,
        };
      },
      async getJobData() {
        this.isJobLoading = true;
        const [row] = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'form',
              actionId: 'getJobData',
              where: {jobId: this.jobId}
            }
          }
        })).data.appData.resultData.rows;
        this.jobData = row;
        this.resume.jobId = this.jobId;
        this.resume.jobTitle = this.jobData.jobTitle;
        this.isJobLoading = false;
      },
      submitResume() {
        const isValid = this.form.checkValidity();
        if (!isValid) {
          return false;
        }
        this.submit();
      },
      addTemplate(type) {
        // console.log(type, JSON.stringify(this.resume[type], null, 2) )
        this.resume[type].push({});
      },
      delTemplate(type, index) {
        this.resume[type].splice(index, 1);
      },
      async submit() {
        if(this.isSubmitLoading) return;
        this.isSubmitLoading = true;
        window.vtoast.loading();
        const actionData = this.buildFormData(this.resume);
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'form',
              actionId: 'submitResume',
              actionData,
            }
          }
        });
        if(result.data.status === 'success') {
          window.vtoast.success({message: '提交成功'});
          this.initResume();
        }
        window.vtoast.hideLoading();
        this.isSubmitLoading = false;
      },
      buildFormData(data) {
        const formData = _.cloneDeep(data);
        formData.education = JSON.stringify(formData.education);
        formData.experience = JSON.stringify(formData.experience);
        formData.familyMember = JSON.stringify(formData.familyMember);
        formData.teacherContact = JSON.stringify(formData.teacherContact);
        return formData;
      }
    }
  })
</script>

<style scoped>
</style>

<style>
  .form-wrapper .item-wrapper .remove-wrapper{
    border-bottom: 1px dashed rgb(235, 235, 235);
  }
  .was-validated .form-control:invalid, .was-validated .form-control:valid {
    margin-bottom: 0;
  }
</style>
{% endblock %}
{% block errorReason %}
{% endblock %}