{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
  <div>
    <v-app mobile-breakpoint="sm">
      <jh-menu />
      <v-main class="d-flex flex-column" style="margin-top: 60px">
        <!-- 头部内容 >>>>>>>>>>>>> -->
        <div class="jh-page-second-bar px-8">
          <v-row>
            <v-col cols="12" xs="12" sm="12" md="4" xl="3">
              <div class="pt-3 text-h7 font-weight-bold">社保方案
                <!-- 帮助页按钮 -->
                <v-icon @click="isHelpPageDrawerShown = true" color="success" small>mdi-help-circle-outline
                </v-icon>
              </div>
              <v-breadcrumbs class="pb-3 pt-0 pl-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
            </v-col>
          </v-row>
        </div>

        <!-- 页面主要内容 -->
        <div class="pageBodyContainer px-8">
          <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
            <v-card>
              <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 "
                :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">

                <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0">
                  <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem')">新增</v-btn>
                  <span class="body-2">共{{ tableData.length }}条记录</span>
                </v-col>

                <v-spacer></v-spacer>

                <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pa-xs-0 pa-xs-2 col-sm-8-flex">
                  <v-text-field v-model="searchInput" label="表格过滤" class="cus-v-input" dense filled single-line></v-text-field>
                </v-col>
              </v-row>
              <v-data-table fixed-header :headers="headers" :items="tableData" :search="searchInput"
                :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }" :items-per-page="-1" mobile-breakpoint="0"
                :loading="isTableLoading" checkbox-color="success"
                class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">

                <template v-slot:item.scheme="{item}">
                  {{ getConstantText('schemeType', item.schemeType) }}
                </template>
                <template v-slot:item.status="{item}">
                  {{ getConstantText('isDel', item.isDel) }}
                </template>
                <template v-slot:item.action="{ item }">
                  <v-btn small class=" success" @click="doUiAction('startUpdateItem', {item})">修改</v-btn>
                  <v-btn small class=" error" @click="doUiAction('deleteItem', {item})">删除</v-btn>
                </template>
              </v-data-table>
            </v-card>
          </v-container>

          <!-- 新增 -->
          <v-navigation-drawer v-model="isCreateDrawerShown" :permanent="isCreateDrawerShown" fixed temporary right width="80%"
            class="elevation-24">
            <v-form v-model="isFormValid" v-if="isCreateDrawerShown" ref="form" lazy-validation>
              <v-row>
                <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">新增信息</span>
                <v-spacer></v-spacer>
                <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small
                  @click="isCreateDrawerShown = false">
                  <v-icon dark>mdi-close</v-icon>
                </v-btn>
              </v-row>
              <v-row class="mt-0 px-4">

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">社保方案id</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['schemeId']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">方案名称</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['schemeName']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">参保城市</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['city']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">户籍类型</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['houseType']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">参保类型 1 比例 2 金额</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['schemeType']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">1 删除 0 使用</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['isDel']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">创建人id</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['createUserId']"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">创建时间</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="addItem['createTime']"></v-text-field>
                </v-col>

              </v-row>
              <v-row class="justify-end mx-0 mt-8 px-6">
                <v-btn color="success" @click="doUiAction('createItem')"
                 >新增
                </v-btn>
                <v-btn class="ml-2" @click="isCreateDrawerShown = false" :style="{width: isMobile ? 'calc(100% - 45px)' : '200px'}"
                  :class="{'mr-4': isMobile}">取消</v-btn>
              </v-row>
            </v-form>
          </v-navigation-drawer>


          <!-- 编辑抽屉 -->
          <v-navigation-drawer v-model="isUpdateDrawerShown" :permanent="isUpdateDrawerShown" fixed temporary right width="80%"
            class="elevation-24">
            <v-form v-model="isFormValid" v-if="isUpdateDrawerShown" ref="form" lazy-validation>
              <v-row>
                <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">编辑信息</span>
                <v-spacer></v-spacer>
                <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small
                  @click="isUpdateDrawerShown = false">
                  <v-icon dark>mdi-close</v-icon>
                </v-btn>
              </v-row>
              <v-row class="mt-0 px-4">

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">方案名称</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['schemeName']" :rules="requireRules"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">参保城市</span>
                  <v-text-field class="cus-v-input " dense filled single-line v-model="editItem['city']" :rules="requireRules"></v-text-field>
                </v-col>

                <v-col cols="12" sm="12" md="12" xl="12" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
                  <v-btn-toggle v-model="editItem['schemeType']" color="success" borderless>
                    <v-btn small :value="item.value" v-for="(item, index) in constantCollection.schemeType">
                      <span class="hidden-sm-and-down">{{ item.text }}</span>
                    </v-btn>
                  </v-btn-toggle>
                </v-col>

                <v-col cols="12" sm="12" md="12" xl="12" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
                  <div class="d-flex justify-center align-center">
                    <span class="inputLabel">参保城市</span>
                    <v-spacer></v-spacer>
                    <v-select style="max-width: 300px" v-model="editItem.typeList" :items="constantCollection.type"
                      prefix="添加项目" multiple item-text="text" item-value="value">
                      <template v-slot:selection="{ item, index }">
                        <v-chip v-if="index === 0">
                          <span>{{ item.text }}</span>
                        </v-chip>
                        <span v-if="index === 1" class="grey--text text-caption">
                          (+{{ editItem.typeList.length - 1 }})
                        </span>
                      </template>
                    </v-select>
                  </div>

                  <v-simple-table>
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th class="text-left" style="width: 130px">
                            社保项目
                          </th>
                          <th class="text-left" style="width: 120px">
                            默认基数
                          </th>
                          <th v-if="editItem.schemeType == 1" class="text-left" style="width: 120px">
                            公司缴纳比例
                          </th>
                          <th v-if="editItem.schemeType == 1" class="text-left" style="width: 120px">
                            个人缴纳比例
                          </th>
                          <th class="text-left" style="width: 120px">
                            公司金额
                          </th>
                          <th class="text-left" style="width: 120px">
                            个人金额
                          </th>
                          <th class="text-center" style="width: 90px">
                            操作
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="(project, index) in editItem.projectList" :key="index">
                          <td>{{ project.projectName }}</td>
                          <td>
                            <v-text-field class="cus-v-input " type="number" dense filled hide-details :rules="requireRules" @change="changeProjectLine(index)" 
                            single-line v-model="project.defaultAmount"></v-text-field>
                          </td>
                          <td v-if="editItem.schemeType == 1">
                            <v-text-field class="cus-v-input " type="number" dense filled hide-details :rules="requireRules" @change="changeProjectLine(index)"
                              single-line v-model="project.corporateProportion"></v-text-field>
                          </td>
                          <td v-if="editItem.schemeType == 1">
                            <v-text-field class="cus-v-input " type="number" dense filled hide-details :rules="requireRules" @change="changeProjectLine(index)"
                              single-line v-model="project.personalProportion"></v-text-field>
                          </td>
                          <td>
                            <v-text-field :disabled="editItem.schemeType == 1" class="cus-v-input " type="number" :rules="requireRules" hide-details dense filled single-line
                              v-model="project.corporateAmount"></v-text-field>
                          </td>
                          <td>
                            <v-text-field :disabled="editItem.schemeType == 1" class="cus-v-input " type="number" :rules="requireRules" hide-details dense filled single-line
                              v-model="project.personalAmount"></v-text-field>
                          </td>
                          <td>
                            <v-icon dark @click="deleteProjectLine(index)" color="error">
                              mdi-delete-circle
                            </v-icon>
                          </td>
                        </tr>
                        <tr>
                          <td>合计</td>
                          <td>{{ sumBy('defaultAmount') }}</td>
                          <td v-if="editItem.schemeType == 1">{{ sumBy('corporateProportion') }}</td>
                          <td v-if="editItem.schemeType == 1">{{ sumBy('personalProportion') }}</td>
                          <td>{{ sumBy('corporateAmount') }}</td>
                          <td>{{ sumBy('personalAmount') }}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-col>

                <v-col cols="12" sm="12" md="4">
                  <span class="inputLabel">状态</span>
                  <v-select class="cus-v-input " dense filled single-line label="状态" v-model="editItem.isDel"
                    :items="constantCollection.isDel" item-text="text" item-value="value"></v-select>
                </v-col>

                <!--      <v-col cols="12" sm="12" md="4">-->
                <!--        &lt;!&ndash; 必填字段样式 demo :rules="requireRules" &ndash;&gt;-->
                <!--            <span class="inputLabel">学生ID</span>-->
                <!--        <v-text-field class="cus-v-input " dense filled single-line label="学生ID" v-model="editItem.studentId" :rules="requireRules"></v-text-field>-->
                <!--      </v-col>-->
                <!--      &lt;!&ndash; select 字段 demo &ndash;&gt;-->
                <!--      <v-col cols="12" sm="12" md="4">-->
                <!--            <span class="inputLabel">班级ID</span>-->
                <!--        <v-select class="cus-v-input " dense filled single-line clearable label="班级ID" v-model="editItem.classId" :items="constantCollection.classId"></v-select>-->
                <!--      </v-col>-->
                <!--      &lt;!&ndash; 日期选择 demo &ndash;&gt;-->
                <!--      <v-col cols="12" sm="12" md="4">-->
                <!--        <span class="inputLabel">出生日期</span>-->
                <!--        <v-menu class="cus-v-input " offset-y max-width="290">-->
                <!--          <template v-slot:activator="{ on, attrs }">-->
                <!--            <v-text-field class="cus-v-input " dense filled single-line v-on="on" label="出生日期" v-model="editItem.dateOfBirth"></v-text-field>-->
                <!--          </template>-->
                <!--          <v-date-picker color="success" elevation="20" v-model="editItem.dateOfBirth"></v-date-picker>-->
                <!--        </v-menu>-->
                <!--      </v-col>-->
              </v-row>
              <v-row class="justify-end mx-0 mt-8 px-6">
                <v-btn color="success" @click="doUiAction('updateItem')">保存</v-btn>
                <v-btn class="ml-2" @click="isUpdateDrawerShown = false">取消</v-btn>
              </v-row>
            </v-form>
          </v-navigation-drawer>
        </div>

        <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
        <v-navigation-drawer v-model="isHelpPageDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
          <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#waitting.md`" width="100%" height="100%"></iframe>
          <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>
        <!-- <<<<<<<<<<<<< 帮助页抽屉 -->
      </v-main>
    </v-app>
<jh-toast />
<jh-mask />
<jh-confirm-dialog />
  </div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      breadcrumbs: [
        {
          text: '首页',
          disabled: true,
        },
        {
          text: '社保方案',
          disabled: true,
        }
      ],
      isHelpPageDrawerShown: false,
      // 表格相关数据
      isFormValid: true,
      requireRules: [
        v => !!v || 'This is required',
      ],
      constantCollection: {
        // 1 比例 2 金额
        schemeType: [
          { text: '参保金额和比例', value: 1 },
          { text: '仅设置金额', value: 2 },
        ],
        // 1 删除 0 使用
        isDel: [
          { text: '删除', value: 1 },
          { text: '使用', value: 0 },
        ],
        // type 1 养老保险基数 2 医疗保险基数 3 失业保险基数 4 工伤保险基数 5 生育保险基数 6 补充大病医疗保险 7 补充养老保险 8 残保险
        type: [
          { text: '养老保险基数', value: 1 },
          { text: '医疗保险基数', value: 2 },
          { text: '失业保险基数', value: 3 },
          { text: '工伤保险基数', value: 4 },
          { text: '生育保险基数', value: 5 },
          { text: '补充大病医疗保险', value: 6 },
          { text: '补充养老保险', value: 7 },
          { text: '残保险', value: 8 },
          { text: '公积金', value: 10 },
        ],
      },

      serverSearchInput: {
        studentId: null,
        classId: null
      },
      searchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      headers: [
        { text: "ID", value: "id", width: 90, class: 'fixed', cellClass: 'fixed' },
        { text: "方案名称", value: "schemeName", width: 120 },
        { text: "参保城市", value: "city", width: 120 },
        { text: "户籍类型", value: "houseType", width: 120 },
        { text: "参保类型", value: "scheme", width: 140 },
        { text: "状态", value: "status", width: 120 },
        { text: "创建时间", value: "createTime", width: 180 },
        { text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed' },
      ],
      isUpdateDrawerShown: false,
      editItem: {},
      isCreateDrawerShown: false,
      addItem: {}
    }),
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
      tableData() {
        return this.tableDataFromBackend;
      }
    },
    watch: {
      'editItem.typeList': {
        handler: function (val, oldVal) {
          console.log(val);
          const typeList = this.constantCollection.type.filter(item => {
            return val.includes(item.value);
          });
          let projectList = this.editItem.projectList.filter(item => {
            return val.includes(item.type);
          });
          const notExistTypeList = typeList.filter(item => {
            return !projectList.map(e => e.type).includes(item.value);
          });
          projectList = projectList.concat(notExistTypeList.map(item => {
            return {
              schemeId: this.editItem.schemeId,
              type: item.value,
              projectName: item.text,
              defaultAmount: 0,
              corporateProportion: 0,
              personalProportion: 0,
              corporateAmount: 0,
              personalAmount: 0,
              isDel: 0,
            };
          }));
          this.editItem.projectList = _.orderBy(projectList, ['type'], ['asc'])
        },
        deep: true
      }
    },
    async created() {
      await this.doUiAction('refreshTableData');
    },
    mounted() { },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData();
            break;
          case 'startCreateItem':
            await this.clearItemData();
            await this.openCreateItemDialog();
            break;
          case 'createItem':
            await this.prepareValidate();
            await this.confirmCreateItemDialog();
            await this.doUpdateItem();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          case 'startUpdateItem':
            await this.prepareItemData(uiActionData);
            await this.openUpdateDialog();
            break;
          case 'updateItem':
            await this.prepareValidate();
            await this.confirmUpdateItemDialog();
            await this.doUpdateItem();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          case 'deleteItem':
            await this.confirmDeleteItemDialog();
            await this.doDeleteItem(uiActionData);
            await this.refreshTableData();
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      // =================================uiAction 公共方法 start ======================================
      /**
       * uiActionId:  prepareValidate
       * description: ✅表单校验
      */
      async prepareValidate() {
        if (this.$refs.form.validate() === false) {
          window.vtoast.fail({ message: "输入有误, 请检查!" });
          throw new Error("[prepareValidate] false");
        }
      },

      /**
       * uiActionId:  refreshTableData
       * description: ✅获取表格数据
      */
      async refreshTableData() {
        this.isTableLoading = true;
        const serverSearchInput = _.pickBy(this.serverSearchInput, value => !!value);
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'insuranceSchemeSetup',
              actionId: 'selectItemList',
              actionData: {},
              where: {},
              whereLike: serverSearchInput,
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        });
        const { rows } = result.data.appData.resultData;
        rows.forEach(item => {
          item.createTime = item.createTime ? dayjs(item.createTime).format('YYYY-MM-DD HH:mm:ss') : '';
        });
        this.tableDataFromBackend = rows;
        this.isTableLoading = false;
      },
      // =================================uiAction 公共方法 end ======================================


      /**
       * uiActionId:  startCreateItem
       * description: ✅获取表格数据
      */
      async clearItemData() {
        const defaultTypeList = [1,2,3,4,5,10];
        this.editItem = { 
          schemeName: '', 
          city: '', 
          houseType: '', 
          schemeType: 1, 
          isDel: 1, 
          typeList: defaultTypeList,
          projectList: defaultTypeList.map(item => {
            return {
              schemeId: '',
              type: item,
              projectName: this.constantCollection.type.find(e => e.value === item).text,
              defaultAmount: 0,
              corporateProportion: 0,
              personalProportion: 0,
              corporateAmount: 0,
              personalAmount: 0,
              isDel: 0,
            };
          })

        };
      },
      async openCreateItemDialog() {
        this.isUpdateDrawerShown = true;
      },

      /**
       * uiActionId:  createItem
       * description: ✅获取表格数据
      */
      async confirmCreateItemDialog() {
        if (await window.confirmDialog({ title: "新增", content: "确定新增吗？" }) === false) {
          throw new Error("取消");
        }
      },
      async doCreateItem() {
        const { id, ...data } = this.addItem;
        await window.vtoast.loading("新增数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'insuranceSchemeSetup',
              actionId: 'insertItem',
              actionData: data
            }
          }
        })
        await window.vtoast.success("新增数据成功");
      },
      async closeDrawerShow() {
        this.isUpdateDrawerShown = false;
        this.isCreateDrawerShown = false;
      },

      /**
       * uiActionId:  startUpdateItem
       * description: ✅获取表格数据
      */
      async prepareItemData({ item }) {
        this.editItem = { ...item, typeList: item.projectList.map(e => +e.type) };
      },
      async openUpdateDialog() {
        this.isUpdateDrawerShown = true;
      },
      /**
       * uiActionId:  updateItem
       * description: ✅获取表格数据
      */
      async confirmUpdateItemDialog() {
        if (await window.confirmDialog({ title: "修改", content: "确定修改吗？" }) === false) {
          throw new Error("取消");
        }
      },
      async doUpdateItem() {
        const { id, schemeName, city, schemeType, projectList, isDel, schemeId } = this.editItem;
        await window.vtoast.loading("修改数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'insuranceSchemeSetup',
              actionId: 'updateItem',
              actionData: { id, schemeName, city, schemeType, projectList, isDel, schemeId }
            }
          }
        })
        await window.vtoast.success("修改数据成功");
      },

      /**
       * uiActionId:  deleteItem
       * description: ✅获取表格数据
      */
      async confirmDeleteItemDialog() {
        if (await window.confirmDialog({ title: "删除", content: "确定删除吗？" }) === false) {
          throw new Error("取消");
        }
      },
      async doDeleteItem({ item }) {
        const { id } = item;
        await window.vtoast.loading("删除数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'insuranceSchemeSetup',
              actionId: 'deleteItem',
              actionData: {},
              where: { id: id }
            }
          }
        });
        await window.vtoast.success("删除数据成功");
      },

      getConstantText(constantName, constantValue) {
        const constant = this.constantCollection[constantName];
        if (!constant) {
          console.error("[getConstantText] constantName not find", { constantName });
          return constantValue;
        }
        const constantItem = constant.find(item => item.value == constantValue);
        return constantItem ? constantItem.text : constantValue;
      },
      deleteProjectLine(index) {
        this.editItem.projectList.splice(index, 1);
        this.editItem.typeList.splice(index, 1);
      },
      sumBy(name) {
        return parseFloat((_.sumBy(this.editItem.projectList, function (o) { return +o[name]; }) || 0).toFixed(2));
      },
      changeProjectLine(index) {
        const item = this.editItem.projectList[index];
        // defaultAmount
        // corporateProportion
        // personalProportion
        item.corporateAmount = parseFloat((item.defaultAmount * item.corporateProportion / 100).toFixed(2));
        item.personalAmount = parseFloat((item.defaultAmount * item.personalProportion / 100).toFixed(2));
      },
    }
  })
</script>

<style scoped>
</style>
{% endblock %}