{% extends 'template/jhTemplateV4.html'%}

{% block vue_template %}
<jh-layout-v4>
  <v-row class="mb-2">
    <v-col cols="7" class="mt-1 py-0 pr-0 pl-0">
      <v-card class="d-flex flex-row flex-wrap ml-3" outlined style="border: thin solid #F4F5F6;border-radius: inherit;">
        <template v-for="(status, index) in constantCollection.status" :key="index">
          <v-card
            class="pa-2 text-center" :style="{ borderRight: index ===  constantCollection.status.length - 1 ? 'none' : '1px solid #F4F5F6'}" style="flex: 1;border-radius: 0;"
            @click="changeStatus('status', status.value)">
            <div class="mb-1">{{status.text}}</div>
            <div>{{status.num || 0}}</div>
          </v-card>
        </template>
      </v-card>
    </v-col>
    <v-col cols="2" class="mt-1 py-0 pr-0">
      <v-card class="d-flex flex-row flex-wrap" outlined style="border: thin solid #F4F5F6;border-radius: inherit;">
        <template v-for="(status, index) in constantCollection.employmentForms" :key="index">
          <v-card
            class="pa-2 text-center" :style="{ borderRight: index ===  constantCollection.employmentForms.length - 1 ? 'none' : '1px solid #F4F5F6'}" style="flex: 1;border-radius: 0;"
            @click="changeStatus('employmentForms', status.value)">
            <div class="mb-1">{{status.text}}</div>
            <div>{{status.num || 0}}</div>
          </v-card>
        </template>
      </v-card>
    </v-col>
    <v-col cols="3" class="mt-1 py-0 pr-0">
      <v-card class="d-flex flex-row flex-wrap mr-3" outlined style="border: thin solid #F4F5F6;border-radius: inherit;">
        <template v-for="(status, index) in constantCollection.entryStatus" :key="index" v-if="">
          <v-card
            class="pa-2 text-center" :style="{ borderRight: index ===  constantCollection.entryStatus.length - 1 ? 'none' : '1px solid #F4F5F6'}" style="flex: 1;border-radius: 0;"
            @click="changeStatus('entryStatus', status.value)">
            <div class="mb-1">{{status.text}}</div>
            <div>{{status.num || 0}}</div>
          </v-card>
        </template>
      </v-card>
    </v-col>
  </v-row>

<!-- 页面主要内容 -->
<v-card :class="{'px-2': isMobile}" class="rounded-lg">
  <div class="d-flex justify-space-between align-center pa-4">
    <div class="d-flex align-center">
      <v-btn color="success" class="elevation-0 mr-2"
          @click.stop="doUiAction('handleTableButton', { title: '新建在职员工', action: 'addEmployee' })" small>新建员工
      </v-btn>
      <v-btn class="elevation-0 mr-2"
          @click="doUiAction('uploadItem')" small>导入 
      </v-btn>
      <v-btn class="elevation-0" @click="doUiAction('exportData')" small>导出
      </v-btn>
      <span style="font-size: 13px;" class="ml-2">{{ serverSearchForm.searchSummary }}</span>
    </div>
    <div class="d-flex align-center">
      <v-text-field v-model="tableFilterKeyword" prefix="过滤:" class="cus-v-input" dense filled single-line></v-text-field>
    </div>
  </div>
  <v-data-table 
      fixed-header 
      :headers="headers" 
      :items="tableData" 
      :search="tableFilterKeyword"
      :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
      :items-per-page="-1"
      mobile-breakpoint="0"
      :loading="isTableLoading" 
      checkbox-color="success" 
      class="fixed-table-height elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column"
      :class="{'zebraLine': showTableZebraLine }">
    <template v-slot:item.dateOfBirth="{ item }">
      {{item.dateOfBirth ? dayjs(item.dateOfBirth).format('YYYY-MM-DD') : ''}}
    </template>
    <template v-slot:item.entryTime="{ item }">
      {{item.entryTime ? dayjs(item.entryTime).format('YYYY-MM-DD') : ''}}
    </template>
    <template v-slot:item.becomeTime="{ item }">
      {{item.becomeTime ? dayjs(item.becomeTime).format('YYYY-MM-DD') : ''}}
    </template>
    <template v-slot:item.companyAgeStartTime="{ item }">
      {{item.companyAgeStartTime ? dayjs(item.companyAgeStartTime).format('YYYY-MM-DD') : ''}}
    </template>
    <template v-slot:item.idType="{ item }">
      {{ globalHandler.parseConstantValue('idType', item.idType, constantCollection) }}
    </template>
    <template v-slot:item.sex="{ item }">
      {{ globalHandler.parseConstantValue('sex', item.sex, constantCollection) }}
    </template>
    <template v-slot:item.birthdayType="{ item }">
      {{ globalHandler.parseConstantValue('birthdayType', item.birthdayType, constantCollection) }}
    </template>
    <template v-slot:item.status="{ item }">
      {{ globalHandler.parseConstantValue('status', item.status, constantCollection) }}
    </template>
    <template v-slot:item.employmentForms="{ item }">
      {{ globalHandler.parseConstantValue('employmentForms', item.employmentForms, constantCollection) }}
    </template>
    <template v-slot:item.entryStatus="{ item }">
      {{ globalHandler.parseConstantValue('entryStatus', item.entryStatus, constantCollection) }}
    </template>
    <template v-slot:item.highestEducation="{ item }">
      {{ globalHandler.parseConstantValue('highestEducation', item.highestEducation, constantCollection) }}
    </template>
    <template v-slot:item.probation="{ item }">
      {{ globalHandler.parseConstantValue('probation', item.probation, constantCollection) }}
    </template>
    <template v-slot:item.deptId="{ item }">
      {{ item.orgName }}
    </template>
    <template v-slot:item.parentId="{ item }">
      {{ item.parentName }}
    </template>
    <template v-slot:item.action="{ item }">
      <span role="button" class="success--text mr-2" style="font-size: 12px;font-weight: 500;" @click.stop="doUiAction('handleTableButton', { title: '详情', action: 'detail', item })">详情</span>
      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <span  v-bind="attrs" v-on="on" role="button" class="success--text" style="font-size: 12px;font-weight: 500;">操作<v-icon small right color="success" class="ml-1">mdi-chevron-down</v-icon></span>
        </template>
        <v-list dense>
          <v-list-item
            v-for="(btn, index) in tableButtons"
            :key="index"
            @click="doUiAction('handleTableButton', { ...btn, item })"
            v-if="!(btn.action === 'quit' && item.entryStatus !== 1)"
          >
            <v-list-item-title>{{ btn.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </template>
    <template v-slot:footer.prepend>
      <v-switch v-model="showTableZebraLine" label="显示斑马纹" dense flat></v-switch>
    </template>
  </v-data-table>
</v-card>

<!-- 从excel导入数据 -->
<v-dialog
v-model="isUploadDrawerShow"
persistent
width="70%"
>
<v-card>
  <v-card-title>
    <div class="d-flex justify-space-between align-center" style="width: 100%;">
      <div style="font-size: 16px;">从excel导入数据</div>
      <div>
        <v-btn class="elevation-0" fab x-small @click="isUploadDrawerShow = false">
          <v-icon dark>mdi-close</v-icon>
        </v-btn>
      </div>
    </div>
  </v-card-title>
  <v-card-text class="px-0">
    <v-container class="px-0">
      <v-row :class="{'px-6': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}">
        <v-col sm="12" md="4" xl="3" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
          <v-file-input v-model="improtInputFile" class="cus-v-input" dense filled single-line chips label="请选择excel文件" ></v-file-input>
        </v-col>
      </v-row>
      <v-row class="justify-end mx-0 mt-8" :class="{'px-6': !isMobile, 'px-4': isMobile}">
        <v-btn color="success" @click="doUiAction('uploadExcel')" small>上传</v-btn>
        <v-btn class="ml-2" @click="isUploadDrawerShow = false" small>取消</v-btn>
      </v-row>
    </v-container>
  </v-card-text>
</v-card>
</v-dialog>

<!-- 员工详情 -->
<v-navigation-drawer v-if="isDetailDrawerShow" v-model="isDetailDrawerShow" :permanent="isDetailDrawerShow" fixed temporary right width="80%" class="elevation-24">
  <v-row>
    <span class="title pa-6 pb-4" :class="{'pl-9': !isMobile, 'pl-6': isMobile}">{{editItem.employeeName}}</span>
    <v-spacer></v-spacer>
    <v-btn class="mt-6 elevation-0 mr-8" fab x-small @click="isDetailDrawerShow = false">
      <v-icon dark>mdi-close</v-icon>
    </v-btn>
  </v-row>
  <v-row class="ma-0 mb-2" :class="{'px-6': !isMobile, 'px-4': isMobile}">
     <v-tabs dense v-model="actionTab" class="custom-tabs">
      <v-tab v-for="(tab, index) in tabs" :key="index" style="font-weight: 400;">{{tab.title}}</v-tab>
    </v-tabs>
  </v-row>
  <div class="mt-4 mb-10">
    <template v-if="tabContent[actionTab]">
      <template v-for="(content, index) in tabContent[actionTab]" :key="index">
        <div class="d-flex justify-space-between align-center px-6" :class="{'mb-1': content.type === 'form'}">
          <h4>{{content.title}}</h4>
          <v-btn v-if="content.showEditBtn" @click="addInformation(content)" small color="success">编辑</v-btn>
        </div>
        <template v-if="content.type === 'form'">
          <edit-form 
            v-if="content.showForm"
            :headers="getHeaders(content)"
            :editItem="editItem"
            :currentClickButton="currentClickButton"
            :constantCollection="constantCollection"
            :showCancel="!content.showEditBtn"
            :showSave="!content.showEditBtn"
            @save="doUiAction('saveInfo')">
          </edit-form>
          <div class="mx-6 my-2" v-else>
            <v-btn block small @click="addInformation(content)" style="font-size: 13px;font-weight: 400;">
              <v-icon right small>mdi-plus</v-icon>
              添加{{content.title}}
            </v-btn>
          </div>
        </template>
        <template v-if="content.type === 'table'">
          <div class="mx-6 mt-2">
            <v-data-table 
              :headers="getHeaders(content)" 
              :items="salaryData" 
              :search="tableFilterKeyword"
                  mobile-breakpoint="0"
                  :loading="isTableLoading " checkbox-color="success" class="elevation-0"
                  :options="{
              itemsPerPage: 15
            }">
            </v-data-table>
          </div>
        </template>
        <template v-if="content.type === 'file'">
          <div class="mx-6 py-5">
            <v-row>
              <v-col cols="3" v-for="(file, index) in memberFile[content.action]" :key="index">
                <v-hover>
                  <template v-slot:default="{ hover }">
                    <v-card
                      class="mx-auto"
                      style="box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);"
                    >
                      <v-card-text class="text-center">
                        <v-icon dark right small color="primary">{{file.icon}}</v-icon>
                        <p style="font-size: 13px;" class="mt-1">{{file.title}}</p>
                      </v-card-text>
                      <v-fade-transition>
                        <v-overlay
                          v-if="hover"
                          absolute
                        >
                        <v-icon dark right>mdi-file-multiple</v-icon>
                        </v-overlay>
                      </v-fade-transition>
                    </v-card>
                  </template>
                </v-hover>
              </v-col>
            </v-row>
          </div>
        </template>
      </template>  
    </template>
    <template v-if="tabs[actionTab]['action'] === 'record'">
      <div class="mx-6">
        <v-timeline dense>
          <v-timeline-item small v-for="(record, index) in recordData" :key="index">
            <span class="text--secondary mr-3">{{record.time}}</span>{{record.content}}
          </v-timeline-item>
        </v-timeline>
      </div>
    </template>
  </div>
</v-navigation-drawer>

<v-dialog
v-model="showDialog"
persistent
width="70%"
>
<v-card>
  <v-card-title>
    <div class="d-flex justify-space-between align-center" style="width: 100%;">
      <div style="font-size: 16px;">{{currentTabContent.title}}</div>
      <div>
        <v-btn class="elevation-0" fab x-small @click="showDialog = false">
          <v-icon dark>mdi-close</v-icon>
        </v-btn>
      </div>
    </div>
  </v-card-title>
  <v-card-text class="px-0">
    <v-container class="px-0">
      <edit-form 
        ref="form"
        :headers="getHeaders(currentTabContent)"
        :editItem="editItem"
        :currentClickButton="currentClickButton"
        :constantCollection="constantCollection"
        @save="doUiAction('saveInfo')"
        @close="showDialog = false">
      </edit-form>
    </v-container>
  </v-card-text>
</v-card>
</v-dialog>

</jh-layout-v4>

{% endblock %}

{% block vue_body %}
{% include 'common/constant.html' %}
{% include 'component/drawerForm.html' %}
{% include 'component/editForm.html' %}
{% include 'component/globalHandler.html' %}
<script lang="javascript" src="/<$ ctx.app.config.appId $>/public/js/xlsx.full.min.js"></script>
<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    globalHandler: new GlobalHandler(),
    statusFilter: [],
    searchText: null,
    tableFilterKeyword: null,
    isFormValid: true,
    requireRules: [
      v => !!v || '此项为必填项',
    ],
    constantCollection: constantCollection,
    serverSearchForm: {
      employeeName: null,
      select: {
        status: null,
        employmentForms: null,
        entryStatus: null,
      },
      searchSummary: null,
    },
    isTableLoading: true,
    tableDataBackups: [],
    headers: [],
    editItem: {},
    isEditDrawerShow: false,
    showTableZebraLine: true,
    currentClickButton: {},
    employeeField: [],
    adminUser: [],
    tableButtons: [
        { title: '调整部门/岗位', action: 'change' },
        { title: '晋升/降级', action: 'change' },
        { title: '修改社保方案', action: 'insurance' },
        { title: '办理离职', action: 'quit' }
    ],
    tabs: [
      { title: '岗位信息', action: 'post' },
      { title: '基本信息', action: 'basic' },
      { title: '员工合同', action: 'contract' },
      { title: '工资社保', action: 'insurance' },
      { title: '材料附件', action: 'material' },
      { title: '操作记录', action: 'record' },
    ],
    tabContent: [
      [{ title: '岗位信息', action: 'post', showForm: true, type: 'form', showEditBtn: true }],
      [
        { title: '基本信息', action: 'basic', showForm: true, type: 'form', showEditBtn: true },
        { title: '通讯信息', action: 'communication', showForm: true, type: 'form', showEditBtn: true },
        { title: '教育经历', action: 'education', showForm: false, type: 'form' },
        { title: '工作经历', action: 'work', showForm: false, type: 'form' },
        { title: '证书/证件', action: 'certificate', showForm: false, type: 'form' },
        { title: '培训经历', action: 'training', showForm: false, type: 'form' },
        { title: '联系人', action: 'contact', showForm: false, type: 'form' }
      ],
      [
        { title: '合同信息', action: 'contract', showForm: false, type: 'form' }
      ],
      [
        { title: '工资卡信息', action: 'salaryCard', showForm: true, type: 'form', showEditBtn: true },
        { title: '社保信息', action: 'socialSecurity', showForm: true, type: 'form', showEditBtn: true },
        { title: '薪资信息', action: 'salary', showForm: true, type: 'table' },
      ],
      [
        { title: '员工基本资料', action: 'basicFile', type: 'file' },
        { title: '员工档案资料', action: 'archivesFile', type: 'file' },
        { title: '员工离职资料', action: 'resignFile', type: 'file' },
      ],
    ],
    memberFile: {
      basicFile: [
        { title: '身份证原件照片', action: 'IDCard', icon: 'mdi-file-document-multiple-outline'},
        { title: '学历证明', action: 'educationalBackground', icon: 'mdi-file-document-multiple-outline'},
        { title: '个人证件照', action: 'documents', icon: 'mdi-file-document-multiple-outline'},
        { title: '身份证复印件', action: 'IDCard', icon: 'mdi-file-document-multiple-outline'},
        { title: '工资银行卡', action: 'educationalBackground', icon: 'mdi-file-document-multiple-outline'},
        { title: '社保卡', action: 'documents', icon: 'mdi-file-document-multiple-outline'},
        { title: '公积金', action: 'IDCard', icon: 'mdi-file-document-multiple-outline'},
        { title: '获奖证书', action: 'educationalBackground', icon: 'mdi-file-document-multiple-outline'},
        { title: '其他', action: 'documents', icon: 'mdi-file-document-multiple-outline'},
      ],
      archivesFile: [
        { title: '劳动合同', action: 'IDCard', icon: 'mdi-file-document-multiple-outline'},
        { title: '入职简历', action: 'educationalBackground', icon: 'mdi-file-document-multiple-outline'},
        { title: '入职登记表', action: 'documents', icon: 'mdi-file-document-multiple-outline'},
        { title: '入职体检单', action: 'IDCard', icon: 'mdi-file-document-multiple-outline'},
        { title: '上家公司离职证明', action: 'educationalBackground', icon: 'mdi-file-document-multiple-outline'},
        { title: '转正申请表', action: 'documents', icon: 'mdi-file-document-multiple-outline'},
        { title: '其他', action: 'IDCard', icon: 'mdi-file-document-multiple-outline'},
      ],
      resignFile: [
        { title: '离职审批', action: 'IDCard', icon: 'mdi-file-document-multiple-outline'},
        { title: '离职证明', action: 'educationalBackground', icon: 'mdi-file-document-multiple-outline'},
        { title: '其他', action: 'documents', icon: 'mdi-file-document-multiple-outline'},
      ]
    },
    showDialog: false,
    currentTabContent: {},
    salaryData: [],
    recordData: [
      {time: '2022-11-11 23:53', content: 'dizzy 为李四修改了参保方案,由【空】修改为【test2】'},
      {time: '2022-11-11 21:53', content: 'dizzy 为李四修改了参保方案,由【test】修改为【空】'},
      {time: '2022-11-11 20:53', content: 'admin 新建了员工'}
    ],
    // 导入
    isUploadDrawerShow: false,
    improtInputFile: null,
    // 详情
    isDetailDrawerShow: false,
    actionTab: 0,
    // 参保方案
    insuranceHeaders: [
      { text: "参保方案", value: "schemeId", type: 'select' }
    ],
    // 办理离职
    quitHeaders: [
      { text: "计划离职日期", value: "planQuitTime", type: 'date', required: true },
      { text: "离职申请日期", value: "applyQuitTime", type: 'date', required: true },
      { text: "薪资结算日期", value: "salarySettlementTime", type: 'date', required: true },
      { text: "离职类型", value: "quitType", type: 'select', required: true },
      { text: "离职原因", value: "quitReason", type: 'select', required: true },
      { text: "备注", value: "remarks", type: 'textarea' }
    ],
    // 调整部门/岗位、晋升/降级
    changeHeaders: [
      { text: "原部门", value: "orgId", type: 'select', disabled: true, constant: 'org'},
      { text: "变更为", value: "newDept", type: 'select', constant: 'org'},
      { text: "异动类型", value: "changeType", type: 'select' },
      { text: "原岗位", value: "post", disabled: true },
      { text: "变更为", value: "newPost" },
      { text: "异动原因", value: "changeReason", type: 'select' },
      { text: "原岗位职级", value: "postLevel", disabled: true },
      { text: "变更为", value: "newPostLevel" },
      { text: "生效日期", value: "effectTime", type: 'date', required: true },
      { text: "原工作地点", value: "workAddress", disabled: true },
      { text: "变更为", value: "newWorkAddress" },
      { text: "备注", value: "remarks", type: 'textarea' }
    ],
    // 新建员工
    addEmployeeHeaders: [
      { text: "姓名", value: "employeeName", required: true},
      { text: "手机", value: "mobile", required: true},
      { text: "证件类型", value: "idType", type: 'select' },
      { text: "证件号码", value: "idNumber" },
      { text: "性别", value: "sex", type: 'select' },
      { text: "入职日期", value: "entryTime", type: 'date', required: true },
      { text: "试用期", value: "probation", type: 'select' },
      { text: "部门", value: "orgId", type: 'select', constant: 'org'},
      { text: "直属上级", value: "parentId", type: 'select', constant: 'employee'},
      { text: "岗位", value: "post" },
      { text: "工作城市", value: "workCity" },
      { text: "聘用形式", value: "employmentForms", type: 'select', required: true },
      { text: "非正式类型", value: "status", type: 'select' }
    ],
    postHeaders: [
      { text: "入职日期", value: "entryTime", type: 'date', required: true },
      { text: "试用期", value: "probation", type: 'select' },
      { text: "转正日期", value: "entryTime", type: 'date', required: true, disabled: true },
      { text: "工号", value: "jobNumber"},
      { text: "部门", value: "orgId", type: 'select', constant: 'org'},
      { text: "直属上级", value: "parentId", type: 'select', constant: 'employee'},
      { text: "岗位", value: "post" },
      { text: "职级", value: "postLevel"},
      { text: "工作地点", value: "workAddress" },
      { text: "详细工作地点", value: "workDetailAddress" },
      { text: "工作城市", value: "workCity" },
      { text: "招聘渠道", value: "channelId", type: 'select', },
      { text: "聘用形式", value: "employmentForms", type: 'select', required: true, disabled: true },
      { text: "员工状态", value: "status", type: 'select', disabled: true },
      { text: "司龄开始日期", value: "companyAgeStartTime", type: 'date' },
      { text: "司龄", value: "companyAge", disabled: true },
    ],
    basicHeaders: [
      { text: "姓名", value: "employeeName", required: true},
      { text: "英文名", value: "fliedHukzra"},
      { text: "手机", value: "mobile", required: true},
      { text: "证件类型", value: "idType", type: 'select' },
      { text: "证件号码", value: "idNumber" },
      { text: "性别", value: "sex", type: 'select' },
      { text: "出生日期", value: "dateOfBirth", type: 'date'},
      { text: "生日类型", value: "birthdayType", type: 'select'},
      { text: "生日", value: "birthday"},
      { text: "年龄", value: "age", disabled: true },
      { text: "是否已婚", value: "fliedBbnpqh", type: 'select' },
      { text: "是否已育", value: "fliedDxnkqj", type: 'select' },
      { text: "国家地区", value: "country", type: 'select'},
      { text: "民族", value: "nation", type: 'select'},
      { text: "政治面貌", value: "fliedLuxpii"},
      { text: "籍贯", value: "nativePlace", type: 'select' },
      { text: "户籍所在地", value: "address" },
      { text: "健康状态", value: "fliedMosheh"},
      { text: "最高学历", value: "highestEducation", type: 'select' },
    ],
    communicationHeaders: [
      { text: "手机号码", value: "entryTime" },
      { text: "个人邮箱", value: "probation" },
      { text: "QQ", value: "entryTime" },
      { text: "微信", value: "jobNumber"},
      { text: "现居住地", value: "orgId"},
      { text: "紧急联系人", value: "parentId"},
      { text: "紧急联系人电话", value: "post" },
    ],
    educationHeaders: [
      { text: "学历", value: "entryTime" },
      { text: "毕业院校", value: "probation" },
      { text: "专业", value: "entryTime" },
      { text: "入学时间", value: "jobNumber"},
      { text: "毕业时间", value: "orgId"},
      { text: "教学方式", value: "parentId"},
      { text: "是否第一学历", value: "post" },
    ],
    workHeaders: [
      { text: "工作单位", value: "entryTime" },
      { text: "职务", value: "probation" },
      { text: "工作开始时间", value: "entryTime" },
      { text: "工作结束时间", value: "jobNumber"},
      { text: "离职原因", value: "orgId"},
      { text: "证明人", value: "parentId"},
      { text: "证明人电话", value: "post" },
      { text: "工作备注", value: "post" },
    ],
    certificateHeaders: [
      { text: "证书名称", value: "entryTime" },
      { text: "证书级别", value: "probation" },
      { text: "证书/证件编号", value: "entryTime" },
      { text: "有效期起始日期", value: "jobNumber"},
      { text: "有效期到期日", value: "orgId"},
      { text: "发证机构", value: "parentId"},
      { text: "发证日期", value: "post" },
      { text: "证件备注", value: "post" },
    ],
    trainingHeaders: [
      { text: "培训课程", value: "entryTime" },
      { text: "培训机构名称", value: "probation" },
      { text: "培训开始时间", value: "entryTime" },
      { text: "培训结束时间", value: "jobNumber"},
      { text: "培训时长", value: "orgId"},
      { text: "培训成绩", value: "parentId"},
      { text: "培训证书名称", value: "post" },
      { text: "培训备注", value: "post" },
    ],
    contactHeaders: [
      { text: "联系人姓名", value: "entryTime" },
      { text: "关系", value: "probation" },
      { text: "联系人电话", value: "entryTime" },
      { text: "联系人工作单位", value: "jobNumber"},
      { text: "联系人职务", value: "orgId"},
      { text: "联系人地址", value: "parentId"},
    ],
    contractHeaders: [
      { text: "合同编号", value: "entryTime" },
      { text: "合同类型", value: "probation" },
      { text: "合同开始日期", value: "entryTime" },
      { text: "合同结束日期", value: "jobNumber"},
      { text: "合同期限", value: "orgId"},
      { text: "合同状态", value: "parentId"},
      { text: "签约公司", value: "jobNumber"},
      { text: "合同签订日期", value: "orgId"},
      { text: "合同备注", value: "parentId"},
      { text: "合同附件", value: "parentId"},
    ],
    salaryCardHeaders: [
      { text: "工资卡卡号", value: "entryTime" },
      { text: "工资卡开户城市", value: "probation" },
      { text: "银行名称", value: "entryTime" },
      { text: "工资卡开户行", value: "jobNumber"},
    ],
    socialSecurityHeaders: [
      { text: "是否本地首次缴纳社保", value: "entryTime" },
      { text: "是否本地首次缴纳公积金", value: "probation" },
      { text: "个人社保账号", value: "entryTime" },
      { text: "个人公积金账号", value: "jobNumber"},
      { text: "参保起始月份", value: "orgId"},
      { text: "参保方案", value: "parentId"},
    ],
    salaryHeaders: [
      { text: "计薪月份", value: "entryTime" },
      { text: "计薪周期", value: "probation" },
      { text: "应发工资", value: "entryTime" },
      { text: "个人所得税", value: "jobNumber"},
      { text: "实发工资", value: "orgId"},
    ]
  }),
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataBackups;
    },
    getEditItem() {
      return this.editItem;
    },
    drawerHeaders(){
      let header = []
      if(this.currentClickButton.action !== 'detail'){
        header = this.currentClickButton.action ? this[`${this.currentClickButton.action}Headers`].slice() : []
        if(this.currentClickButton.title === '新建在职员工'){
          header.push({ text: "工号", value: "jobNumber", required: true })
        }else if(this.currentClickButton.title === '从组织架构中选择'){
          header.unshift({ text: "从系统管理选择员工", value: "userId", type: 'select', constant: 'adminUser' })
        }
      }
      return header
    }
  },
  watch: {
    searchText(value) {
      value = value && value.toLowerCase();
      const {constantCollection: {status = []}} = this;
      if (value) {
        this.statusFilter = status.slice()
            .filter((v) => v.text && (v.text.toLowerCase().includes(value) || v.text.includes(value)))
        return false;
      }
      this.statusFilter = status.slice();
    },
    'editItem.orgId': {
      handler(newValue, oldValue) {
        if(this.currentClickButton.action === 'addEmployee' && newValue !== oldValue ){
          this.getEmployee()
        }
      }
    },
  },
  async created() {
    await this.doUiAction('setEmployeeField');
    await this.doUiAction('getTableData');
    await this.doUiAction('getConstant');
  },
  async mounted() {
    window.onresize = () => {
      resetTableMaxHeight(220);
    }
    resetTableMaxHeight(220);
  },
  methods: {
    dayjs,
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'getConstant':
          await this.getInsuranceScheme()
          await this.getDept()
          await this.getAdminUser()
          break;
        case 'setEmployeeField':
          await this.getEmployeeField()
          break;
        case 'getTableData':
          await this.getTableData()
          await this.getStatusCount()
          break;
        case 'handleTableButton':
          await this.globalHandler.handleTableButton(uiActionData, this)
          break;
        case 'saveInfo':
          await this.saveInfo();
          break;
        case 'insuranceSave':
          await this.globalHandler.validateSaveItem(this);
          await this.globalHandler.confirmEditItemDialog('修改社保方案');
          await this.insuranceSave();
          await this.globalHandler.editItemSuccess('修改社保方案', this);
          await this.doUiAction('getTableData');
          break;
        case 'quitInfoSave':
          await this.globalHandler.validateSaveItem(this);
          await this.globalHandler.confirmEditItemDialog('办理离职');
          await this.quitInfoSave();
          await this.globalHandler.editItemSuccess('办理离职', this);
          await this.doUiAction('getTableData');
          break;
        case 'changeSave':
          await this.globalHandler.validateSaveItem(this);
          await this.globalHandler.confirmEditItemDialog(this.currentClickButton.title);
          await this.changeSave();
          await this.globalHandler.editItemSuccess(this.currentClickButton.title, this);
          await this.doUiAction('getTableData');
          break;
        case 'addEmployeeSave':
          await this.globalHandler.validateSaveItem(this);
          await this.globalHandler.confirmEditItemDialog('新建员工');
          await this.addEmployeeSave();
          await this.globalHandler.editItemSuccess('新建员工', this);
          await this.doUiAction('getTableData');
          break;
        case 'uploadItem':
          await this.prepareUploadItem();
          await this.openUploadDialog();
          break;
        case 'uploadExcel':
          await this.readExcelOfTemplate();
          await this.uploadExcel();
          await this.doUiAction('getTableData');
          break; 
        case 'exportData':
          await this.getExcel()
          break;
      }
    },
    getHeaders(content){
      return this[`${content.action}Headers`] || []
    },
    // 状态筛选
    changeStatus(filed, value){
      this.serverSearchForm.select[filed] = value;
      this.getTableData();
    },
    /**
   * 状态统计
   */
    async getStatusCount() {
      const {rows} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'employeeManagement',
            actionId: 'getStatusCount'
          }
        }
      })).data.appData.resultData;
      this.setSelectOptionList(rows)
    },
    /**
     * 设置下拉框的选项列表
     */
    setSelectOptionList(rows) {
      _.forIn(rows, (value, key) => {
        const obj =  _.keyBy(value, key)
        _.forEach(this.constantCollection[key], o => {
            o.num = obj[o.value] ? obj[o.value].count : 0
        })
      });
      this.$forceUpdate();
    },
    //获取自定义字段
    async getEmployeeField() {
      const {rows} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'employeeManagement',
            actionId: 'getEmployeeField',
            where: {isHeadField: 1}
          }
        }
      })).data.appData.resultData;
      this.employeeField = rows;
      this.setTableHeader()
    },
    //设置table header
    setTableHeader(){
      const width = {
        120: ['dateOfBirth', 'entryTime', 'becomeTime', 'companyAgeStartTime', 'post', 'employeeName'],
        200: ['nativePlace']
      }
      let headers = this.employeeField.map(o => {
        return {
          text: o.name, 
          value: o.fieldName, 
          width: _.findKey(width, w =>{return _.includes(w, o.fieldName)}),
          type: o.type, 
          required: o.isNull === 1
        }
      })
      headers.unshift({text: '操作', value: 'action', align: 'center', sortable: false, width: 150, class: 'fixed', cellClass: 'fixed'})
      this.headers = headers;
    },
    /**
     * 获取表格数据
     */
    async getTableData() {
      this.isTableLoading = true;
      const where = _.omitBy(this.serverSearchForm.select, _.isNull);
      const {rows, count} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'employeeManagement',
            actionId: 'selectItemList',
            where,
            whereLike: {
              employeeName: this.serverSearchForm.employeeName,
            },
            limit: _.size(where) === 0 ? 200 : 99999999,
            orderBy: [
              {column: 'createTime', order: 'desc'}
            ]
          }
        }
      })).data.appData.resultData;
      this.tableDataBackups = rows;
      this.isTableLoading = false;
      this.setSearchConditions(rows, count);
    },
    /**
     * 设置搜索条件
     */
    setSearchConditions(rows, count) {
      const where = _.omitBy(this.serverSearchForm.select, _.isNull);
      let conditions = [];
      if (this.serverSearchForm.employeeName) {
        conditions.push(`姓名包含【${this.serverSearchForm.employeeName}】`);
      }
      if (where.status) {
        conditions.push(`员工状态为【${this.globalHandler.parseConstantValue('status', where.status, constantCollection)}】`);
      }
      if (where.employmentForms) {
        conditions.push(`招聘形式为【${this.globalHandler.parseConstantValue('employmentForms', where.employmentForms, constantCollection)}】`);
      }
      if (where.entryStatus) {
        conditions.push(`入职状态为【${this.globalHandler.parseConstantValue('entryStatus', where.entryStatus, constantCollection)}】`);
      }
      conditions = `${conditions.join('，')}${conditions.length > 0 ? '，' : ''}`
      this.serverSearchForm.searchSummary = `${conditions}共${count}条记录`;
    },
    /**
     * 保存数据
     */
    async saveInfo() {
      await this.doUiAction(`${this.currentClickButton.action}Save`);
    },
    // ============================ 社保相关 =========================
    // 获取社保方案
    async getInsuranceScheme() {
      const {rows} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'employeeManagement',
            actionId: 'getInsuranceScheme'
          }
        }
      })).data.appData.resultData;
      this.setInsuranceConstant(rows)
    },
    // 设置社保方案常量
    setInsuranceConstant(rows){
      const schemeId = rows.map(item => {
        return {text: item.schemeName, value: item.schemeId}
      })
      this.$set(this.constantCollection, 'schemeId', schemeId) 
    },
    //保存参保方案
    async insuranceSave() {
      const { employeeId, schemeId } = this.editItem;
      await window.vtoast.loading("修改参保方案");
      const {rows, count} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'employeeManagement',
            actionId: 'insuranceSave',
            where: { employeeId },
            actionData: { schemeId },
          }
        }
      })).data.appData.resultData;
    },
    // ============================ 办理离职相关 =========================
    //办理离职
    async quitInfoSave() {
      const { entryStatus  } = this.editItem;
      let params = _.pick(this.editItem, ['employeeId', 'planQuitTime', 'applyQuitTime', 'salarySettlementTime', 'quitType', 'quitReason', 'remarks'])
      params.oldStatus = entryStatus;
      await window.vtoast.loading("办理离职");
      const {rows, count} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'employeeManagement',
            actionId: 'quitInfoSave',
            actionData: params,
          }
        }
      })).data.appData.resultData;
    },
    // ============================ 调整岗位/部门、晋升/降级 相关 =========================
    // 获取部门
    async getDept() {
      const {rows} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'employeeManagement',
            actionId: 'getDept'
          }
        }
      })).data.appData.resultData;
      this.setDeptConstant(rows)
    },
    // 设置部门常量
    setDeptConstant(rows){
      const org = rows.map(item => {
        const level = item.orgPath.split('-').length;
        return { text: item.orgName, value: item.orgId, textRender: _.repeat('- ', level - 1) + item.orgName }
      })
      this.$set(this.constantCollection, 'org', org) 
    },
    //调整岗位/部门、晋升/降级
    async changeSave() {
      const { orgId, post, postLevel, workAddress, newDept, employeeId } = this.editItem;
      let params = _.pick(this.editItem, ['employeeId', 'changeType', 'changeReason', 'newDept', 'newPost', 'newPostLevel', 'newWorkAddress', 'effectTime'])
      params = {
        ...params,
        oldDept: orgId,
        oldPost: post,
        oldPostLevel: postLevel,
        oldWorkAddress: workAddress
      }
      await window.vtoast.loading(this.currentClickButton.title);
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'employeeManagement',
            actionId: 'changeSave',
            actionData: params,
          }
        }
      });
      // 更新部门
      const orgData = { orgId: newDept, memberId: employeeId }
      if(newDept){
        orgId ? await this.doUpdateOrg(orgData) : await this.doCreateOrg(orgData)
      }
    },
    // ============================ 新建员工/从组织架构中选择 相关 =========================
    // 获取员工
    async getEmployee() {
      const { orgId } = this.editItem
      const {rows} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'employeeManagement',
            actionId: 'getEmployee',
            where: orgId === '01' ? {} : { orgId }
          }
        }
      })).data.appData.resultData;
      this.setEmployeeConstant(rows)
    },
    // 设置员工常量
    setEmployeeConstant(rows){
      const employee = rows.map(item => {
        return {text: item.employeeName, value: item.employeeId}
      })
      this.$set(this.constantCollection, 'employee', employee) 
    },
    // 获取组织架构user
    async getAdminUser() {
      const {rows} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'employeeManagement',
            actionId: 'getAdminUser',
          }
        }
      })).data.appData.resultData;
      this.adminUser = rows;
      this.setAdminUserConstant(rows)
    },
    // 设置adminUser常量
    setAdminUserConstant(rows){
      const adminUser = rows.map(item => {
        return {text: item.realname, value: item.userId}
      })
      this.$set(this.constantCollection, 'adminUser', adminUser) 
    },
    //新建员工
    async addEmployeeSave() {
      const {orgId, ...data } = this.editItem;
      let params = {
        ...data,
        entryStatus: this.currentClickButton.title === '新建在职员工' ? 1 : 2
      }
      if(this.currentClickButton.title === '从组织架构中选择'){
        delete params.userId
      }
      await window.vtoast.loading('新建员工');
      const {rows, count} = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'employeeManagement',
            actionId: 'addEmployeeSave',
            actionData: params,
          }
        }
      })).data.appData.resultData;
      if(orgId){
        const member = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'employeeManagement',
              actionId: 'getEmployee',
              where: { id: rows[0] }
            }
          }
        })).data.appData.resultData.rows[0];
        await this.doCreateOrg({orgId, memberId: member.employeeId})
      }
    },
    // ============================ 部门相关 =========================
    async doCreateOrg(member) {
      const { orgId, memberId } = member;
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'memberOrgRoleManagement',
            actionId: 'insertItem',
            actionData: { orgId, memberId}
          }
        }
      })
    },
    async doUpdateOrg(member) {
      const { orgId, memberId } = member;
      if (!orgId || !memberId) {
        return false;
      }
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'memberOrgRoleManagement',
            actionId: 'updateItem',
            where: { memberId },
            actionData: { orgId }
          }
        }
      })
    },
    async doDeleteOrg(member) {
      const { memberId } = member;
      if (!memberId) {
        return false;
      }
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'memberOrgRoleManagement',
            actionId: 'deleteItem',
            where: { memberId },
          }
        }
      })
    },
    // ============================ 导入相关 =========================
    async prepareUploadItem () {
      this.improtInputFile = null;
      this.excelJsonDataOfTemplate = null;
    },
    async openUploadDialog() {
      this.isUploadDrawerShow = true;
    },
    async readExcelOfTemplate() {
      if (!this.improtInputFile) {
        window.vtoast.fail({ message: '请选择excel文件' });
        throw new Error('请选择excel文件');
      }
      const data = await this.process_RS(this.improtInputFile.stream());
      const workbook = XLSX.read(data, {type: 'array'});
      const worksheet1 = workbook.Sheets[workbook.SheetNames[0]];
      const rows = XLSX.utils.sheet_to_json(worksheet1);

      const fieldList = ['employeeName', 'jobNumber', 'mobile', 'post', 'employmentForms', 'status', 'entryTime', 'idType', 'idNumber'];
      const nameList = ['姓名', '工号', '手机号', '岗位', '聘用形式', '员工状态', '入职日期', '证件类型', '证件号码'];
      this.excelJsonDataOfTemplate = null;
      if (rows) {
        const newRows = rows.map(row => {
          const newRow = {}
          fieldList.forEach((filed, i) => {
            const val = row[nameList[i]];
            if(val !== ''){
              newRow[filed] = filed === 'entryTime' ? dayjs(val).format('YYYY-MM-DD-HH-mm-ss') : val;
            }
          })
          return newRow;
        });
        this.excelJsonDataOfTemplate = newRows
      } else {
        window.vtoast.fail({ message: "==没有数据==" });
      }
    },
    async process_RS(stream) {
      /* collect data */
      const buffers = [];
      const reader = stream.getReader();
      for(;;) {
        const res = await reader.read();
        if(res.value) buffers.push(res.value);
        if(res.done) break;
      }

      /* concat */
      const out = new Uint8Array(buffers.reduce((acc, v) => acc + v.length, 0));

      let off = 0;
      for(const u8 of buffers) {
        out.set(u8, off);
        off += u8.length;
      }
      return out;
    },
    async uploadExcel(){
      if (!this.excelJsonDataOfTemplate) {
        throw new Error('excel解析失败');
      }
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'employeeManagement',
            actionId: 'uploadItem',
            actionData: { data: this.excelJsonDataOfTemplate} 
          }
        }
      });
      window.vtoast.success('上传成功');
      this.isUploadDrawerShow = false;
    },
    // ============================ 导出相关 =========================
    // 获取excel
    async getExcel() {
      const where = _.omitBy(this.serverSearchForm.select, _.isNull);
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'employeeManagement',
            actionId: 'getExcelData',
            where,
            whereLike: {
              employeeName: this.serverSearchForm.employeeName,
            },
            limit: _.size(where) === 0 ? 200 : 99999999,
            orderBy: [
              {column: 'createTime', order: 'desc'}
            ]
          }
        }
      });
      const fileData = await window.jianghuAxios.httpDownloadByStream({
        downloadPath: result.data.appData.resultData.filePath,
        onProgress: (total, loaded) => {
          window.vtoast.loading(`下载进度：${(loaded / total) * 100}%`)
        }
      });
      window.vtoast.success("导出成功");
      this.saveExcelFile(fileData, 'employee.xlsx')
    },
    // 保存到本地
    saveExcelFile (obj, fileName) {
      const blob = new Blob([obj]);
      if (window.navigator.msSaveOrOpenBlob) {
        try {
          window.navigator.msSaveOrOpenBlob(blob, fileName);
        } catch (error) {
          // this.$message.error('导出失败')
        }
      } else {
        const link = document.createElement('a');
        link.style.display = 'none';
        link.href = window.URL.createObjectURL(blob);
        link.download = fileName;
        document.body.appendChild(link);
        link.click();
        URL.revokeObjectURL(link.href);// 释放URL对象
        document.body.removeChild(link);
      }
    },
    // ============================ 详情相关 =========================
    addInformation(content){
      this.showDialog = true;
      this.currentTabContent = content;
    }
  }
})
</script>

<style scoped>
  .custom-tabs .v-tabs-bar{
    height: 32px;
  }
  .custom-tabs.v-tabs .v-tab:before, .custom-tabs.v-tabs .v-tab--active:before{
    display: none;
  }
</style>
{% endblock %}
