<template id="performanceManagement-performanceContent">
    <v-container class="pa-0">
        <v-card elevation="0" outlined>
            <v-data-table
              :headers="headers"
              :items="value"
              hide-default-footer
              class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
              <!-- 表格操作按钮 -->
              <template v-slot:item.indicator="{ item }">
                <span v-if="readonly">{{ item.indicator }}</span>
                <v-text-field 
                  v-else
                  class="jh-v-input mr-2" dense filled single-line 
                  type="text"> 
                </v-text-field>
              </template>
              <template v-slot:item.indicator-description="{ item }">
                <span v-if="readonly">{{ item.indicatorDescription }}</span>
                <v-text-field 
                  v-else
                  class="jh-v-input mr-2" dense filled single-line 
                  type="text"> 
                </v-text-field>
              </template>
              <template v-slot:item.indicator-percentage="{ item }">
                <span v-if="readonly">{{ item.indicatorPercentage }}</span>
                <v-text-field 
                  v-else
                  class="jh-v-input mr-2" dense filled single-line 
                  type="text"> 
                </v-text-field>
              </template>
              <template v-slot:item.standard="{ item }">
                <span v-if="readonly">{{ item.standard }}</span>
                <v-text-field 
                  v-else
                  class="jh-v-input mr-2" dense filled single-line 
                  type="text"> 
                </v-text-field>
              </template>

              <template v-slot:item.action="{ item }">
                <span role="button" class="success--text font-weight-medium font-size-2" @click="doUiAction('deleteItem', item)">
                  <v-icon size="16" class="success--text">mdi-trash-can-outline</v-icon>删除
                </span>
              </template>
            </v-data-table>
          </v-card>
          <v-col cols="12" sm="12" md="12" xl="12" :class="{'pa-0': isMobile, 'px-4': isMobile, 'pt-6': isMobile}">
            <v-btn class="add-btn" v-if="!noAddBtn && !readonly"  @click="doUiAction('addItem')">添加指标</v-btn>
          </v-col>
        </v-container>
</template>
  
  <script type="module">
    Vue.component("performanceManagement-performanceContent", {
      template: '#performanceManagement-performanceContent',
      props: {
        value: {
          type: Array,
          default: () => [],
        },
        noAddBtn: {
          type: Boolean,
          default: false,
        }
      },
      data: () => ({
        requireRules: [
          v => !!v || '必填',
        ],
      }),
      computed: {
        isMobile() {
          return window.innerWidth < 600;
        },
        readonly() {
        return this.status && !['未开启'].includes(this.status);
      },

        headers() {
          const headers = [
            { text: "指标名称", value: "indicator", width: 120 },
            { text: "指标说明", value: "indicator-description", width: 120 },
            { text: "指标权重", value: "indicator-percentage", width: 120 },
            { text: "指标标准", value: "standard", width: 120 },
            { text: '操作', value: 'action', align: 'center', sortable: false, width: 100, class: 'fixed', cellClass: 'fixed' },
          ];
          return headers;
        }
      },
      watch: {
      },
      created() {
      },
      async mounted() {},
      methods: {
        async doUiAction(uiActionId, uiActionData) {
          switch (uiActionId) {
            case 'addItem':
              await this.doAddItem();
              break;
            case 'deleteItem':
              await this.doDeleteItem(uiActionData);
              break;
            default:
              console.error("[doUiAction] uiActionId not find", { uiActionId });
              break;
          }
        },
        async doAddItem() {
          this.$emit("input", [...this.value, { indicator:null, indicatorDescription:null, indicatorPercentage:null, standard:null }]);
        },
        async doDeleteItem({ index }) {
          this.value.splice(index, 1);
        },
      }
    })
  </script>
  <style>
    .add-btn {
      width: 100%;
      margin-top: 5px;
      padding: 5px;
    }
    .jh-v-input .v-messages-outer, .jh-v-input .v-text-field__details {
      bottom: -15px !important;
    }
  </style>