<template id="job-resume-list">

  <div>
    <v-card class="rounded-lg">
      <v-row>
        <v-col cols="12">
          <v-card class="d-flex flex-row flex-wrap mx-3" outlined>
            <template v-for="(resumeStatus, index) in constantObj.resumeStatus" :key="index">
              <v-card class="pa-2 text-center"
                :style="{ borderRight: index ===  constantObj.resumeStatus.length - 1 ? 'none' : '1px solid #F4F5F6'}"
                style="flex: 1;border-right: 1px solid #f5f5f5;border-radius: 0;"
                @click="changeStatus(resumeStatus.value)">
                <div class="mb-2">{{resumeStatus.text}}</div>
                <div>{{ resumeStatus.value | getListFilterNum(tableList) }}</div>
              </v-card>
            </template>
          </v-card>
        </v-col>

      </v-row>
    </v-card>

    <!-- 页面内容 >>>>>>>>>>>>> -->
    <v-card class="rounded-lg mt-6" :outlined="outlined">
      <v-row class="ma-0 pa-4">
        <!-- 新增按钮 -->
        <!-- <v-btn color="success" class="elevation-0 mr-2" @click="doUiAction('startCreateItem')" small>新增
        </v-btn> -->
        <v-spacer></v-spacer>
        <!-- 搜索过滤 -->
        <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
          <v-autocomplete v-model="searchJob" color="success" prefix="职位：" class="jh-v-input"
            :items="constantObj.jobList" dense filled single-line clearable></v-autocomplete>
        </v-col>
        <v-col cols="12" xs="8" sm="4" md="2" xl="2" class="pa-0 pl-2">
          <v-text-field color="success" v-model="searchInput" prefix="搜索：" class="jh-v-input" dense filled
            single-line></v-text-field>
        </v-col>
      </v-row>
      <!-- 表格 -->
      <v-data-table :headers="headers" :items="tableListFilterByStatus" :search="searchInput"
        :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页', itemsPerPageAllText: '所有'}"
        :items-per-page="-1" mobile-breakpoint="0" :loading="isTableLoading" checkbox-color="success"
        :class="{'zebraLine': isTableZebraLineShown }" fixed-header
        class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
        <!-- 表格操作按钮 -->
        <template v-slot:item.action="{ item }">
          <span role="button" class="success--text font-weight-medium font-size-2 mr-2"
            @click="doUiAction('jumpToResumePreview', item)">
            <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>简历详情
          </span>

          <v-menu offset-y rounded="lg">
            <template v-slot:activator="{ on, attrs }">
              <span role="button" class="success--text font-weight-medium font-size-2 mr-2" v-bind="attrs" v-on="on">
                <v-icon size="16" class="success--text">mdi-menu-down</v-icon>修改候选人状态
              </span>
            </template>
            <v-list dense>
              <v-list-item link v-for="(action, actIndex) in actionItems" :key="actIndex"
                @click="doUiAction(action.value, {item})" v-if="action.name !== item.Status">
                <v-list-item-title>{{action.name}}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </template>
        <!-- 没有数据 -->
        <template v-slot:loading>
          <div class="jh-no-data">数据加载中</div>
        </template>
        <template v-slot:no-data>
          <div class="jh-no-data">暂无数据</div>
        </template>
        <template v-slot:no-results>
          <div class="jh-no-data">暂无数据</div>
        </template>
        <!-- 表格分页 -->
        <template v-slot:footer.page-text="pagination">
          <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
          <span class="ml-1">共{{pagination.itemsLength}}条</span>
        </template>
      </v-data-table>
    </v-card>

    <!-- 编辑抽屉 -->
    <v-navigation-drawer v-model="isUpdateDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right
      width="80%" class="elevation-24">
      <v-form ref="updateForm" lazy-validation>
        <!-- 抽屉标题 -->
        <v-row>
          <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">修改信息</span>
        </v-row>
        <!-- 抽屉表单 -->
        <v-row class="mt-0 px-4">
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">候选人姓名</span>
            <v-text-field class="jh-v-input" disabled dense single-line filled label="候选人姓名" v-model="updateItem.user"
              :rules="validationRules.requireRules"></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">简历ID</span>
            <v-select class="jh-v-input" dense single-line filled clearable label="简历ID"
              v-model="updateItem.jobResumeId" :items="constantObj.classId"></v-select>
          </v-col>
          <v-col cols="12" sm="12" md="4">
            <span class="jh-input-label">候选人状态</span>
            <v-select class="jh-v-input" dense single-line filled clearable label="候选人状态"
              v-model="updateItem.resumeStatus" :items="constantObj.resumeStatus"></v-select>
          </v-col>
        </v-row>
        <!-- 抽屉操作按钮 -->
        <v-row class="justify-end mx-0 mt-8 px-6">
          <v-btn color="success" small @click="doUiAction('updateItem')">保存</v-btn>
          <v-btn class="ml-2" small @click="isUpdateDrawerShown = false">取消
          </v-btn>
        </v-row>
      </v-form>

      <!-- 抽屉关闭按钮 -->
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
        @click="isUpdateDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>

    <!-- pdf预览抽屉 -->
    <v-navigation-drawer v-model="isResumePreviewShown" v-click-outside="drawerClickOutside" fixed temporary right
      width="80%" class="elevation-24">
      <v-row class="ma-0 pa-4">
        <v-col col="12" class="pa-0">
          <v-btn color="success" class="elevation-0 mr-2" @click="doUiAction('exportPdf')" small>导出pdf
          </v-btn>
        </v-col>

      </v-row>
      <v-row class="ma-0 pa-4" id="resume-preview-box">
        <resume-preview v-if="isResumePreviewShown" :id="updateItem.id"></resume-preview>
      </v-row>
      <!-- 抽屉关闭按钮 -->
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
        @click="isResumePreviewShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
  </div>

</template>

<script type="module">
  Vue.component('job-resume-list', {
    template: '#job-resume-list',
    props: ['jobId', 'outlined'],
    vuetify: new Vuetify(),
    filters: {
      getListFilterNum(resumeStatus, list) {
        if (resumeStatus === '全部') return list.length
        return list.filter(item => item.resumeStatus === resumeStatus).length
      },
    },
    data: () => ({
      // 表格相关数据
      isTableZebraLineShown: true,
      validationRules: {
        requireRules: [
          v => !!v || 'This is required',
        ],
      },
      // 下拉选项
      constantObj: {
        resumeStatus: [
          { text: "全部", value: "全部" },
          { text: "新候选人", value: "新候选人" },
          { text: "初选通过", value: "初选通过" },
          { text: "安排面试", value: "安排面试" },
          { text: "面试通过", value: "面试通过" },
          { text: "已发offer", value: "已发offer" },
          { text: "待入职", value: "待入职" },
          { text: "已淘汰", value: "已淘汰" },
          { text: "已录用", value: "已录用" },
        ],
        jobList: []
      },

      actionItems: [{
        name: '新候选人',
        value: 'newCandidate'
      }, {
        name: '初选通过',
        value: 'passPreliminarySelection'
      },
      {
        name: '安排面试',
        value: 'arrangeInterview'
      },
      {
        name: '面试通过',
        value: 'passInterview'
      },
      {
        name: '已发offer',
        value: 'sendOffer'
      },
      {
        name: '待入职',
        value: 'pendingEntry'
      },
      {
        name: '已淘汰',
        value: 'phaseOut'
      },
      {
        name: '已录用',
        value: 'alreadyEntry'
      }],

      currentSceneId: null,
      serverSearchInput: {
        gender: null
      },
      searchInput: null,
      searchJob: null,
      searchStatus: null,
      serverSearchForm: {
        select: {
          resumeStatus: null,
        },
        searchSummary: null,
      },
      isTableLoading: true,
      tableData: [],
      headers: [
        { text: '操作', value: 'action', align: 'center', sortable: false, width: 250, class: 'fixed', cellClass: 'fixed' },
        // {text: "ID", value: "id", width: 120},

        { text: "简历ID", value: "jobResumeId", width: 120 },
        { text: "候选人姓名", value: "user", width: 120 },
        { text: "应聘岗位", value: "jobTitle", width: 150 },
        { text: "岗位ID", value: "jobId", width: 150 },
        { text: "候选人状态", value: "resumeStatus", width: 120 },
        { text: "性别", value: "gender", width: 120 },
        { text: "年龄", value: "age", width: 120 },
        { text: "民族", value: "ethnicity", width: 120 },
        { text: "身高", value: "height", width: 120 },
        { text: "体重", value: "weight", width: 120 },
        { text: "血型", value: "bloodType", width: 120 },
        { text: "婚姻状况", value: "maritalStatus", width: 120 },
        { text: "政治面貌", value: "politicalAffiliation", width: 120 },
        { text: "身体状况", value: "physicalCondition", width: 120 },
        { text: "宗教信仰", value: "religiousBeliefs", width: 120 },
        { text: "手机号码", value: "phoneNumber", width: 120 },
        { text: "身份证号", value: "IDNumber", width: 120 },
        { text: "邮箱", value: "email", width: 120 },
        { text: "最高学历", value: "highestEducation", width: 120 },
        { text: "微信", value: "wechatID", width: 120 },
        { text: "薪资期望", value: "salaryExpectation", width: 120 },
        { text: "最快可到岗日期", value: "earliestAvailability", width: 120 },
        { text: "社交爱好", value: "socialHobbies", width: 120 },
        { text: "个人特点", value: "personality", width: 120 },
        { text: "是否有违反法纪、解雇等", value: "offence", width: 120 },
        { text: "紧急联系人", value: "emergencyContact", width: 120 },
        { text: "操作者", value: "operationByUser", width: 120 },
        { text: "操作时间", value: "operationAt", width: 250 },
      ],

      isCreateDrawerShown: false,
      createItem: {},
      createActionData: {},
      isUpdateDrawerShown: false,
      isResumePreviewShown: false,
      updateItem: {},
      updateItemId: null,
      updateActionData: {},
      deleteItem: {},
      deleteItemId: null
    }),
    // 计算变量
    computed: {
      tableList() {
        if (!this.searchJob) {
          return this.tableData;
        }
        return this.tableData.filter((item) => item.jobId === this.searchJob);
      },
      tableListFilterByStatus() {
        if (!this.searchStatus || this.searchStatus === '全部') {
          return this.tableList;
        }
        return this.tableList.filter((item) => item.resumeStatus === this.searchStatus);
      },
    },
    async created() {
      if (this.jobId) {
        this.searchJob = this.jobId;
      }
    },
    mounted() {
      this.doUiAction('getTableData');
      this.doUiAction('getJobList');
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'getTableData':
            await this.getTableData();
            await this.getStatusCount();
            break;
          case 'getJobList':
            await this.getJobList();
            break;
          case 'startCreateItem':
            await this.prepareCreateFormData();
            await this.openCreateDrawer();
            break;
          case 'createItem':
            await this.prepareCreateValidate();
            await this.confirmCreateItemDialog();
            await this.prepareDoCreateItem();
            await this.doCreateItem();
            await this.closeCreateDrawer();
            await this.getTableData();
            break;
          case 'startUpdateItem':
            await this.prepareUpdateFormData(uiActionData);
            await this.openUpdateDrawer();
            break;
          case 'updateItem':
            await this.prepareUpdateValidate();
            await this.confirmUpdateItemDialog();
            await this.prepareDoUpdateItem();
            await this.doUpdateItem();
            await this.closeUpdateDrawer();
            await this.getTableData();
            await this.getStatusCount();
            break;
          case 'deleteItem':
            await this.prepareDeleteFormData(uiActionData);
            await this.confirmDeleteItemDialog();
            await this.prepareDoDeleteItem();
            await this.doDeleteItem();
            await this.clearDeleteItem();
            await this.getTableData();
            break;
          case 'jumpToResumePreview':
            await this.jumpToResumePreview(uiActionData);
            break;
          case 'newCandidate':
            await this.newCandidate(uiActionData);
            await this.getTableData();
            await this.getStatusCount();
            break;
          case 'passPreliminarySelection':
            await this.passPreliminarySelection(uiActionData);
            await this.getTableData();
            await this.getStatusCount();
            break;
          case 'arrangeInterview':
            await this.arrangeInterview(uiActionData);
            await this.getTableData();
            await this.getStatusCount();
            break;
          case 'passInterview':
            await this.passInterview(uiActionData);
            await this.getTableData();
            await this.getStatusCount();
            break;
          case 'sendOffer':
            await this.sendOffer(uiActionData);
            await this.getTableData();
            await this.getStatusCount();
            break;
          case 'pendingEntry':
            await this.pendingEntry(uiActionData);
            await this.getTableData();
            await this.getStatusCount();
            break;
          case 'phaseOut':
            await this.phaseOut(uiActionData);
            await this.getTableData();
            await this.getStatusCount();
            break;
          case 'alreadyEntry':
            await this.alreadyEntry(uiActionData);
            await this.getTableData();
            await this.getStatusCount();
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },

      getHeaders(content) {
        return this[`${content.action}Headers`] || []
      },

      // 状态筛选
      changeStatus(value) {
        this.searchStatus = value;
      },

      /**
       * 状态统计
       */
      async getStatusCount() {
        const { rows } = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeManagement',
              actionId: 'getStatusCount'
            }
          }
        })).data.appData.resultData;
        this.setSelectOptionList(rows)
      },

      /**
       * 设置下拉框的选项列表
       */
      setSelectOptionList(rows) {
        _.forIn(rows, (value, key) => {
          const obj = _.keyBy(value, key)
          _.forEach(this.constantObj[key], o => {
            o.num = obj[o.value] ? obj[o.value].count : 0
          })
        });
        this.$forceUpdate();
      },

      // 获取职位列表
      async getJobList() {
        const rows = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeManagement',
              actionId: 'selectJobList',
              actionData: {},
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        })).data.appData.resultData.rows;
        this.constantObj.jobList = rows.map(item => {
          return {
            text: item.jobTitle,
            value: item.jobId
          }
        });
      },

      /**
       * 获取表格数据
       */
      async getTableData() {
        this.isTableLoading = true;
        // const backendSearchData = _.pickBy(this.serverSearchInput, ( fieldValue, fieldKey ) => {
        //   if(fieldValue !== null && fieldValue !== '') {
        //     return true;
        //   }
        // });
        const where = _.omitBy(this.serverSearchForm.select, _.isNull);
        const result = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeManagement',
              actionId: 'selectItemList',
              actionData: {},
              // where: backendSearchData,
              where: where,
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        }));
        const { rows, count } = result.data.appData.resultData;
        this.tableData = rows;
        this.isTableLoading = false;
      },
      // ---------- 新增数据 uiAction >>>>>>>>>> --------
      async prepareCreateFormData() {
        this.createItem = {};
      },

      async openCreateDrawer() {
        this.isCreateDrawerShown = true;
      },

      async prepareCreateValidate() {
        if (await this.$refs.createForm.validate()) {
          return true;
        }
        throw new Error("请完善表单信息")
      },

      async confirmCreateItemDialog() {
        if (await window.confirmDialog({ title: "新增", content: "确定新增吗？" }) === false) {
          throw new Error("[confirmCreateFormDialog] 否");
        }
      },

      prepareDoCreateItem() {
        const { id, ...data } = this.createItem;
        this.createActionData = data;
      },

      async doCreateItem() {
        await window.jhMask.show();
        await window.vtoast.loading("新增数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeManagement',
              actionId: 'insertItem',
              actionData: this.createActionData
            }
          }
        })
        await window.jhMask.hide();
        await window.vtoast.success("新增数据成功");
      },
      async closeCreateDrawer() {
        this.isCreateDrawerShown = false;
        this.createItem = {};
        this.createActionData = null;
      },
      // ---------- <<<<<<<<<<< 新增数据 uiAction ---------
      // ---------- 修改数据 uiAction >>>>>>>>>>>> --------
      async prepareUpdateFormData(funObj) {
        this.updateItem = _.cloneDeep(funObj);
      },

      async openUpdateDrawer() {
        this.isUpdateDrawerShown = true;
      },

      async prepareUpdateValidate() {
        if (await this.$refs.updateForm.validate()) {
          return true;
        }
        throw new Error("请完善表单信息")
      },

      async confirmUpdateItemDialog() {
        if (await window.confirmDialog({ title: "修改", content: "确定修改吗？" }) === false) {
          throw new Error("[confirmUpdateItemDialog] 否");
        }
      },

      async prepareDoUpdateItem() {
        const { id, ...data } = this.updateItem;
        this.updateItemId = id;
        this.updateActionData = data;
      },

      async doUpdateItem() {
        await window.jhMask.show();
        await window.vtoast.loading("修改数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeManagement',
              actionId: 'updateItem',
              actionData: this.updateActionData,
              where: { id: this.updateItemId }
            }
          }
        })

        await window.jhMask.hide();
        await window.vtoast.success("修改数据成功");
      },

      async closeUpdateDrawer() {
        this.isUpdateDrawerShown = false;
        this.updateItem = {};
        this.updateActionData = null;
        this.updateItemId = null;
      },
      // ---------- <<<<<<<<<<< 修改数据 uiAction ---------
      // ---------- 删除数据 uiAction >>>>>>>>>>>> --------
      async prepareDeleteFormData(funObj) {
        this.deleteItem = _.cloneDeep(funObj);
      },
      async confirmDeleteItemDialog() {
        if (await window.confirmDialog({ title: "删除", content: "确定删除吗？" }) === false) {
          throw new Error("[confirmDeleteItemDialog] 否");
        }
      },
      async prepareDoDeleteItem() {
        const { id } = this.deleteItem;
        this.deleteItemId = id;
      },
      async doDeleteItem() {
        await window.vtoast.loading("删除数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeManagement',
              actionId: 'deleteItem',
              actionData: {},
              where: { id: this.deleteItemId }
            }
          }
        });
        await window.vtoast.success("删除数据成功");
      },
      async clearDeleteItem() {
        this.deleteItem = {};
        this.deleteItemId = null;
      },
      // ---------- <<<<<<<<<<< 删除数据 uiAction ---------
      jumpToResumePreview({ id }) {
        location.href = '/<$ ctx.app.config.appId $>/page/jobResumePreview?id=' + id;

      },

      async newCandidate({ item }) {
        this.updateItem = item;
        const { jobResumeId } = this.updateItem;
        await window.vtoast.loading("正在切换候选人状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeManagement',
              actionId: 'updateItem',
              actionData: { resumeStatus: '新候选人' },
              where: { jobResumeId }
            }
          }
        })
        await window.vtoast.success("切换成功！");
      },

      async passPreliminarySelection({ item }) {
        this.updateItem = item;
        const { jobResumeId } = this.updateItem;
        await window.vtoast.loading("正在切换候选人状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeManagement',
              actionId: 'updateItem',
              actionData: { resumeStatus: '初选通过' },
              where: { jobResumeId }
            }
          }
        })
        await window.vtoast.success("切换成功！");
      },

      async arrangeInterview({ item }) {
        this.updateItem = item;
        const { jobResumeId } = this.updateItem;
        await window.vtoast.loading("正在切换候选人状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeManagement',
              actionId: 'updateItem',
              actionData: { resumeStatus: '安排面试' },
              where: { jobResumeId }
            }
          }
        })
        await window.vtoast.success("切换成功！");
      },

      async passInterview({ item }) {
        this.updateItem = item;
        const { jobResumeId } = this.updateItem;
        await window.vtoast.loading("正在切换候选人状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeManagement',
              actionId: 'updateItem',
              actionData: { resumeStatus: '面试通过' },
              where: { jobResumeId }
            }
          }
        })
        await window.vtoast.success("切换成功！");
      },

      async sendOffer({ item }) {
        this.updateItem = item;
        const { jobResumeId } = this.updateItem;
        await window.vtoast.loading("正在切换候选人状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeManagement',
              actionId: 'updateItem',
              actionData: { resumeStatus: '已发offer' },
              where: { jobResumeId }
            }
          }
        })
        await window.vtoast.success("切换成功！");
      },

      async pendingEntry({ item }) {
        this.updateItem = item;
        const { jobResumeId } = this.updateItem;
        await window.vtoast.loading("正在切换候选人状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeManagement',
              actionId: 'updateItem',
              actionData: { resumeStatus: '待入职' },
              where: { jobResumeId }
            }
          }
        })
        await window.vtoast.success("切换成功！");
      },

      async pendingEntry({ item }) {
        this.updateItem = item;
        const { jobResumeId } = this.updateItem;
        await window.vtoast.loading("正在切换候选人状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeManagement',
              actionId: 'updateItem',
              actionData: { resumeStatus: '待入职' },
              where: { jobResumeId }
            }
          }
        })
        await window.vtoast.success("切换成功！");
      },

      async phaseOut({ item }) {
        this.updateItem = item;
        const { jobResumeId } = this.updateItem;
        await window.vtoast.loading("正在切换候选人状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeManagement',
              actionId: 'updateItem',
              actionData: { resumeStatus: '已淘汰' },
              where: { jobResumeId }
            }
          }
        })
        await window.vtoast.success("切换成功！");
      },

      async alreadyEntry({ item }) {
        this.updateItem = item;
        const { id } = this.updateItem;
        await window.vtoast.loading("正在切换候选人状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeManagement',
              actionId: 'employItem',
              actionData: { resumeStatus: '已录用' },
              where: { id }
            }
          }
        })
        await window.vtoast.success("切换成功！");
      },

    }
  })
</script>
