{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<!--SQL START
-- 以下为 jianghu init 工具生成的参考 SQL，使用后删除
-- 创建 page
INSERT INTO `_page` (`pageId`,`pageName`,`pageType`,`sort`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT 'jobResumeManagement','页面','showInMenu','5','jhInsert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_page` WHERE `pageId`='jobResumeManagement');

-- 创建 resource
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'jobResumeManagement','selectItemList','✅查询-查询列表','sql','{}','{ \"table\": \"job_resume\", \"operation\": \"select\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='jobResumeManagement' AND `actionId`='selectItemList');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'jobResumeManagement','insertItem','✅查询-添加成员','sql','{}','{ \"table\": \"job_resume\", \"operation\": \"insert\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='jobResumeManagement' AND `actionId`='insertItem');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'jobResumeManagement','updateItem','✅查询-更新成员','sql','{}','{ \"table\": \"job_resume\", \"operation\": \"update\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='jobResumeManagement' AND `actionId`='updateItem');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'jobResumeManagement','deleteItem','✅查询-删除信息','sql','{}','{ \"table\": \"job_resume\", \"operation\": \"delete\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='jobResumeManagement' AND `actionId`='deleteItem');
SQL END!-->

<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-15">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-8">
      <v-row>
        <v-col cols="12" xs="12" sm="12" md="4" xl="3">
          <div class="pt-3 text-h7 font-weight-bold">{{jobTitle }} - 投递简历列表
            <!-- 帮助页按钮 -->
            <!-- <v-icon @click="isHelpPageDrawerShown = true" color="success" small>mdi-help-circle-outline
            </v-icon> -->
          </div>
          <v-breadcrumbs class="pb-3 pt-0 px-0" :items="breadcrumbs" divider="-">
            <template v-slot:item="{ item }">
              <v-breadcrumbs-item :disabled="item.disabled" v-if="item.text === '岗位的简历列表'">
                {{ item.text }}
              </v-breadcrumbs-item>
              <v-breadcrumbs-item :disabled="item.disabled" v-else>
                {{ item.text }}（jobId:{{ jobId }}）
                <span role="button" class="success--text font-weight-medium font-size-2 back-btn"
                  @click="doUiAction('redirect')">
                  <v-icon size="14" class="success--text">mdi-arrow-left-top-bold</v-icon>返回
                </span>
              </v-breadcrumbs-item>
            </template>
          </v-breadcrumbs>
        </v-col>
        <!-- 搜索条件表单 >>>>>>>> -->
        <!-- <v-col cols="12" xs="12" sm="12" md="8" xl="9">
          <v-row class="jh-backend-form-container justify-end ma-0 py-1 pb-xs-2">
            <v-col cols="12" xs="6" sm="6" md="4" xl="3" class="pa-xs-0 pb-2 pl-1 pl-xs-1">
              <v-select v-model="serverSearchInput.gender" color="success" prefix="性别：" class="jh-v-input bg-white" :items="constantObj.gender" dense filled single-line></v-select>
            </v-col>
            <v-btn class="jh-backend-search-btn elevation-0 ml-0 mt-3" color="success" small @click="doUiAction('getTableData')">
              查询
            </v-btn>
          </v-row>
        </v-col> -->
        <!-- <<<<<<<< 搜索条件表单 -->
      </v-row>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->

    <div class="jh-page-body-container px-8">

      <v-card :class="{'px-2': isMobile}" class="mb-5">
        <v-row>
          <!-- <v-col cols="12">
            <v-card class="d-flex flex-row flex-wrap mx-3" outlined>
              <template v-for="(resumeStatus, index) in constantObj.resumeStatus" :key="index">
                <v-card class="pa-2 text-center"
                  :style="{ borderRight: index ===  constantObj.resumeStatus.length - 1 ? 'none' : '1px solid #F4F5F6'}"
                  style="flex: 1;border-right: 1px solid #f5f5f5;border-radius: 0;" @click="changeStatus('resumeStatus', resumeStatus.value)">
                  <div class="mb-2">{{resumeStatus.text}}</div>
                  <div>{{resumeStatus.num || 0}}</div>
                </v-card>
              </template>
            </v-card>
          </v-col> -->


          <v-col cols="12">
            <v-card class="d-flex flex-row flex-wrap mx-3" outlined>
              <template>
                <v-card class="pa-2 text-center"
                  :style="{ borderRight: '1px solid #F4F5F6'}"
                  style="flex: 1;border-right: 1px solid #f5f5f5;border-radius: 0;" @click="changeStatus('resumeStatus', constantObj.resumeStatus.value = '新候选人')">
                  <div class="mb-2">新候选人</div>
                  <div>{{ num1 }}</div>
                </v-card>

                <v-card class="pa-2 text-center"
                  :style="{ borderRight: '1px solid #F4F5F6'}"
                  style="flex: 1;border-right: 1px solid #f5f5f5;border-radius: 0;" @click="changeStatus('resumeStatus', constantObj.resumeStatus.value = '初选通过')">
                  <div class="mb-2">初选通过</div>
                  <div>{{ num2 }}</div>
                </v-card>

                <v-card class="pa-2 text-center"
                  :style="{ borderRight: '1px solid #F4F5F6'}"
                  style="flex: 1;border-right: 1px solid #f5f5f5;border-radius: 0;" @click="changeStatus('resumeStatus', constantObj.resumeStatus.value = '安排面试')">
                  <div class="mb-2">安排面试</div>
                  <div>{{ num3 }}</div>
                </v-card>

                <v-card class="pa-2 text-center"
                  :style="{ borderRight: '1px solid #F4F5F6'}"
                  style="flex: 1;border-right: 1px solid #f5f5f5;border-radius: 0;" @click="changeStatus('resumeStatus', constantObj.resumeStatus.value = '面试通过')">
                  <div class="mb-2">面试通过</div>
                  <div>{{ num4 }}</div>
                </v-card>

                <v-card class="pa-2 text-center"
                  :style="{ borderRight: '1px solid #F4F5F6'}"
                  style="flex: 1;border-right: 1px solid #f5f5f5;border-radius: 0;" @click="changeStatus('resumeStatus', constantObj.resumeStatus.value = '已发offer')">
                  <div class="mb-2">已发offer</div>
                  <div>{{ num5 }}</div>
                </v-card>

                <v-card class="pa-2 text-center"
                  :style="{ borderRight: '1px solid #F4F5F6'}"
                  style="flex: 1;border-right: 1px solid #f5f5f5;border-radius: 0;" @click="changeStatus('resumeStatus', constantObj.resumeStatus.value = '待入职')">
                  <div class="mb-2">待入职</div>
                  <div>{{ num6 }}</div>
                </v-card>

                <v-card class="pa-2 text-center"
                  :style="{ borderRight: '1px solid #F4F5F6'}"
                  style="flex: 1;border-right: 1px solid #f5f5f5;border-radius: 0;" @click="changeStatus('resumeStatus', constantObj.resumeStatus.value = '已淘汰')">
                  <div class="mb-2">已淘汰</div>
                  <div>{{ num7 }}</div>
                </v-card>

                <v-card class="pa-2 text-center"
                  :style="{ borderRight: '1px solid #F4F5F6'}"
                  style="flex: 1;border-right: 1px solid #f5f5f5;border-radius: 0;" @click="changeStatus('resumeStatus', constantObj.resumeStatus.value = '已入职')">
                  <div class="mb-2">已入职</div>
                  <div>{{ num8 }}</div>
               </v-card>
              </template>
            </v-card>
          </v-col>

        </v-row>
      </v-card>

      <!-- 页面内容 >>>>>>>>>>>>> -->
      <v-card class="rounded-lg">
        <v-row class="ma-0 pa-4">
          <!-- 新增按钮 -->
          <!-- <v-btn color="success" class="elevation-0 mr-2" @click="doUiAction('startCreateItem')" small>新增
          </v-btn> -->
          <v-spacer></v-spacer>
          <!-- 搜索过滤 -->
          <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
            <v-text-field color="success" v-model="searchInput" prefix="搜索：" class="jh-v-input" dense filled single-line></v-text-field>
          </v-col>
        </v-row>
        <!-- 表格 -->
        <v-data-table
          :headers="headers"
          :items="tableData"
          :search="searchInput"
          :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页', itemsPerPageAllText: '所有'}"
          :items-per-page="-1"
          mobile-breakpoint="0"
          :loading="isTableLoading"
          checkbox-color="success"
          :class="{'zebraLine': isTableZebraLineShown }"
          fixed-header
          class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
          <!-- 表格操作按钮 -->
          <template v-slot:item.action="{ item }">
            <span role="button" class="success--text font-weight-medium font-size-2 mr-2" @click="doUiAction('jumpToResumePreview', item)">
              <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>简历详情
            </span>

            <!-- <span
            role="button" class="success--text font-weight-medium font-size-2 mr-2"
            @click="doUiAction('startUpdateItem', item)">
            <v-icon size="16" class="success--text">mdi-note-edit-outline</v-icon>修改候选人状态
          </span> -->


          <v-menu offset-y rounded="lg">
            <template v-slot:activator="{ on, attrs }">
              <span
                role="button" class="success--text font-weight-medium font-size-2 mr-2" v-bind="attrs" v-on="on">
                <v-icon size="16" class="success--text">mdi-menu-down</v-icon>修改候选人状态
              </span>
            </template>
            <v-list dense>
              <v-list-item link v-for="(action, actIndex) in actionItems" :key="actIndex"
                @click="doUiAction(action.value, {item})" v-if="action.name !== item.Status">
                <v-list-item-title>{{action.name}}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>

          </template>
          <!-- 没有数据 -->
          <template v-slot:loading>
            <div class="jh-no-data">数据加载中</div>
          </template>
          <template v-slot:no-data>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <template v-slot:no-results>
            <div class="jh-no-data">暂无数据</div>
          </template>
          <!-- 表格分页 -->
          <template v-slot:footer.page-text="pagination">
            <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
            <span class="ml-1">共{{pagination.itemsLength}}条</span>
          </template>
        </v-data-table>
      </v-card>

        <!-- 编辑抽屉 -->
        <v-navigation-drawer v-model="isUpdateDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
          <v-form ref="updateForm" lazy-validation>
            <!-- 抽屉标题 -->
            <v-row>
              <span class="text-subtitle-1 font-weight-medium pa-6 pl-7">修改信息</span>
            </v-row>
            <!-- 抽屉表单 -->
            <v-row class="mt-0 px-4">
              <v-col cols="12" sm="12" md="4">
                <span class="jh-input-label">候选人姓名</span>
                <v-text-field class="jh-v-input" disabled dense single-line filled label="候选人姓名" v-model="updateItem.user" :rules="validationRules.requireRules"></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <span class="jh-input-label">简历ID</span>
                <v-select class="jh-v-input" dense single-line filled clearable label="简历ID" v-model="updateItem.jobResumeId" :items="constantObj.classId"></v-select>
              </v-col>
              <v-col cols="12" sm="12" md="4">
                <span class="jh-input-label">候选人状态</span>
                <v-select class="jh-v-input" dense single-line filled clearable label="候选人状态" v-model="updateItem.resumeStatus" :items="constantObj.resumeStatus"></v-select>
              </v-col>
            </v-row>
            <!-- 抽屉操作按钮 -->
            <v-row class="justify-end mx-0 mt-8 px-6">
              <v-btn color="success" small @click="doUiAction('updateItem')">保存</v-btn>
              <v-btn class="ml-2" small @click="isUpdateDrawerShown = false">取消
              </v-btn>
            </v-row>
          </v-form>
  
          <!-- 抽屉关闭按钮 -->
          <v-btn
            elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
            @click="isUpdateDrawerShown = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>

      <!-- pdf预览抽屉 -->
      <v-navigation-drawer v-model="isResumePreviewShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
        <v-row class="ma-0 pa-4">
          <v-col col="12" class="pa-0">
            <v-btn color="success" class="elevation-0 mr-2" @click="doUiAction('exportPdf')" small>导出pdf
            </v-btn>
          </v-col>
       
        </v-row>
        <v-row class="ma-0 pa-4" id="resume-preview-box">
          <resume-preview v-if="isResumePreviewShown" :id="updateItem.id"></resume-preview>
        </v-row>
        <!-- 抽屉关闭按钮 -->
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isResumePreviewShown = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-navigation-drawer>
      <!-- <<<<<<<<<<<<< 页面内容 -->
    </div>

    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <v-navigation-drawer v-model="isHelpPageDrawerShown" v-click-outside="drawerClickOutside" fixed temporary right width="80%" class="elevation-24">
      <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#404.md`" width="100%" height="100%"></iframe>
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShown = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

  </v-main>
</v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />
</div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

{% include 'component/resumePreview.html' %}
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
<script>
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    // 面包屑
    breadcrumbs: [
      {
        text: '岗位的简历列表',
        disabled: true,
      },
      {
        text: 'jobResumeOfJobPosition',
        disabled: true,
      }
    ],
    isHelpPageDrawerShown: false,
    isMobile: window.innerWidth < 500,
    // 表格相关数据
    isTableZebraLineShown: true,
    validationRules: {
      requireRules: [
        v => !!v || 'This is required',
      ],
    },
    // 下拉选项
    constantObj: {
      resumeStatus: [
          { text: "全部", value: "全部" },
          { text: "新候选人", value: "新候选人" },
          { text: "初选通过", value: "初选通过"},
          { text: "安排面试", value: "安排面试"},
          { text: "面试通过", value: "面试通过"},
          { text: "已发offer", value: "已发offer" },
          { text: "待入职", value:  "待入职" },
          { text: "已淘汰", value: "已淘汰" },
          { text: "已入职", value: "已入职" },
        ],
    },
    num1:0,
    num2:0,
    num3:0,
    num4:0,
    num5:0,
    num6:0,
    num7:0,
    num8:0,
    actionItems: [{
        name: '新候选人',
        value: 'newCandidate'
      }, {
        name: '初选通过',
        value: 'passPreliminarySelection'
      },
      {
        name: '安排面试',
        value: 'arrangeInterview'
      },
      {
        name: '面试通过',
        value: 'passInterview'
      },
      {
        name: '已发offer',
        value: 'sendOffer'
      },
      {
        name: '待入职',
        value: 'pendingEntry'
      },
      {
        name: '已淘汰',
        value: 'phaseOut'
      },
      {
        name: '已入职',
        value: 'alreadyEntry'
      }],
    currentSceneId: null,
    serverSearchInput: {
      gender: null
    },
    searchInput: null,
    serverSearchForm: {
        select: {
          resumeStatus: null,
        },
        searchSummary: null,
      },
    isTableLoading: true,
    tableData: [],
    headers: [
      {text: '操作', value: 'action', align: 'center', sortable: false, width: 250, class: 'fixed', cellClass: 'fixed'},
      // {text: "ID", value: "id", width: 120},
       
      {text: "简历ID", value: "jobResumeId", width: 120}, 
      {text: "候选人姓名", value: "user", width: 120}, 
      {text: "应聘岗位", value: "jobTitle", width: 150}, 
      {text: "候选人状态", value: "resumeStatus", width: 120}, 
      {text: "性别", value: "gender", width: 120}, 
      {text: "年龄", value: "age", width: 120}, 
      {text: "民族", value: "ethnicity", width: 120}, 
      {text: "身高", value: "height", width: 120}, 
      {text: "体重", value: "weight", width: 120}, 
      {text: "血型", value: "bloodType", width: 120}, 
      {text: "婚姻状况", value: "maritalStatus", width: 120}, 
      {text: "政治面貌", value: "politicalAffiliation", width: 120}, 
      {text: "身体状况", value: "physicalCondition", width: 120}, 
      {text: "宗教信仰", value: "religiousBeliefs", width: 120}, 
      {text: "手机号码", value: "phoneNumber", width: 120}, 
      {text: "身份证号", value: "IDNumber", width: 120}, 
      {text: "邮箱", value: "email", width: 120}, 
      {text: "最高学历", value: "highestEducation", width: 120}, 
      {text: "微信", value: "wechatID", width: 120}, 
      {text: "薪资期望", value: "salaryExpectation", width: 120}, 
      {text: "最快可到岗日期", value: "earliestAvailability", width: 120}, 
      {text: "社交爱好", value: "socialHobbies", width: 120}, 
      {text: "个人特点", value: "personality", width: 120}, 
      {text: "是否有违反法纪、解雇等", value: "offence", width: 120}, 
      {text: "紧急联系人", value: "emergencyContact", width: 120}, 
      {text: "操作者", value: "operationByUser", width: 120},
      {text: "操作时间", value: "operationAt", width: 250},
    ],

    isCreateDrawerShown: false,
    createItem: {},
    createActionData: {},
    isUpdateDrawerShown: false,
    isResumePreviewShown:false,
    updateItem: {},
    updateItemId: null,
    updateActionData: {},
    deleteItem: {},
    deleteItemId: null

  }),
  async created() {
    const urlParams = new URLSearchParams(location.search);
    const jobId = urlParams.get('jobId');
    const jobTitle = urlParams.get('jobTitle');
      if (jobId && jobTitle) {
        this.jobId = jobId;
        this.jobTitle = jobTitle;
      }  else {
          setTimeout(() => {
            window.vtoast.fail('请从"招聘列表"点击"候选人"进入');
          }, 1000);
          return;
      }
      await this.getTableData();
      await this.getStatusCount();
  },

  mounted() {
   
  },

  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'getTableData':
          await this.getTableData();
          await this.getStatusCount();
          break;
        case 'startCreateItem':
          await this.prepareCreateFormData();
          await this.openCreateDrawer();
          break;
        case 'createItem':
          await this.prepareCreateValidate();
          await this.confirmCreateItemDialog();
          await this.prepareDoCreateItem();
          await this.doCreateItem();
          await this.closeCreateDrawer();
          await this.getTableData();
          break;
        case 'startUpdateItem':
          await this.prepareUpdateFormData(uiActionData);
          await this.openUpdateDrawer();
          break;
        case 'updateItem':
          await this.prepareUpdateValidate();
          await this.confirmUpdateItemDialog();
          await this.prepareDoUpdateItem();
          await this.doUpdateItem();
          await this.closeUpdateDrawer();
          await this.getStatusCount();
          await this.getTableData();
          break;
        case 'deleteItem':
          await this.prepareDeleteFormData(uiActionData);
          await this.confirmDeleteItemDialog();
          await this.prepareDoDeleteItem();
          await this.doDeleteItem();
          await this.clearDeleteItem();
          await this.getTableData();
          break;
        case 'redirect':
          await this.redirectToJobList();
          break;
        case 'jumpToResumePreview':
          await this.jumpToResumePreview(uiActionData);
          break;
          case 'newCandidate':
          await this.newCandidate(uiActionData);
          await this.getTableData();
          await this.getStatusCount();
          break;
        case 'passPreliminarySelection':
          await this.passPreliminarySelection(uiActionData);
          await this.getTableData();
          await this.getStatusCount();
          break;
        case 'arrangeInterview':
          await this.arrangeInterview(uiActionData);
          await this.getTableData();
          await this.getStatusCount();
          break;
        case 'passInterview':
          await this.passInterview(uiActionData);
          await this.getTableData();
          await this.getStatusCount();
          break;
        case 'sendOffer':
          await this.sendOffer(uiActionData);
          await this.getTableData();
          await this.getStatusCount();
          break;
        case 'pendingEntry':
          await this.pendingEntry(uiActionData);
          await this.getTableData();
          await this.getStatusCount();
          break;
        case 'phaseOut':
          await this.phaseOut(uiActionData);
          await this.getTableData();
          await this.getStatusCount();
          break;
        case 'alreadyEntry':
          await this.alreadyEntry(uiActionData);
          await this.getTableData();
          await this.getStatusCount();
          await this.creatEmployeeItem(uiActionData);
          break;
        default:
          console.error("[doUiAction] uiActionId not find", {uiActionId});
          break;
      }
    },

    getHeaders(content) {
        return this[`${content.action}Headers`] || []
      },

    // 状态筛选
    changeStatus(filed, value) {
        console.log("filed",filed)
        console.log("value",value)
        this.serverSearchForm.select = {};
        this.serverSearchForm.select[filed] = value;
        this.getTableData();
      },

      /**
       * 状态统计
       */
      // async getStatusCount() {
      //   const { rows } = (await window.jianghuAxios({
      //     data: {
      //       appData: {
      //         pageId: 'jobResumeOfJobPosition',
      //         actionId: 'getStatusCount'
      //       }
      //     }
      //   })).data.appData.resultData;
      //   this.setSelectOptionList(rows)
      // },

      async getStatusCount() {
        const { rows } = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeOfJobPosition',
              actionId: 'getStatusCount',
              where:{jobId:this.jobId}
            }
          }
        })).data.appData.resultData;
        this.num1 = rows[0].num1;
        this.num2 = rows[0].num2;
        this.num3 = rows[0].num3;
        this.num4 = rows[0].num4;
        this.num5 = rows[0].num5;
        this.num6 = rows[0].num6;
        this.num7 = rows[0].num7;
        this.num8 = rows[0].num8;
        console.log("resumeStatusByJobId",rows)
      },

      /**
       * 设置下拉框的选项列表
       */
      // setSelectOptionList(rows) {
      //   _.forIn(rows, (value, key) => {
      //     const obj = _.keyBy(value, key)
      //     _.forEach(this.constantObj[key], o => {
      //       o.num = obj[o.value] ? obj[o.value].count : 0
      //     })
      //   });
      //   this.$forceUpdate();
      // },


    /**
     * 获取表格数据
     */

    async getTableData() {
        this.isTableLoading = true;
        const selectWhere = _.omitBy(this.serverSearchForm.select, _.isNull);
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeOfJobPosition',
              actionId: 'selectItemList',
              where: { jobId: this.jobId },
              whereLike:selectWhere,
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        });
        const { rows, count } = result.data.appData.resultData;
        this.tableData = rows;
        this.isTableLoading = false;
      },


    // ---------- 新增数据 uiAction >>>>>>>>>> --------
    async prepareCreateFormData() {
      this.createItem = {};
    },

    async openCreateDrawer() {
      this.isCreateDrawerShown = true;
    },

    async prepareCreateValidate() {
      if (await this.$refs.createForm.validate()) {
        return true;
      }
      throw new Error("请完善表单信息")
    },

    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
        throw new Error("[confirmCreateFormDialog] 否");
      }
    },

    prepareDoCreateItem() {
      const {id, ...data} = this.createItem;
      this.createActionData = data;
    },

    async doCreateItem() {
      await window.jhMask.show();
      await window.vtoast.loading("新增数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'jobResumeOfJobPosition',
            actionId: 'insertItem',
            actionData: this.createActionData
          }
        }
      })
      await window.jhMask.hide();
      await window.vtoast.success("新增数据成功");
    },
    async closeCreateDrawer() {
      this.isCreateDrawerShown = false;
      this.createItem = {};
      this.createActionData = null;
    },
    // ---------- <<<<<<<<<<< 新增数据 uiAction ---------
    // ---------- 修改数据 uiAction >>>>>>>>>>>> --------
    async prepareUpdateFormData(funObj) {
      this.updateItem = _.cloneDeep(funObj);
    },

    async openUpdateDrawer() {
      this.isUpdateDrawerShown = true;
    },

    async prepareUpdateValidate() {
      if (await this.$refs.updateForm.validate()) {
        return true;
      }
      throw new Error("请完善表单信息")
    },

    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
        throw new Error("[confirmUpdateItemDialog] 否");
      }
    },

    async prepareDoUpdateItem() {
      const {id,jobResumeId,totalCount,num1,num2,num3,num4,num5,num6,num7,num8, ...data} = this.updateItem;
      this.updateItemId = jobResumeId;;
      this.updateActionData = data;
    },

    async doUpdateItem() {
      await window.jhMask.show();
      await window.vtoast.loading("修改数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'jobResumeOfJobPosition',
            actionId: 'updateItem',
            actionData: this.updateActionData,
            where: {jobResumeId: this.updateItemId}
          }
        }
      })

      await window.jhMask.hide();
      await window.vtoast.success("修改数据成功");
    },

    async closeUpdateDrawer() {
      this.isUpdateDrawerShown = false;
      this.updateItem = {};
      this.updateActionData = null;
      this.updateItemId = null;
    },
    // ---------- <<<<<<<<<<< 修改数据 uiAction ---------
    // ---------- 删除数据 uiAction >>>>>>>>>>>> --------
    async prepareDeleteFormData(funObj) {
      this.deleteItem = _.cloneDeep(funObj);
    },
    async confirmDeleteItemDialog() {
      if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
        throw new Error("[confirmDeleteItemDialog] 否");
      }
    },
    async prepareDoDeleteItem() {
      const {id} = this.deleteItem;
      this.deleteItemId = id;
    },
    async doDeleteItem() {
      await window.vtoast.loading("删除数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'jobResumeOfJobPosition',
            actionId: 'deleteItem',
            actionData: {},
            where: {id: this.deleteItemId}
          }
        }
      });
      await window.vtoast.success("删除数据成功");
    },
    async clearDeleteItem() {
      this.deleteItem = {};
      this.deleteItemId = null;
    },
    // ---------- <<<<<<<<<<< 删除数据 uiAction ---------
    jumpToResumePreview({id}) {
      location.href = '/<$ ctx.app.config.appId $>/page/jobResumePreview?id=' + id;
      
    },

    redirectToJobList(){
      window.location.href = `/${window.appInfo.appId}/page/jobPostingsManagement`
    },

    async newCandidate({ item }) {
        this.updateItem = item;
        const { jobResumeId } = this.updateItem;
        await window.vtoast.loading("正在切换候选人状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeOfJobPosition',
              actionId: 'updateItem',
              actionData: { resumeStatus: '新候选人' },
              where: { jobResumeId }
            }
          }
        })
        await window.vtoast.success("切换成功！");
      },

    async passPreliminarySelection({ item }) {
        this.updateItem = item;
        const { jobResumeId } = this.updateItem;
        await window.vtoast.loading("正在切换候选人状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeOfJobPosition',
              actionId: 'updateItem',
              actionData: { resumeStatus: '初选通过' },
              where: { jobResumeId }
            }
          }
        })
        await window.vtoast.success("切换成功！");
      },

      async arrangeInterview({ item }) {
        this.updateItem = item;
        const { jobResumeId } = this.updateItem;
        await window.vtoast.loading("正在切换候选人状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeOfJobPosition',
              actionId: 'updateItem',
              actionData: { resumeStatus: '安排面试' },
              where: { jobResumeId }
            }
          }
        })
        await window.vtoast.success("切换成功！");
      },

      async passInterview({ item }) {
        this.updateItem = item;
        const { jobResumeId } = this.updateItem;
        await window.vtoast.loading("正在切换候选人状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeOfJobPosition',
              actionId: 'updateItem',
              actionData: { resumeStatus: '面试通过' },
              where: { jobResumeId }
            }
          }
        })
        await window.vtoast.success("切换成功！");
      },

      async sendOffer({ item }) {
        this.updateItem = item;
        const { jobResumeId } = this.updateItem;
        await window.vtoast.loading("正在切换候选人状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeOfJobPosition',
              actionId: 'updateItem',
              actionData: { resumeStatus: '已发offer' },
              where: { jobResumeId }
            }
          }
        })
        await window.vtoast.success("切换成功！");
      },

      async pendingEntry({ item }) {
        this.updateItem = item;
        const { jobResumeId } = this.updateItem;
        await window.vtoast.loading("正在切换候选人状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeOfJobPosition',
              actionId: 'updateItem',
              actionData: { resumeStatus: '待入职' },
              where: { jobResumeId }
            }
          }
        })
        await window.vtoast.success("切换成功！");
      },

      async pendingEntry({ item }) {
        this.updateItem = item;
        const { jobResumeId } = this.updateItem;
        await window.vtoast.loading("正在切换候选人状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeOfJobPosition',
              actionId: 'updateItem',
              actionData: { resumeStatus: '待入职' },
              where: { jobResumeId }
            }
          }
        })
        await window.vtoast.success("切换成功！");
      },

      async phaseOut({ item }) {
        this.updateItem = item;
        const { jobResumeId } = this.updateItem;
        await window.vtoast.loading("正在切换候选人状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeOfJobPosition',
              actionId: 'updateItem',
              actionData: { resumeStatus: '已淘汰' },
              where: { jobResumeId }
            }
          }
        })
        await window.vtoast.success("切换成功！");
      },

      async alreadyEntry({ item }) {
        this.updateItem = item;
        const { jobResumeId } = this.updateItem;
        await window.vtoast.loading("正在切换候选人状态");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeOfJobPosition',
              actionId: 'updateItem',
              actionData: { resumeStatus: '已入职' },
              where: { jobResumeId }
            }
          }
        })
        await window.vtoast.success("切换成功！");
      },

      async creatEmployeeItem({ item }){
       const actionData = {
 
        employeeName:item.user,
        sex:item.gender,
        age:item.age,
        contactNumber:item.phoneNumber,
        post:item.jobTitle,
        icNumber:item.IDNumber,
        highestEducation:item.highestEducation,
        entryStatus:'待入职',
       };

        await window.vtoast.loading("正在创建员工信息");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'jobResumeOfJobPosition',
              actionId: 'creatEmployeeItem',
              actionData: actionData,
            }
          }
        })
        await window.vtoast.success("成功创建员工信息！");
      },

  }
})
</script>

<style scoped>
  /* 返回按钮 >>>>>> */
  .back-btn {
    pointer-events: auto;
  }

  .back-btn i {
    position: relative;
    top: -1px;
  }
  /* <<<<< 返回按钮 */
</style>

{% endblock %}
